.border-radius (@border: 0) {
  -webkit-border-radius: @border;
  -moz-border-radius: @border;
  border-radius: @border;
}
.placeholder(@color: #000) {
  *::-webkit-input-placeholder{
    color: @color !important;
  }
  *:-moz-placeholder{
    color: @color !important;
  }
  *::-moz-placeholder{
    color: @color !important;
  }
  *:-ms-input-placeholder {
    color: @color !important;
  }
}
.transition(@property: all, @duration: 0.5s) {
  -webkit-transition: @property @duration;
  -moz-transition: @property @duration;
  -o-transition: @property @duration;
  transition: @property @duration;
}
.box-shadow(@color: @color-lgrey, @size: 8px) {
  -moz-box-shadow: 0 0 @size @color;
  -webkit-box-shadow: 0 0 @size @color;
  box-shadow: 0 0 @size @color;
}
.box-shadow-none() {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.transition-none() {
  -moz-transition-property: none;
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}