@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic);
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Ubuntu", Arial, sans-serif;
  line-height: 30px;
  width: 100%;
  color: #221f20;
  background-color: #fff;
}
a {
  color: #221f20;
  text-decoration: none;
}
a:hover {
  color: #60123c;
}
a:focus {
  color: #221f20;
  outline: none;
}
a.bold {
  font-weight: 700;
}
h1,
h3,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 48px;
  line-height: 60px;
  color: #60123c;
}
h2 {
  font-size: 36px;
  line-height: 40px;
}
h2.light {
  font-weight: 300;
}
h3 {
  font-size: 30px;
  line-height: 24px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h5,
h6 {
  font-size: 18px;
}
input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.bootstrap-select,
textarea.form-control,
input[type=number],
input[type=password],
input[type=number],
input[type=text],
input[type=file],
input[type=email] {
  width: 100%;
  max-width: 390px;
  height: 42px;
  border: #000 1px solid;
  background-color: #fff;
  border-radius: 0;
  padding: 0 15px;
}
.form-control:focus {
  -moz-box-shadow: 0 0 8px #999999;
  -webkit-box-shadow: 0 0 8px #999999;
  box-shadow: 0 0 8px #999999;
}
.bootstrap-select * {
  font-weight: 400;
  padding-left: 0;
  font-size: 16px;
  font-family: "Ubuntu", Arial, sans-serif;
}
.dropdown-menu > li:hover,
.dropdown-menu > li.selected {
  background-color: #e6e7e8;
}
.dropdown-menu > li.selected > a,
.bootstrap-select .dropdown-menu li a:hover {
  background-color: transparent;
}
.btn-group.open .dropdown-toggle,
.selectpicker {
  text-transform: none;
  box-shadow: none !important;
  background-color: transparent !important;
}
.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
.bootstrap-select .btn,
.bootstrap-select .btn .filter-option {
  height: 42px;
  line-height: 42px;
  border: 0 !important;
  padding: 0;
  transition: none;
  text-indent: 0;
}
.bootstrap-select.btn-group .dropdown-menu li {
  padding: 5px 0;
}
.bootstrap-select .btn .caret {
  width: 10px;
  height: 14px;
  border: 0;
  right: 0 !important;
  margin-top: -7px !important;
  background-image: url(../img/select_ico.png);
  background-repeat: no-repeat;
}
textarea.form-control {
  max-width: 100%;
  width: 100%;
  height: 180px;
}
textarea.form-control,
input.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
textarea.form-control:focus,
input.form-control:focus {
  border-color: transparent;
}
textarea.form-control.error,
input.form-control.error {
  border-color: transparent;
}
.form-group .error {
  color: #ff0000;
}
*::-webkit-input-placeholder {
  color: #221f20 !important;
}
*:-moz-placeholder {
  color: #221f20 !important;
}
*::-moz-placeholder {
  color: #221f20 !important;
}
*:-ms-input-placeholder {
  color: #221f20 !important;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.table-display {
  display: table;
}
.uppercase {
  text-transform: uppercase;
}
.text-grey {
  color: #999999;
}
.text-lgrey {
  color: #e6e7e8;
}
.text-purple {
  color: #60123c;
}
.text-orange {
  color: #f0933e;
}
.text-red {
  color: #ff0000;
}
.text-italic {
  font-style: italic;
}
.content h1 .text-light,
.content h2 .text-light,
.content .text-light {
  font-weight: 300;
}
.divider {
  position: absolute;
  left: -300px;
  width: 999em;
  height: 0;
  border-top: #221f20 1px solid;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
.navbar-collapse,
.row,
[class*="col-"]:not([class*="-offset-"]),
.container,
.container-fluid {
  margin: 0;
  padding: 0;
}
.container-fluid {
  position: relative;
  overflow: hidden;
}
.container {
  position: relative;
  max-width: 1280px;
  width: 100%;
}
.unvisible {
  display: none !important;
}
.tooltip-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: block;
  padding: 0 35px 0 15px;
  color: #e6e7e8;
  background-color: #221f20;
  text-align: left;
  max-width: 400px;
  width: 390px;
  height: 40px;
  line-height: 40px;
  font-size: 16px !important;
  background-image: url("../img/tooltip_close.png");
  background-repeat: no-repeat;
  background-position: right  center;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #221f20;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #221f20;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #221f20;
  border-width: 0 10px 10px !important;
  left: 20px !important;
  margin-left: 0 !important;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #221f20;
}
.af-message-success {
  background-color: #60123c !important;
  color: #fff;
}
.btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  min-width: 110px;
  color: #221f20;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #e6e7e8;
  border: transparent 1px solid;
  background-repeat: no-repeat;
  background-position: 300px center;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.btn:hover {
  text-indent: -600px;
  background-position: center center;
}
.btn:focus,
.btn:active {
  color: #dadbdc;
  box-shadow: none;
  border: #fff 1px solid;
  background-color: #dadbdc;
}
.btn.black {
  color: #fff;
  background-color: #000;
}
.btn.black:focus,
.btn.black:active,
.btn.black:hover {
  background-color: #60123c;
}
.btn.btn-purple:focus,
.btn.btn-purple:active,
.btn.btn-purple:hover {
  background-color: #60123c;
}
.btn.lgrey:focus,
.btn.lgrey:active,
.btn.lgrey:hover {
  background-color: #dadbdc;
}
.btn.btn-read-more {
  background-image: url("../img/btn-read-more.png");
}
.btn.btn-cart {
  background-image: url("../img/btn_cart_ico.png");
}
.btn.btn-wishlist {
  background-image: url("../img/btn_wishlist_ico.png");
}
.btn.btn-wishlist-white {
  background-image: url("../img/btn_wishlist_white_ico.png");
}
.btn.btn-compare {
  background-image: url("../img/btn_compare_ico.png");
}
.btn.btn-submit {
  background-image: url("../img/btn_submit_ico.png");
}
.btn.btn-pay {
  background-image: url("../img/btn_pay_ico.png");
}
.btn.btn-return {
  background-image: url("../img/btn_return_ico.png");
}
.btn.btn-add {
  background-image: url("../img/btn_add_ico.png");
}
.btn.btn-share {
  background-image: url("../img/btn_share_ico.png");
}
.btn.btn-transform {
  width: auto;
}
.btn.btn-transform:hover {
  text-indent: 0;
  background-color: #60123c;
  color: #FFFFFF;
}
.btn.btn-continue {
  background-image: url("../img/btn_continue_ico.png");
}
.btn.btn-delete {
  background-image: url("../img/btn_delete_ico.png");
}
.btn.btn-edit {
  background-image: url("../img/btn_edit_ico.png");
}
.btn.btn-comment {
  background-image: url("../img/btn_comment_ico.png");
}
.btn.btn-save {
  background-image: url("../img/btn_save_ico.png");
}
.btn.btn-viewcart {
  background-image: url("../img/btn_viewcart_ico.png");
}
.btn.btn-sendfriend {
  background-image: url("../img/btn_sendfriend_ico.png");
}
.btn.btn-send {
  background-image: url("../img/btn_send_ico.png");
}
.btn.btn-signin {
  background-image: url("../img/btn_signin_ico.png");
}
.btn.btn-createaccount {
  background-image: url("../img/btn_createaccount_ico.png");
}
.btn.btn-update {
  background-image: url("../img/btn_update_ico.png");
}
.btn.btn-addwishlist {
  background-image: url("../img/btn_addwishlist_ico.png");
}
.btn.btn-addcart {
  background-image: url("../img/btn_addcart_ico.png");
}
.btn.btn-viewcart {
  background-image: url("../img/btn_viewcart_ico.png");
}
.btn.btn-checkout {
  background-image: url("../img/btn_checkout_ico.png");
}
.btn.btn-guest {
  background-image: url("../img/btn_guest_ico.png");
}
.btn .icon-extra {
  display: block;
  width: 27px;
  height: 40px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/btn_extra_ico.png");
}
.btn.btn-extra {
  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  -o-transition: background-color 0.7s;
  transition: background-color 0.7s;
  position: relative;
  width: 40px;
  min-width: 1px;
  padding: 0;
}
.btn.btn-extra:active,
.btn.btn-extra.active {
  box-shadow: none;
  background-color: #fff;
  border-top-color: #221f20;
}
.btn.btn-extra span {
  position: absolute;
  display: block;
  text-indent: -999em;
}
.btn.btn-extra .icon-extra {
  margin: 0 auto;
}
.btn.btn-cart-extra {
  min-width: 215px;
  text-indent: 0;
  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  -o-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
.btn.btn-cart-extra:hover {
  background-color: #221f20;
}
.btn.btn-cart-extra span {
  display: block;
  float: left;
  height: 38px;
  line-height: 38px;
  margin-left: 15px;
  padding-right: 10px;
}
.btn.btn-cart-extra .icon-extra {
  float: left;
}
.btn.btn-wishlist-extra:hover {
  background-color: #221f20;
}
.btn.btn-wishlist-extra .icon-extra {
  background-position: -34px 0;
}
.btn.btn-send-extra:hover {
  background-color: #eee;
}
.btn.btn-send-extra .icon-extra {
  background-position: -75px 0;
}
.btn.btn-share-extra:hover {
  background-color: #eee;
}
.btn.btn-share-extra .icon-extra {
  background-position: -117px 0;
}
.btn.purple {
  color: #fff;
  background-color: #60123c;
}
.btn.social-sharing {
  background-color: transparent;
  border-color: #e6e7e8;
  line-height: 30px;
  height: 30px;
  min-width: 1px;
  padding: 0 10px;
  -moz-transition-property: none;
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  font-weight: 400;
  text-transform: none;
  text-indent: 0;
}
.btn.social-sharing.btn-facebook:hover,
.btn.social-sharing.btn-twitter:hover,
.btn.social-sharing.btn-google-plus:hover,
.btn.social-sharing.btn-pinterest:hover,
.btn.social-sharing.btn-youtube:hover {
  border-color: white;
}
.btn.social-sharing.btn-facebook i {
  color: #435f9f;
}
.btn.social-sharing.btn-facebook:hover {
  color: white;
  background-color: #435f9f;
}
.btn.social-sharing.btn-facebook:hover i {
  color: white;
}
.btn.social-sharing.btn-twitter i {
  color: #00aaf0;
}
.btn.social-sharing.btn-twitter:hover {
  color: white;
  background-color: #00aaf0;
}
.btn.social-sharing.btn-twitter:hover i {
  color: white;
}
.btn.social-sharing.btn-google-plus i {
  color: #e04b34;
}
.btn.social-sharing.btn-google-plus:hover {
  color: white;
  background-color: #e04b34;
}
.btn.social-sharing.btn-google-plus:hover i {
  color: white;
}
.btn.social-sharing.btn-pinterest i {
  color: #ce1f21;
}
.btn.social-sharing.btn-pinterest:hover {
  color: white;
  background-color: #ce1f21;
}
.btn.social-sharing.btn-pinterest:hover i {
  color: white;
}
.sidebar {
  position: relative;
  padding: 20px 40px 80px;
  float: left;
  width: 25%;
  max-width: 300px;
  background-color: #221f20;
  color: #e6e7e8;
  z-index: 2;
}
.sidebar .ajax_cart_block_remove_link,
.sidebar .cart_block_product_name {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}
.sidebar .ajax_cart_block_remove_link:hover,
.sidebar .cart_block_product_name:hover {
  color: #999999;
  text-decoration: none;
}
.sidebar .ajax_cart_block_remove_link {
  width: 10px;
  height: 10px;
  display: block;
  margin: 5px 0 0;
  text-indent: -9999em;
  background: url("../img/btn_delete_small_ico.png") no-repeat 0 0;
}
.sidebar .product_item {
  padding-bottom: 10x;
  margin-bottom: 10px;
  border-bottom: #999999 1px solid;
}
.sidebar .product_item .price {
  float: right;
  line-height: 16px;
  margin-bottom: 5px;
}
.sidebar .product_item input[type=text] {
  float: right;
  width: 45px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  color: #fff;
  background-color: #999999;
}
.sidebar .block_content {
  display: none;
}
.sidebar .block_content .btn {
  width: 100%;
  background-color: #221f20;
  margin-bottom: 20px;
  border-color: #fff;
  border-width: 2px;
}
.sidebar .block_content .btn:hover {
  background-color: #60123c;
}
.sidebar .block_content .btn.purple {
  background-color: #60123c;
  border: 0;
}
.sidebar .block_content .btn-compare {
  background-image: url("../img/compare_ico.png");
}
.sidebar .block_content .btn-close {
  display: block;
  margin: 30px auto;
  width: 29px;
  height: 18px;
  text-indent: -9999em;
  background: url("../img/sidebar_close_ico.png") no-repeat 0 0;
}
.sidebar .block_content .btn-blockwishlist {
  margin: 30px 0;
}
.sidebar .block_content h3 {
  font-size: 18px;
  color: #e6e7e8;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar .block_content#cart_block_list .sidebar-btn {
  border-right: 0;
}
.sidebar .block_content#cart_block_list .total_cart {
  margin: 10px 0;
}
.sidebar .block_content#cart_block_list .btn-checkout {
  background-color: #60123c;
  border-color: #60123c;
}
.sidebar .block_content#cart_block_list .btn-viewcart:hover {
  background-color: transparent;
}
.sidebar * {
  color: #fff;
}
.sidebar pre {
  color: #000;
}
.sidebar .navbar {
  border: 0;
}
.sidebar .navbar-toggle .icon-bar {
  background-color: #e6e7e8;
}
.sidebar .navbar-header {
  float: none;
  display: none;
}
.sidebar .menu_collapse_btn {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 30px;
  margin-left: 3px;
  background: url("../img/menu_arrows.png") no-repeat 0 -136px;
}
.sidebar .cart-wrapper {
  margin-bottom: 40px;
}
.sidebar .cart-wrapper.active .sidebar-btn {
  border-bottom: #fff 1px solid;
}
.sidebar .cart-wrapper.active .sidebar-btn.active {
  border: #fff 1px solid;
  border-bottom: 0;
}
.sidebar .sidebar-btn {
  width: 25%;
  float: left;
}
.sidebar .sidebar-btn a {
  position: relative;
  display: block;
  width: 50px;
  min-height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin: 13px 0;
  color: #e6e7e8;
  background: url("../img/menu_btn.png") no-repeat 15px 5px;
}
.sidebar .sidebar-btn a:focus,
.sidebar .sidebar-btn a:hover {
  text-decoration: none;
}
.sidebar .sidebar-btn a button {
  border: 0;
  background-color: transparent;
}
.sidebar .sidebar-btn a span {
  position: absolute;
  display: block;
  text-align: center;
  top: 30px;
  left: 0;
  width: 100%;
  line-height: 24px;
}
.sidebar .sidebar-btn.sidebar-member {
  border-left: 0 !important;
}
.sidebar .sidebar-btn.sidebar-compare a {
  background-position: -218px 5px;
}
.sidebar .sidebar-btn.sidebar-wishlist a {
  background-position: -68px 5px;
}
.sidebar .sidebar-btn.sidebar-cart {
  border-right: 0 !important;
}
.sidebar .sidebar-btn.sidebar-cart a {
  background-position: -143px 5px;
}
.sidebar .sidebar-btn .compare-form {
  width: auto;
}
.sidebar .cart-wrapper-small .sidebar-btn {
  border: 0 !important;
}
.sidebar .cart-wrapper-small .sidebar-btn a {
  width: 28px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px;
  text-align: center;
}
.sidebar .cart-wrapper-small .sidebar-btn.sidebar-member a {
  height: 25px;
  background-position: 4px 0;
  margin-bottom: 0;
}
.sidebar .cart-wrapper-small .sidebar-btn.sidebar-compare a {
  margin-top: 0;
  background-position: -231px 10px;
}
.sidebar .cart-wrapper-small .sidebar-btn.sidebar-wishlist a {
  background-position: -79px 10px;
}
.sidebar .cart-wrapper-small .sidebar-btn.sidebar-cart a {
  background-position: -155px 10px;
}
.sidebar .cart-wrapper-small .sidebar-btn:focus,
.sidebar .cart-wrapper-small .sidebar-btn:active {
  text-decoration: none;
}
.sidebar .cart-wrapper-small .sidebar-btn span {
  top: 35px;
}
.sidebar form {
  width: 220px;
}
.sidebar form input {
  height: 40px;
  background-color: transparent;
  border: #fff 1px solid;
}
.sidebar form input:focus {
  background-color: #fff;
}
.sidebar form input[type="email"],
.sidebar form input[type="text"] {
  font-size: 15px;
  color: #e6e7e8;
  float: left;
  width: 180px;
  border-right: 0;
}
.sidebar form input[type="email"]:focus,
.sidebar form input[type="text"]:focus {
  color: #221f20;
}
.sidebar form input[type="submit"] {
  float: right;
  width: 40px;
  border-left: 0;
  background: url("../img/search_ico.png") no-repeat 10px center;
}
.sidebar form input[type="submit"]:focus {
  background-color: #fff;
  background-position: -19px center;
}
.sidebar form *::-webkit-input-placeholder {
  color: #e6e7e8 !important;
}
.sidebar form *:-moz-placeholder {
  color: #e6e7e8 !important;
}
.sidebar form *::-moz-placeholder {
  color: #e6e7e8 !important;
}
.sidebar form *:-ms-input-placeholder {
  color: #e6e7e8 !important;
}
.sidebar .nav {
  margin-top: 70px;
}
.sidebar .nav li {
  display: block;
  background-color: transparent;
}
.sidebar .nav li a {
  color: #e6e7e8;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.7px;
  background-color: transparent;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  white-space: normal;
}
.sidebar .nav li a:focus,
.sidebar .nav li a:hover {
  color: #fff;
  background-color: transparent !important;
}
.sidebar .nav li.active > a {
  color: #fff;
}
.sidebar .nav li.open > a {
  font-weight: 700;
}
.sidebar .nav .dropdown-menu {
  background-color: transparent;
  position: relative;
  float: none;
  margin-bottom: 5px;
  border-bottom: #e6e7e8 1px solid;
  padding-left: 10px;
}
.sidebar .nav .dropdown-menu .dropdown-menu {
  border-bottom: 0;
}
.sidebar .nav .dropdown-menu .dropdown {
  position: relative;
  padding-right: 20px;
}
.sidebar .nav .dropdown-menu .dropdown:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-top-color: #e6e7e8;
  position: absolute;
  top: 11px;
  right: 0px;
}
.sidebar .nav .dropdown-menu .dropdown.open > a {
  font-weight: 700;
}
.sidebar .nav .dropdown-menu .dropdown.open:after {
  border-top-width: 0;
  border-bottom-width: 7px;
  border-bottom-color: #e6e7e8;
}
.sidebar .nav .dropdown-menu li.active > a {
  color: #e6e7e8;
}
.sidebar .nav .dropdown-menu a {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}
.sidebar .nav .dropdown-menu a.text-orange {
  color: #f0933e;
}
.sidebar .nav .dropdown-menu li.sidebar-offer {
  position: relative;
  color: #f0933e;
}
.sidebar .nav .dropdown-menu li.sidebar-offer a {
  color: inherit;
}
.sidebar .nav .dropdown-menu li.sidebar-offer:after {
  content: "%";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.sidebar #navbar {
  position: relative;
  /*padding-bottom: 350px;*/
  background-color: #221f20;
}
.sidebar #navbar .navbar-footer {
  /*position: absolute;
      bottom: 0;*/
  margin-top: 350px;
}
.sidebar #navbar .navbar-footer .nav {
  margin-top: 0;
}
.sidebar #navbar .navbar-footer .nav li a {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
.sidebar #navbar .navbar-footer .nav li a:hover {
  color: #e6e7e8;
}
.sidebar #navbar .navbar-footer .nav li.active a {
  color: #fff;
}
.sidebar #navbar .navbar-footer h3 {
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.sidebar #navbar .navbar-footer .newsletter_form {
  margin-bottom: 30px;
}
.sidebar #viewed-products_block_left {
  margin-top: 30px;
}
.sidebar #viewed-products_block_left .block_content {
  display: block;
}
.sidebar #viewed-products_block_left .title_block {
  text-transform: uppercase;
}
.sidebar #viewed-products_block_left li {
  list-style: none;
  margin-bottom: 20px;
}
.sidebar #viewed-products_block_left li img {
  padding-bottom: 10px;
}
.sidebar #viewed-products_block_left .product-description {
  font-size: 14px;
  line-height: 22px;
}
.social li {
  list-style: none;
  float: left;
  width: 25%;
}
.social li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: url("../img/social_ico2.png") no-repeat 0 10px;
}
.social li a:hover {
  background-position: 0 -36px;
}
.social li a span {
  position: absolute;
  top: -999em;
}
.social li.facebook a {
  padding-left: 0;
}
.social li.google-plus a,
.social li.googleplus a {
  background-position: -50px 10px;
}
.social li.google-plus a:hover,
.social li.googleplus a:hover {
  background-position: -50px -36px;
}
.social li.twitter a {
  background-position: -125px 10px;
}
.social li.twitter a:hover {
  background-position: -125px -36px;
}
.social li.pinterest a {
  background-position: -166px 10px;
}
.social li.pinterest a:hover {
  background-position: -166px -36px;
}
.social li.instagram a {
  background-position: -239px 12px;
}
.social li.instagram a:hover {
  background-position: -239px -33px;
}
.social li.youtube a {
  background-position: -310px 12px;
}
.social li.youtube a:hover {
  background-position: -310px -33px;
}
.content {
  float: left;
  width: 75%;
  position: relative;
  padding: 80px 20px 80px 40px;
}
.index .content,
.homepage .content {
  padding-top: 0;
}
.index .logo-wrapper,
.homepage .logo-wrapper {
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 11;
}
.index .logo-wrapper span,
.homepage .logo-wrapper span {
  font-size: 20px;
  line-height: 60px;
  color: #60123c;
}
.carousel {
  position: relative;
  z-index: 1;
  margin-left: 10px;
}
.carousel .carousel-inner .item {
  height: 620px;
  background-position: right top;
  background-repeat: no-repeat;
}
.carousel .carousel-inner .item a:hover {
  text-decoration: none;
}
.carousel .carousel-inner .item .img-bg,
.carousel .carousel-inner .item .img-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
.carousel .carousel-inner .item .img-responsive {
  position: relative;
  margin: 0 auto;
}
.carousel .carousel-inner .item .carousel-caption {
  position: relative;
  top: 200px;
  left: 10px;
  max-width: 390px;
  padding-left: 30px;
  padding-bottom: 120px;
  line-height: 24px;
  text-align: left;
  text-shadow: none;
  color: #221f20;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.carousel .carousel-inner .item .carousel-caption img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.carousel .carousel-indicators {
  bottom: 60px;
  left: 0;
  margin-left: 30px;
  width: auto;
}
.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border: 0;
  margin-right: 5px;
  background-color: #d2d2d2;
}
.carousel .carousel-indicators li.active {
  background-color: #221f20;
}
.products_list_wrapper {
  margin-top: 60px;
  overflow: hidden;
  padding: 20px 0;
}
.products_list_wrapper h2,
.products_list_wrapper h4 {
  font-size: 24px;
  margin-bottom: 25px;
  margin-left: 50px;
}
.products_list_wrapper .products_list_item_wrapper {
  max-width: 235px;
  min-width: 160px;
  height: 550px;
  list-style: none;
}
.products_list_wrapper .products_list_item {
  padding: 0 10px;
  margin: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.products_list_wrapper .products_list_item .img-wrapper {
  height: 290px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.products_list_wrapper .products_list_item .product-descr {
  margin: 0 20px;
  padding-top: 13px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border-top: #221f20 1px solid;
  background-color: #fff;
}
.products_list_wrapper .products_list_item a:hover {
  text-decoration: none;
}
.products_list_wrapper .products_list_item h5 {
  line-height: 24px;
}
.products_list_wrapper .products_list_item .price {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.products_list_wrapper .products_list_item .discount-price {
  padding: 0 3px;
  background-color: #f0933e;
  color: #fff;
  font-weight: 500;
}
.products_list_wrapper .products_list_item .btn_wrapper {
  text-align: center;
  display: none;
  padding-bottom: 20px;
}
.products_list_wrapper .products_list_item .btn_wrapper img {
  margin: 0 auto;
}
.products_list_wrapper .products_list_item .btn {
  width: 175px;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 500;
}
.products_list_wrapper .products_list_item .btn.purple {
  margin-bottom: 5px;
  font-size: 16px;
}
.products_list_wrapper .products_list_item:hover {
  -moz-box-shadow: 0 0 8px #e6e7e8;
  -webkit-box-shadow: 0 0 8px #e6e7e8;
  box-shadow: 0 0 8px #e6e7e8;
}
.products_list_wrapper .products_list_item:hover .img-wrapper {
  height: 110px;
  background: url("../img/product_hover_bg.png") no-repeat center top;
}
.products_list_wrapper .products_list_item:hover .btn_wrapper {
  display: block;
}
.comments_note {
  text-align: center;
}
.comments_note .star_content {
  display: inline-block;
}
.comments_note .star {
  color: #e6e7e8;
  font-family: "Glyphicons Halflings";
  width: 16px;
  font-size: 16px;
}
.comments_note .star.star_on {
  color: #60123c;
}
.comments_note .nb-comments {
  display: inline-block;
  line-height: 19px;
}
.img_banner {
  position: absolute;
  right: 15px;
  top: 0px;
}
.inner .content {
  padding-left: 80px;
}
.inner .logo-wrapper {
  height: 60px;
  margin-bottom: 80px;
}
.inner .content-wrapper h3.uppercase {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#returns li,
ul.bullet-list li {
  list-style: none;
  margin-left: 30px;
  margin-bottom: 12px;
  padding-left: 30px;
  background: url("../img/li.png") no-repeat 0 8px;
}
.header-bg {
  background-color: #dcdbd3;
  height: 250px;
  width: 100%;
  position: absolute;
  top: 220px;
  left: 0;
}
.module-belvg_testimonials-view .header-bg,
.module-belvg_testimonials-view .content-header,
.header-bg-green {
  background-color: #d6e99c !important;
}
.module-belvg_testimonials-view .content-header {
  background-image: url("../img/header_bg_green.png") !important;
}
.module-belvg_testimonials-view .pagination .disabled {
  display: none;
}
.prices-drop .header-bg,
.header-bg-orange {
  background-color: #f0933e !important;
}
.prices-drop .divider {
  display: none;
}
.category .header-bg,
.header-bg-lilo {
  background-color: #e0cfd9 !important;
}
.content-header {
  background-color: #dcdbd3;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../img/header_bg_grey.png");
  background-size: contain;
  height: 250px;
  padding: 40px 390px 40px 0;
  margin-bottom: 75px;
  position: relative;
}
.content-header h1 {
  color: #221f20;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1.7px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.content-header h1 span {
  font-weight: 300;
}
.content-header .introtext {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.content-header .introtext .fontsize18 {
  font-size: 18px;
}
.content-header .introtext em {
  display: block;
  margin-bottom: 20px;
}
.cms .content-header .introtext .sign {
  font-size: 16px;
  font-style: normal;
}
.content-wrapper {
  line-height: 24px;
}
.content-wrapper > * {
  margin-bottom: 25px;
}
.content-wrapper .introtext {
  font-size: 18px;
}
.content-wrapper .alert {
  color: #60123c;
  border-color: #60123c;
  background-color: #e0cfd9;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.gmap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 350px;
  z-index: 1;
}
.contact .content {
  padding-bottom: 350px;
}
.comment-form,
.contact-form {
  max-width: 860px;
}
.comment-form label,
.contact-form label {
  display: block;
  font-weight: 400;
}
.comment-form .form-group,
.contact-form .form-group {
  margin-bottom: 28px;
}
.comment-form .form-group.right,
.contact-form .form-group.right {
  padding-left: 40px;
}
.comment-form input[type=submit],
.contact-form input[type=submit] {
  width: 195px;
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 1px;
}
.g-recaptcha iframe {
  float: right;
}
.form-control:focus {
  border: 0;
}
.select-error .bootstrap-select,
.bootstrap-select.error,
.form-control.error {
  border: #cc0000 1px solid !important;
}
.content-header .search_form {
  max-width: 390px;
  margin-top: 20px;
  background-color: #fff;
}
.content-header input {
  background-color: inherit;
  border: 0;
}
.content-header input[type="email"],
.content-header input[type="text"] {
  font-size: 15px;
  color: #221f20;
  background-color: #fff;
  float: left;
  width: 350px;
}
.content-header input[type="submit"] {
  float: right;
  width: 40px;
  height: 42px;
  background: #fff url("../img/search_ico.png") no-repeat -19px center;
}
.content-header input[type="submit"]:hover,
.content-header input[type="submit"]:focus {
  opacity: 0.9;
  background-position: -19px center;
}
.cms-6 .content-header .introtext,
.faq .content-header .introtext {
  font-style: normal;
  font-size: 16px;
}
.cms-6 .faq_wrapper,
.faq .faq_wrapper {
  margin: 28px 0;
}
.cms-6 .faq_item,
.faq .faq_item {
  margin-top: -1px;
  padding: 8px 0;
  border-top: #d2d2d2 1px solid;
  border-bottom: #d2d2d2 1px solid;
}
.cms-6 .faq_item .faq_question,
.faq .faq_item .faq_question {
  position: relative;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 40px;
}
.cms-6 .faq_item .faq_question a:focus,
.faq .faq_item .faq_question a:focus,
.cms-6 .faq_item .faq_question a:hover,
.faq .faq_item .faq_question a:hover {
  text-decoration: none;
}
.cms-6 .faq_item .faq_question span,
.faq .faq_item .faq_question span {
  display: block;
  width: 13px;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 0;
  background: url("../img/faq_ico.png") no-repeat 0 center;
}
.cms-6 .faq_item .faq_answer,
.faq .faq_item .faq_answer {
  padding: 5px 10px;
  margin-bottom: 5px;
  display: none;
}
.cms-6 .faq_item .faq_answer a,
.faq .faq_item .faq_answer a {
  font-weight: 500;
}
.cms-6 .faq_item .faq_answer .btn,
.faq .faq_item .faq_answer .btn {
  width: 300px;
}
.cms-6 .faq_item.open .faq_question,
.faq .faq_item.open .faq_question {
  font-weight: 700;
}
.cms-6 .faq_item.open .faq_question span,
.faq .faq_item.open .faq_question span {
  background-position: -38px center;
}
.module-belvg_testimonials-view .introtext,
.testimonials .introtext {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 20px;
}
.module-belvg_testimonials-view .content-header,
.testimonials .content-header {
  margin-bottom: 40px;
  padding-right: 40px;
  background-image: url("../img/header_bg_green.png");
}
.module-belvg_testimonials-view .bootstrap-select,
.testimonials .bootstrap-select {
  width: 185px;
}
.module-belvg_testimonials-view .content_new_question,
.testimonials .content_new_question {
  display: none;
}
.module-belvg_testimonials-view .new_question_link,
.testimonials .new_question_link {
  width: 220px;
}
.module-belvg_testimonials-view .validate li,
.testimonials .validate li {
  list-style-position: inside;
}
.testimonials-wrapper {
  margin-top: 35px;
}
.testimonial-item {
  padding: 35px 0;
  border-top: #999999 1px solid;
  line-height: 24px;
}
.testimonial-item .ts-content {
  padding-left: 20px;
}
.testimonial-item .ts-content > p {
  margin-bottom: 25px;
}
.stores .logo-wrapper,
.where2buy .logo-wrapper {
  padding-left: 40px;
}
.stores .content-header,
.where2buy .content-header {
  padding-left: 40px;
  margin-bottom: 0;
}
.stores .content-header .introtext,
.where2buy .content-header .introtext {
  font-size: 18px;
}
.stores .content,
.where2buy .content {
  padding-left: 40px;
}
.stores .cart-img,
.where2buy .cart-img {
  position: relative;
  display: inline-block;
  width: auto;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}
.stores .where2buy-links a,
.where2buy .where2buy-links a {
  position: absolute;
  width: 150px;
  height: 100px;
  border: #60123c 1px solid;
  background-color: #fff;
  text-align: center;
}
.stores .where2buy-links a:after,
.where2buy .where2buy-links a:after,
.stores .where2buy-links a:before,
.where2buy .where2buy-links a:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-top: -1px;
}
.stores .where2buy-links a:after,
.where2buy .where2buy-links a:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.stores .where2buy-links a:before,
.where2buy .where2buy-links a:before {
  border-color: rgba(96, 18, 60, 0);
  border-top-color: #60123c;
  border-width: 16px;
  margin-left: -16px;
}
.stores .where2buy-links a.store6,
.where2buy .where2buy-links a.store6,
.stores .where2buy-links a.us,
.where2buy .where2buy-links a.us {
  top: 117px;
  left: 100px;
}
.stores .where2buy-links a.store9,
.where2buy .where2buy-links a.store9,
.stores .where2buy-links a.de,
.where2buy .where2buy-links a.de {
  top: 71px;
  left: 375px;
}
.stores .where2buy-links a.store8,
.where2buy .where2buy-links a.store8,
.stores .where2buy-links a.ch,
.where2buy .where2buy-links a.ch {
  top: 120px;
  right: 150px;
}
.stores .where2buy-links a.store7,
.where2buy .where2buy-links a.store7,
.stores .where2buy-links a.au,
.where2buy .where2buy-links a.au {
  top: 260px;
  right: 70px;
}
.cms-11 .content-header .introtext,
.suggested .content-header .introtext {
  line-height: 36px;
}
.cms-11 .content-wrapper h3,
.suggested .content-wrapper h3 {
  margin-bottom: 50px;
}
.cms-11 .content-wrapper strong,
.suggested .content-wrapper strong {
  font-weight: 500;
}
.cms-11 .content-wrapper .tips,
.suggested .content-wrapper .tips {
  margin-top: 50px;
}
.cms-11 .divider,
.suggested .divider {
  margin-top: 60px;
}
.cms-11 .products_list_wrapper,
.suggested .products_list_wrapper {
  margin-top: 145px;
  margin-left: -20px;
}
.old-price {
  text-decoration: line-through;
  color: #221f20;
}
.prices-drop .content-header,
.offer .content-header {
  margin-bottom: 40px;
  background-color: #f0933e;
  background-image: url("../img/header_bg_orange.png");
}
.prices-drop .products_list_wrapper,
.offer .products_list_wrapper {
  margin-top: 35px;
}
.prices-drop .products_list_wrapper .products_list_item,
.offer .products_list_wrapper .products_list_item {
  list-style: none;
}
.prices-drop .products_list_wrapper .products_list_item .btn,
.offer .products_list_wrapper .products_list_item .btn {
  width: 100%;
}
.prices-drop .products_list_wrapper .products_list_item .price-wrapper,
.offer .products_list_wrapper .products_list_item .price-wrapper {
  width: 90px;
  margin: 10px auto;
}
.prices-drop .products_list_wrapper .products_list_item .product-descr,
.offer .products_list_wrapper .products_list_item .product-descr {
  line-height: 18px;
}
.prices-drop .products_list_wrapper .products_list_item h5,
.offer .products_list_wrapper .products_list_item h5 {
  margin-bottom: 3px;
}
.prices-drop .products_list_wrapper .products_list_item .price,
.offer .products_list_wrapper .products_list_item .price,
.prices-drop .products_list_wrapper .products_list_item .old-price,
.offer .products_list_wrapper .products_list_item .old-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  display: block;
}
.prices-drop .products_list_wrapper .products_list_item .price,
.offer .products_list_wrapper .products_list_item .price {
  background-color: #f0933e;
  color: #fff;
}
.cart_total .price.discount-price {
  display: block;
  text-align: center;
  background-color: #f0933e;
  color: #fff;
}
.cart_total .old-price {
  display: block;
  text-align: center;
}
.voucher_item {
  padding: 10px !important;
}
.prices-drop .products_list_wrapper li {
  list-style: none;
}
.price_discount_del {
  margin: 20px 0;
}
.price_discount_del .btn {
  float: none;
}
.price_discount_del .cart_discount_name {
  line-height: 40px;
}
.voucher-descr.header-bg-orange {
  padding: 10px;
  min-height: 400px;
}
.voucher-descr.header-bg-orange h3 {
  color: #FFFFFF;
}
.offer-wrapper {
  margin-bottom: 30px;
}
.offer-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.offer-wrapper .block-content {
  padding: 30px 0 0 40px;
}
.offer-wrapper .block-content h2 {
  line-height: 48px;
  margin-bottom: 20px;
}
.offer-wrapper .block-content p {
  margin: 15px 0 10px;
}
.offer-wrapper .price-wrapper * {
  line-height: 60px;
  display: inline-block;
}
.offer-wrapper .price {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  color: #f0933e;
}
.offer-wrapper .old-price {
  font-size: 24px;
  font-weight: 400;
}
.offer-wrapper .comments_note {
  text-align: left;
}
.offer-wrapper .comments_note * {
  font-size: 20px;
}
.offer-wrapper a:hover {
  text-decoration: none;
}
.pagination {
  position: relative;
  border-top: #221f20 1px solid;
  padding: 30px 40px 0;
  margin: 30px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  text-align: center;
}
.pagination li {
  display: inline-block;
}
.pagination li.disabled {
  color: #999999;
}
.pagination li span,
.pagination li a {
  width: 28px;
  padding: 0;
  margin: 0 10px;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #221f20 !important;
  border: 0;
}
.pagination li.active span:hover,
.pagination li.active span {
  color: #221f20;
  background-color: #e6e7e8;
}
.pagination li:first-child,
.pagination li:last-child {
  display: block;
  position: absolute;
  top: 30px;
}
.pagination li:first-child a,
.pagination li:last-child a {
  vertical-align: baseline;
  text-indent: -999em;
}
.pagination li:first-child a:after,
.pagination li:last-child a:after,
.pagination li:first-child a:before,
.pagination li:last-child a:before {
  content: ' ';
  display: block;
  width: 15px;
  height: 28px;
  position: absolute;
  top: 0;
}
.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
  background-color: transparent;
}
.pagination li:first-child {
  left: 0;
}
.pagination li:first-child a:before {
  left: 0;
  background: url("../img/arrow_prev_next.png") no-repeat;
}
.pagination li:first-child a:hover {
  background-position: -48px 0;
}
.pagination li:last-child {
  right: 0;
}
.pagination li:last-child a {
  margin-right: 0;
}
.pagination li:last-child a:after {
  right: 0;
  margin-left: 25px;
  background: url("../img/arrow_prev_next.png") no-repeat -24px 0;
}
.pagination li:last-child a:hover {
  background-position: -72px 0;
}
.category .pagination li.disabled {
  text-indent: -999em;
}
.showall .btn {
  width: 130px;
}
.category .jcarousel ul,
.prices-drop .jcarousel ul,
.offer .jcarousel ul,
.products .jcarousel ul {
  width: auto;
}
.filter_form {
  margin-bottom: 0;
}
.filter_form .bootstrap-select {
  margin-right: 40px;
  margin-bottom: 20px;
  max-width: 185px;
  text-transform: uppercase;
}
.filter_form .bootstrap-select:last-child {
  margin-right: 0;
}
.search .products_list_wrapper,
.category .products_list_wrapper,
.products .products_list_wrapper {
  margin-top: 0;
  padding-top: 0;
}
.search .content-header,
.category .content-header,
.products .content-header {
  padding-right: 100px;
  margin-bottom: 40px;
  background-color: #e0cfd9;
  background-image: url("../img/header_bg_lilo.png");
}
.search .content-header .introtext,
.category .content-header .introtext,
.products .content-header .introtext {
  font-size: 18px;
}
.search .content-header .introtextlabel,
.category .content-header .introtextlabel,
.products .content-header .introtextlabel {
  display: block;
}
.search .sortPagiBar,
.category .sortPagiBar,
.products .sortPagiBar {
  border-bottom: #221f20 1px solid;
  margin-bottom: 40px;
}
.search .productsSortForm,
.category .productsSortForm,
.products .productsSortForm {
  padding-right: 40px;
  margin-bottom: 40px;
}
.search .bootstrap-select,
.category .bootstrap-select,
.products .bootstrap-select {
  padding: 0 10px;
  border: 1px solid #000;
}
.search .bootstrap-select .filter-option,
.category .bootstrap-select .filter-option,
.products .bootstrap-select .filter-option {
  text-transform: none;
}
.search .layered_price,
.category .layered_price,
.products .layered_price,
.search .layered_filter,
.category .layered_filter,
.products .layered_filter {
  padding-right: 20px;
  margin-bottom: 20px;
}
.search .layered_price:last-child,
.category .layered_price:last-child,
.products .layered_price:last-child,
.search .layered_filter:last-child,
.category .layered_filter:last-child,
.products .layered_filter:last-child {
  padding-right: 0;
}
.search .layered_price .layered_subtitle_heading *,
.category .layered_price .layered_subtitle_heading *,
.products .layered_price .layered_subtitle_heading *,
.search .layered_filter .layered_subtitle_heading *,
.category .layered_filter .layered_subtitle_heading *,
.products .layered_filter .layered_subtitle_heading *,
.search .layered_price .lbl,
.category .layered_price .lbl,
.products .layered_price .lbl,
.search .layered_filter .lbl,
.category .layered_filter .lbl,
.products .layered_filter .lbl {
  font-size: 14px;
}
.search .layered_price li,
.category .layered_price li,
.products .layered_price li,
.search .layered_filter li,
.category .layered_filter li,
.products .layered_filter li {
  list-style: none;
}
.search .layered_price label,
.category .layered_price label,
.products .layered_price label,
.search .layered_filter label,
.category .layered_filter label,
.products .layered_filter label {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px !important;
  text-transform: uppercase;
}
.search .layered_price input[type=checkbox]:checked + .lbl a,
.category .layered_price input[type=checkbox]:checked + .lbl a,
.products .layered_price input[type=checkbox]:checked + .lbl a,
.search .layered_filter input[type=checkbox]:checked + .lbl a,
.category .layered_filter input[type=checkbox]:checked + .lbl a,
.products .layered_filter input[type=checkbox]:checked + .lbl a {
  color: #60123c;
}
.search .layered_price a:hover,
.category .layered_price a:hover,
.products .layered_price a:hover,
.search .layered_filter a:hover,
.category .layered_filter a:hover,
.products .layered_filter a:hover {
  text-decoration: none;
}
.search .layered_price,
.category .layered_price,
.products .layered_price {
  padding-right: 30px;
}
.search .layered_price label,
.category .layered_price label,
.products .layered_price label {
  margin-top: 0 !important;
}
.search .layered_subtitle,
.category .layered_subtitle,
.products .layered_subtitle {
  text-transform: uppercase;
  font-size: 18px !important;
  font-weight: 500 !important;
}
.search #enabled_filters,
.category #enabled_filters,
.products #enabled_filters {
  margin-bottom: 40px;
}
.search #enabled_filters li,
.category #enabled_filters li,
.products #enabled_filters li {
  list-style: none;
  color: #999999;
}
#order-detail-content .item td.order_cb {
  position: relative;
}
#order-detail-content input[type=checkbox] + .lbl {
  margin-top: 0;
}
#order-detail-content input[type=checkbox] {
  top: 0;
}
#order-detail-content .button-minus,
#order-detail-content .button-plus {
  display: none !important;
}
#uniform-selectProductSort > span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.search .content-header {
  padding-right: 380px;
  background-color: #dcdbd3;
  background-image: url("../images/header_bg_grey.png");
}
.search .content-header .introtext {
  line-height: 24px;
}
#cse * {
  box-sizing: content-box;
}
#cse .cse .gsc-search-button input.gsc-search-button-v2,
#cse input.gsc-search-button-v2 {
  height: 16px;
  width: auto;
  margin-top: 5px;
}
#cse .gsc-input-box {
  height: auto;
}
/*.content-header .search_form {
  max-width: 390px;
  background-color: #fff;
  input[type="text"] {
    color: @color-grey;
    float: left;
    width: auto;
    border: 0;
    &:focus {
      color: @color-base;
    }
  }
  input[type="submit"] {
    float: right;
    width: 40px;
    height: 42px;
    border: 0;
    background: transparent url("../img/search_ico.png") no-repeat -19px center;
    &:focus {
      background-color: @color-base;
      background-position: 10px center;
    }
  }
  .placeholder(@color-grey);
}*/
.module-ph_simpleblog-list .content-header .introtext,
.blog .content-header .introtext {
  font-size: 16px;
}
.tags-wrapper {
  position: relative;
  margin-top: 83px;
  padding: 5px 0px 5px 0;
  border-top: #e6e7e8 1px solid;
  border-bottom: #e6e7e8 1px solid;
}
.tags-wrapper .tags-items-wrapper {
  display: none;
}
.tags-wrapper .introtext a {
  display: block;
  height: 30px;
  line-height: 30px;
  letter-spacing: 0.7px;
}
.tags-wrapper .introtext a:after {
  display: block;
  position: absolute;
  top: 5px;
  right: 14px;
  width: 12px;
  height: inherit;
  content: " ";
  background: url("../img/faq_ico.png") no-repeat 0 center;
}
.tags-wrapper .introtext a:focus,
.tags-wrapper .introtext a:hover {
  text-decoration: none;
}
.tags-wrapper.open {
  padding-bottom: 40px;
}
.tags-wrapper.open a:after {
  background-position: -38px center;
}
.tags-wrapper .tag-item {
  width: 25%;
  float: left;
  padding-right: 40px;
  line-height: 30px;
}
.tags-wrapper .tag-item a {
  display: block;
}
.tags-wrapper .tag-item .caption {
  text-transform: uppercase;
  color: #ccc;
  font-size: 18px;
  font-weight: 700;
}
.blog_wrapper {
  margin-top: 50px;
}
.blog_wrapper .blog-item {
  margin-bottom: 70px;
}
.blog_wrapper .blog-item h2 {
  margin: 30px 0 25px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.8px;
}
.blog_wrapper .blog-item img {
  margin-bottom: 45px;
}
.blog_wrapper .blog-item .post-read-more {
  margin-top: 35px;
}
.blog_wrapper .blog-item .blog-item-divider {
  width: 100%;
  border-bottom: #e6e7e8 1px solid;
  margin-bottom: 30px;
}
.blog_wrapper .blog-item .btn {
  width: 185px;
}
.blog_wrapper .blog-item a:hover {
  text-decoration: none;
}
.blog_wrapper .pagination {
  margin-top: 10px;
}
.blog_wrapper .pagination li:first-child a,
.blog_wrapper .pagination li:last-child a {
  width: auto;
  line-height: 24px;
  font-size: 18px;
  text-indent: 0;
}
.blog_wrapper .pagination li:first-child a {
  padding-left: 40px;
}
.blog_wrapper .pagination li:last-child a {
  padding-right: 40px;
}
.blog-info {
  font-size: 14px;
  margin-bottom: 15px;
}
.blog-info span {
  display: block;
  float: left;
}
.blog-info .comments {
  padding: 0 20px 0 40px;
}
.blog-info .comments:before {
  display: block;
  width: 20px;
  height: 24px;
  margin-right: 3px;
  float: left;
  content: ' ';
  background: url("../img/input_slider_ico.png") no-repeat 0 5px;
}
.blog-info a {
  text-transform: uppercase;
}
.module-ph_simpleblog-single .header-bg,
.article .header-bg,
.module-ph_simpleblog-single .content-header,
.article .content-header {
  padding: 0;
  height: 40px;
  min-height: 1px;
  background-image: none;
}
.module-ph_simpleblog-single .content-header,
.article .content-header {
  margin-bottom: 80px;
}
.module-ph_simpleblog-single .content-wrapper h1,
.article .content-wrapper h1 {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 30px;
  letter-spacing: -0.8px;
}
.module-ph_simpleblog-single .content-wrapper h2,
.article .content-wrapper h2 {
  font-size: 24px;
  line-height: 24px;
}
.module-ph_simpleblog-single .content-wrapper img,
.article .content-wrapper img {
  margin-bottom: 45px;
}
.module-ph_simpleblog-single .content-wrapper p,
.article .content-wrapper p {
  margin-bottom: 45px;
}
.module-ph_simpleblog-single .content-wrapper .divider,
.article .content-wrapper .divider {
  margin-top: 30px;
}
.module-ph_simpleblog-single .socialshare h3,
.article .socialshare h3 {
  margin-bottom: 5px !important;
}
.module-ph_simpleblog-single .socialshare .btn,
.article .socialshare .btn {
  min-width: 130px !important;
  margin-bottom: 5px;
}
.breadcrumb {
  padding: 5px 0;
  background-color: transparent;
  font-size: 14px;
}
.breadcrumb .navigation-pipe {
  padding: 0 3px;
}
.breadcrumb > li + li:before {
  content: "\\";
  color: #221f20;
}
.breadcrumb a {
  font-weight: 500;
}
.comments_wrapper {
  margin-top: 150px;
}
.comments_wrapper h3 {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px !important;
  border-bottom: #999999 1px solid;
}
.comments_wrapper .comment_item {
  padding: 35px 0;
  border-bottom: #999999 1px solid;
}
.comments_wrapper .comment_item .nickname {
  font-size: 18px;
}
.comments_wrapper .comment_item .date {
  font-size: 14px;
  color: #999999;
}
.comments_wrapper .comment-form {
  margin-top: 70px;
}
.comments_wrapper .comment-form h3 {
  border-bottom: 0;
  margin-bottom: 15px !important;
}
.account .content-header {
  font-size: 18px;
  margin-bottom: 45px;
}
.nav-tabs {
  background-color: #e6e7e8;
  border: 0;
}
.nav-tabs li {
  border: 0;
}
.nav-tabs li a,
.nav-tabs li a:hover {
  font-size: 18px;
  line-height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
}
.nav-tabs li.active a {
  border: 0;
  border-top: #221f20 1px solid !important;
}
.nav-tabs li.active a:hover {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.tab-content {
  padding-top: 10px;
}
.tab-content > a {
  display: none;
  line-height: 40px;
  background-color: #e6e7e8;
  padding: 0 15px;
  text-transform: uppercase;
  margin-bottom: 1px;
}
.tab-content > a:after {
  display: block;
  float: right;
  right: 14px;
  width: 12px;
  height: 40px;
  content: " ";
  background: url("../img/faq_ico.png") no-repeat 0 center;
}
.tab-content > a:focus,
.tab-content > a:hover {
  text-decoration: none;
}
.tab-content > a.active {
  background-color: transparent;
  border-top: #221f20 1px solid;
  padding-top: 10px;
  margin-bottom: 40px;
}
.tab-content > a.active:after {
  background-position: -38px center;
}
.tab-content > a.active {
  display: none;
}
.tab-content .tab-pane {
  position: relative;
  margin-bottom: 40px;
}
.tab-content .tab-pane .row {
  line-height: 40px;
  font-size: 14px;
}
.tab-content .tab-pane .page-product-box li {
  list-style: inside;
}
.tab-content #block-points .pagination {
  border: 0;
}
.tab-content #block-points h3 {
  font-size: 28px;
}
.tab-content table.std {
  width: 100%;
}
.tab-content table.std tr {
  border-bottom: #d2d2d2 1px solid;
}
.tab-content table.std th {
  line-height: 40px;
  text-transform: uppercase;
}
.tab-content table.std td {
  line-height: 40px;
}
.tab-content .info_view .row {
  border-bottom: #d2d2d2 1px solid;
}
.tab-content .info_view .uppercase {
  padding-left: 10px;
}
.tab-content .info_view .btn-edit {
  margin-top: 40px;
  float: right;
  width: 160px;
}
.tab-content .info_edit {
  display: block;
}
.tab-content .info_edit .lbl {
  padding-left: 0;
}
.tab-content .info_edit .form-group input[type=checkbox] {
  margin-left: 0;
}
.info-form input {
  margin-bottom: 30px;
}
.info-form .form-group {
  margin-bottom: 0;
}
.info-form .birthday-group .bootstrap-select {
  width: 30%;
  margin-right: 1%;
  padding: 0 5px;
}
.info-form .birthday-group .bootstrap-select:first-child {
  width: 20% !important;
}
.info-form .birthday-group .bootstrap-select * {
  text-transform: none !important;
}
.info-form .birthday-group .bootstrap-select .btn {
  min-width: 1px;
}
.info-form > .bootstrap-select:first-child {
  width: 20% !important;
}
.info-form .btn-submit {
  width: 160px;
  margin-top: 30px !important;
}
.info-form .btn-continue {
  margin: 30px 0 30px;
}
.info-form .gender-group .bootstrap-select {
  padding: 0 5px;
  width: 70%;
}
.info-form .gender-group .bootstrap-select * {
  text-transform: none !important;
}
.info-form .gender-group .bootstrap-select .btn {
  min-width: 1px;
}
.info-form .сradio {
  position: relative;
}
.info-form .сradio input[type="radio"] {
  margin-bottom: 0;
  top: 10px;
}
.info-form .сradio input[type="radio"] + .lbl {
  margin-top: 10px;
}
.info-form .cradio_wrapper {
  margin-bottom: 25px;
}
.info-form .cradio_wrapper h3 {
  margin: 25px 0 0 !important;
}
.info-form .cradio_wrapper .error {
  margin-top: 10px;
}
.block_adresses > .row {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #d2d2d2 1px solid;
}
.block_adresses .block_adress {
  padding: 20px;
  margin-bottom: 20px;
  border: #d2d2d2 1px solid;
}
.block_adresses .address_wrapper * {
  font-size: 16px;
  line-height: 24px;
}
.block_adresses .btn {
  line-height: 30px;
  height: 30px;
}
.main-page-indent {
  margin-bottom: 20px;
}
.main-page-indent .btn {
  font-size: 16px;
  width: 160px;
}
.contact-form .btn-continue {
  width: 225px;
  margin: 10px 0 30px;
}
.icon-file-text::before {
  content: "";
  display: inline-block;
}
.link-button i.large {
  color: silver;
  font-size: 26px;
  line-height: 26px;
  vertical-align: -3px;
  margin-right: 8px;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}
.nav-tabs > li > a {
  margin-right: 0;
}
#deleteAddress .modal-body {
  padding: 40px;
}
#block-history .history-item {
  padding: 20px;
  margin-bottom: 40px;
  border: #d2d2d2 1px solid ;
}
#block-history .history-item.first_item {
  border-color: #221f20;
}
#block-history .history-item.col-sm-6:nth-child(even) {
  padding-left: 40px;
}
#block-history .history-item > .row {
  font-size: 16px;
  border-bottom: #d2d2d2 1px solid;
}
#block-history .history-item .uppercase {
  font-size: 14px;
}
#block-history .history-item .btn-viewcart {
  width: 140px;
  margin-top: 20px;
}
#block-order-detail .address li {
  list-style: none;
}
#block-order-detail h3,
#block-order-detail .info-order p {
  margin-bottom: 10px;
}
#block-order-detail h4,
#block-order-detail .adresses_bloc {
  margin-bottom: 20px;
}
#block-order-detail .contact-form {
  margin-top: 40px;
}
#block-order-detail .label {
  font-size: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#block-order-detail .contact-form .product-group {
  margin-top: 20px;
}
#block-order-detail .contact-form label {
  float: left;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 40px;
  margin-right: 20px;
}
#block-order-detail table td strong,
#block-order-detail table th strong {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.table > thead > tr > th {
  background: #fbfbfb none repeat scroll 0 0;
  border-bottom-width: 1px;
  color: #333333;
  vertical-align: middle;
}
.box {
  background: #fbfbfb none repeat scroll 0 0;
  border: 1px solid #d6d4d4;
  line-height: 23px;
  margin: 0 0 30px;
  padding: 14px 18px 13px;
}
.page-subheading {
  border-bottom: 1px solid #d6d4d4;
  color: #555454;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
  padding: 0 0 15px;
  text-transform: uppercase;
}
.cms-1 span.error,
#returns span.error {
  color: #ff0000;
}
.cms-1 .return-address,
#returns .return-address {
  background-color: #e6e7e8;
  padding: 20px 20px 20px 60px;
}
.cms-1 li.error,
#returns li.error {
  background-image: url("../img/li_red.png");
  background-repeat: no-repeat;
}
.cms-1 > *,
#returns > * {
  margin-bottom: 30px;
}
.cms-1 h5,
#returns h5 {
  margin-top: 50px;
  margin-bottom: 20px;
}
#min_payment {
  margin-bottom: 20px;
}
.authentication h2,
.register h2 {
  font-size: 30px;
}
.authentication .content-header .introtext *,
.register .content-header .introtext * {
  font-size: 16px;
}
.authentication .order-block.error,
.register .order-block.error {
  display: none;
}
.authentication .order-block:last-child,
.register .order-block:last-child {
  padding: 0 0 0 40px;
}
.authentication .order-block .btn,
.register .order-block .btn {
  min-width: 220px;
}
.authentication .order-block .btn-createaccount,
.register .order-block .btn-createaccount {
  margin-bottom: 10px;
}
.authentication .page-subheading,
.register .page-subheading {
  color: #221f20;
  border-bottom: 0;
}
.authentication .gender-group,
.register .gender-group {
  margin-right: 30px;
}
.authentication .clearfix,
.register .clearfix {
  margin-bottom: 40px;
}
.authentication .form-divider,
.register .form-divider {
  border-bottom: #d2d2d2 1px solid;
}
.authentication label span,
.register label span {
  font-size: 14px;
  color: #999999;
}
.authentication #new_account_form,
.register #new_account_form {
  display: none;
}
.authentication #new_account_form.error,
.register #new_account_form.error {
  display: block;
}
.authentication .opc_account_form_wrapper .date-select .row > div,
.register .opc_account_form_wrapper .date-select .row > div {
  padding-right: 20px;
}
.authentication .opc_account_form_wrapper .date-select .row > div:last-child,
.register .opc_account_form_wrapper .date-select .row > div:last-child {
  padding-right: 0;
}
.authentication .opc_account_form_wrapper .opc_delivery_wrapper,
.register .opc_account_form_wrapper .opc_delivery_wrapper {
  margin-top: 40px;
}
.authentication .opc_account_form_wrapper .form-group.col-sm-6.right,
.register .opc_account_form_wrapper .form-group.col-sm-6.right {
  padding: 0 0 0 40px;
}
.authentication .opc_account_form_wrapper h3,
.register .opc_account_form_wrapper h3 {
  margin-bottom: 20px;
}
.authentication .opc_account_form_wrapper label,
.register .opc_account_form_wrapper label {
  padding-left: 0;
}
.authentication .opc_account_form_wrapper .bootstrap-select,
.register .opc_account_form_wrapper .bootstrap-select {
  margin-bottom: 30px;
}
.authentication .opc_account_form_wrapper .last-item input,
.register .opc_account_form_wrapper .last-item input {
  margin-bottom: 0;
}
.authentication .opc_account_form_wrapper .contact-form .form-group.right,
.register .opc_account_form_wrapper .contact-form .form-group.right {
  padding-left: 20px;
}
input[type=radio],
input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 7px;
  z-index: 12;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type=radio] + .lbl,
input[type=checkbox] + .lbl {
  position: relative;
  z-index: 11;
  display: inline-block;
  margin: 20px 0 0;
  line-height: 20px;
  min-height: 20px;
  min-width: 20px;
}
input[type=checkbox] + .lbl:before {
  content: " ";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  min-width: 23px;
  margin-right: 5px;
  background-image: url("../img/input_slider_ico.png");
  background-repeat: no-repeat;
  background-position: -33px 0;
}
input[type=checkbox]:checked + .lbl::before {
  background-position: -62px 0;
}
input[type=radio] + .lbl:before {
  content: " ";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  min-width: 23px;
  margin-right: 5px;
  background-image: url("../img/input_slider_ico.png");
  background-repeat: no-repeat;
  background-position: -94px 0;
}
input[type=radio]:checked + .lbl::before {
  background-position: -120px 0;
}
.authentication .auth-wrapper {
  margin: 0 -20px;
}
.authentication .auth-wrapper > div {
  padding: 0 20px;
  margin-bottom: 20px;
}
.authentication .auth-wrapper .btn-createaccount {
  width: 200px;
}
#form_forgotpassword .btn {
  width: 200px;
}
.footer_links li {
  list-style: none;
}
.footer_links li .btn {
  width: 150px;
  line-height: 35px;
  height: 35px;
}
#points li,
.discount li,
#rewards_sponsorship + .footer_links li,
#rewards_account + .footer_links li {
  display: inline-block;
  padding-bottom: 10px;
}
#block-points li {
  display: block;
  padding: 10px 0 0;
}
#rewards_sponsorship .alert {
  padding: 20px !important;
}
.discount .btn-back,
#points .btn,
.sponsorshipBlock .btn-back,
#sponsorship_form .btn-back {
  width: 220px;
  height: 35px;
  line-height: 35px;
}
.footer_links li .btn-back {
  width: 220px;
}
#rewards_account .pagination .disabled {
  display: none;
}
.btn-transformreward {
  width: 370px;
}
.btn-transformreward:hover {
  text-indent: -1000px;
}
#transform {
  margin-bottom: 10px;
}
.payment_details {
  display: block;
}
#submitPayment {
  margin: 20px 0;
}
#account-creation_form .btn-submit {
  width: 120px;
  margin-top: 0 !important;
}
#account-creation_form input {
  margin-bottom: 0;
}
#account-creation_form input[type="checkbox"] + .lbl {
  margin: 0 0 10px;
}
#account-creation_form .gender-group .bootstrap-select {
  width: 100%;
}
#account-creation_form .form-group {
  margin-bottom: 20px;
}
#account-creation_form .birthday-group .bootstrap-select {
  width: 31%;
}
#account-creation_form #passwd {
  max-width: 100%;
}
#myaccount_block h3 {
  color: #fff;
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
#myaccount_block .lost_password {
  display: block;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 40px;
}
#myaccount_block .lost_password a {
  color: #e6e7e8;
}
#myaccount_block .lost_password a:hover {
  color: #fff;
  text-decoration: none;
}
#myaccount_block input[type=email],
#myaccount_block input[type=password],
#myaccount_block input[type=text] {
  display: block;
  width: 100%;
  float: none;
  border-right: #fff 1px solid;
  margin-bottom: 20px;
}
.cms-12 .content-header .introtext p,
.video .content-header .introtext p {
  font-size: 18px;
}
.cms-12 .content-wrapper h2,
.video .content-wrapper h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 60px;
}
.cms-12 .content-wrapper .video-wrapper,
.video .content-wrapper .video-wrapper {
  margin: 0 -40px;
}
.cms-12 .content-wrapper .video-wrapper > div,
.video .content-wrapper .video-wrapper > div {
  padding: 0 40px;
}
.cms-12 .video-item,
.video .video-item {
  margin-bottom: 20px;
}
.cms-12 .video-item .image,
.video .video-item .image {
  position: relative;
  max-width: 195px;
}
.cms-12 .video-item .image .play-btn,
.video .video-item .image .play-btn {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: -33px 0 0 -30px;
  width: 60px;
  height: 42px;
  background: url("../img/play_ico.png") no-repeat;
  z-index: 2;
  text-indent: -9999em;
}
.cms-12 .video-item .title-wrapper,
.video .video-item .title-wrapper {
  padding-left: 20px;
}
.cms-12 .video-item .title,
.video .video-item .title {
  font-size: 18px;
}
.cms-12 .video-item .time,
.video .video-item .time {
  position: absolute;
  bottom: 0;
  color: #999999;
}
.cms-12 .video-item > div,
.video .video-item > div {
  position: relative;
  min-height: 110px;
  padding-bottom: 20px;
}
.cms-12 .video-item a:hover,
.video .video-item a:hover {
  text-decoration: none;
}
[data-notify="container"][class*="alert-"] {
  background-color: #d3c0cc;
  color: #60123c;
  border-color: #60123c;
  padding: 10px 50px 10px 10px;
  width: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.modal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 850px;
}
.modal .modal-header {
  padding: 25px;
}
.modal .modal-title {
  font-size: 18px;
}
.modal .fancybox-inner,
.modal .modal-body {
  padding: 0;
  max-height: 475px;
}
.modal .close {
  width: 30px;
  height: 30px;
  background: url("../img/close_ico.png") no-repeat;
  text-indent: -9999em;
}
.module-cashondelivery-validation .content-header .introtext,
.module-cheque-payment .content-header .introtext,
.module-bankwire-payment .content-header .introtext,
.order .content-header .introtext {
  font-size: 14px;
  line-height: 24px;
}
.module-cashondelivery-validation .btn-submit,
.module-cheque-payment .btn-submit,
.module-bankwire-payment .btn-submit,
.order .btn-submit,
.module-cashondelivery-validation .btn-pay,
.module-cheque-payment .btn-pay,
.module-bankwire-payment .btn-pay,
.order .btn-pay,
.module-cashondelivery-validation .btn-add,
.module-cheque-payment .btn-add,
.module-bankwire-payment .btn-add,
.order .btn-add,
.module-cashondelivery-validation .btn-continue,
.module-cheque-payment .btn-continue,
.module-bankwire-payment .btn-continue,
.order .btn-continue {
  width: 235px;
}
.module-cashondelivery-validation .btn-add,
.module-cheque-payment .btn-add,
.module-bankwire-payment .btn-add,
.order .btn-add {
  margin-bottom: 30px;
}
.module-cashondelivery-validation .btn-update,
.module-cheque-payment .btn-update,
.module-bankwire-payment .btn-update,
.order .btn-update {
  height: 30px;
  line-height: 30px;
}
.module-cashondelivery-validation .btn-checkout,
.module-cheque-payment .btn-checkout,
.module-bankwire-payment .btn-checkout,
.order .btn-checkout {
  width: 250px;
}
.module-cashondelivery-validation .price,
.module-cheque-payment .price,
.module-bankwire-payment .price,
.order .price {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.module-cashondelivery-validation .cart_voucher,
.module-cheque-payment .cart_voucher,
.module-bankwire-payment .cart_voucher,
.order .cart_voucher {
  padding: 30px 20px;
  border: 0;
  background-color: #e6e7e8;
}
.module-cashondelivery-validation .cart_voucher form,
.module-cheque-payment .cart_voucher form,
.module-bankwire-payment .cart_voucher form,
.order .cart_voucher form {
  padding: 4px;
  border: #221f20 1px solid;
  background-color: #fff;
}
.module-cashondelivery-validation .cart_voucher input,
.module-cheque-payment .cart_voucher input,
.module-bankwire-payment .cart_voucher input,
.order .cart_voucher input,
.module-cashondelivery-validation .cart_voucher button,
.module-cheque-payment .cart_voucher button,
.module-bankwire-payment .cart_voucher button,
.order .cart_voucher button {
  border: 0;
  float: left;
  width: 60%;
  height: 30px;
  min-width: 1px;
  line-height: 30px;
}
.module-cashondelivery-validation .cart_voucher .btn,
.module-cheque-payment .cart_voucher .btn,
.module-bankwire-payment .cart_voucher .btn,
.order .cart_voucher .btn {
  padding: 0;
  width: 40%;
  float: right;
}
.module-cashondelivery-validation .cart_total_address,
.module-cheque-payment .cart_total_address,
.module-bankwire-payment .cart_total_address,
.order .cart_total_address,
.module-cashondelivery-validation .cart_total_item,
.module-cheque-payment .cart_total_item,
.module-bankwire-payment .cart_total_item,
.order .cart_total_item,
.module-cashondelivery-validation .cart_total_delivery,
.module-cheque-payment .cart_total_delivery,
.module-bankwire-payment .cart_total_delivery,
.order .cart_total_delivery,
.module-cashondelivery-validation .cart_total_price,
.module-cheque-payment .cart_total_price,
.module-bankwire-payment .cart_total_price,
.order .cart_total_price {
  line-height: 30px;
  padding: 15px 20px;
  margin-bottom: 0;
  border-bottom: #e6e7e8 1px solid;
}
.module-cashondelivery-validation .cart_total_price,
.module-cheque-payment .cart_total_price,
.module-bankwire-payment .cart_total_price,
.order .cart_total_price {
  border-bottom: 0;
}
.module-cashondelivery-validation #address_delivery,
.module-cheque-payment #address_delivery,
.module-bankwire-payment #address_delivery,
.order #address_delivery {
  margin-right: 10px;
}
.module-cashondelivery-validation #address_invoice,
.module-cheque-payment #address_invoice,
.module-bankwire-payment #address_invoice,
.order #address_invoice {
  margin-left: 10px;
}
.module-cashondelivery-validation ul.address h3,
.module-cheque-payment ul.address h3,
.module-bankwire-payment ul.address h3,
.order ul.address h3 {
  border-bottom: 0;
}
.module-cashondelivery-validation ul.address li,
.module-cheque-payment ul.address li,
.module-bankwire-payment ul.address li,
.order ul.address li {
  list-style: none;
}
.module-cashondelivery-validation .modal-body,
.module-cheque-payment .modal-body,
.module-bankwire-payment .modal-body,
.order .modal-body {
  height: 500px;
}
.module-cashondelivery-validation .modal-body iframe,
.module-cheque-payment .modal-body iframe,
.module-bankwire-payment .modal-body iframe,
.order .modal-body iframe {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 20px 0 20px 40px;
}
.module-cashondelivery-validation input[type="radio"],
.module-cheque-payment input[type="radio"],
.module-bankwire-payment input[type="radio"],
.order input[type="radio"],
.module-cashondelivery-validation input[type="checkbox"],
.module-cheque-payment input[type="checkbox"],
.module-bankwire-payment input[type="checkbox"],
.order input[type="checkbox"] {
  top: 0;
}
.module-cashondelivery-validation input[type="radio"] + .lbl,
.module-cheque-payment input[type="radio"] + .lbl,
.module-bankwire-payment input[type="radio"] + .lbl,
.order input[type="radio"] + .lbl,
.module-cashondelivery-validation input[type="checkbox"] + .lbl,
.module-cheque-payment input[type="checkbox"] + .lbl,
.module-bankwire-payment input[type="checkbox"] + .lbl,
.order input[type="checkbox"] + .lbl {
  margin-top: 0;
}
.module-cashondelivery-validation .btn-terms,
.module-cheque-payment .btn-terms,
.module-bankwire-payment .btn-terms,
.order .btn-terms {
  color: #60123c;
  text-decoration: underline;
}
.module-paypalusa-expresscheckout .cart_navigation .btn {
  width: 240px;
}
.order-confirmation .content-header {
  padding-right: 40px;
}
.order-confirmation .btn {
  width: 235px;
}
.cart_navigation .btn {
  min-width: 220px;
}
.payment_option,
.delivery_option,
.cart_item {
  padding: 0 20px 15px;
  margin-bottom: 15px;
  border-bottom: #e6e7e8 1px solid;
}
.payment_option .cart_description,
.delivery_option .cart_description,
.cart_item .cart_description {
  position: relative;
  padding-bottom: 50px;
}
.payment_option .cart_description .btn,
.delivery_option .cart_description .btn,
.cart_item .cart_description .btn {
  height: 30px;
  line-height: 30px;
  display: block;
  position: absolute;
  bottom: 0;
}
.payment_option .cart_quantity .bootstrap-select,
.delivery_option .cart_quantity .bootstrap-select,
.cart_item .cart_quantity .bootstrap-select,
.payment_option .cart_quantity select,
.delivery_option .cart_quantity select,
.cart_item .cart_quantity select,
.payment_option .cart_quantity input[type="text"],
.delivery_option .cart_quantity input[type="text"],
.cart_item .cart_quantity input[type="text"] {
  margin-left: 10px;
}
.payment_option .cart_quantity label,
.delivery_option .cart_quantity label,
.cart_item .cart_quantity label {
  font-size: 15px;
  font-weight: 400;
  line-height: 42px;
}
.payment_option .product-qty,
.delivery_option .product-qty,
.cart_item .product-qty {
  margin-bottom: 10px;
}
.payment_option .cart_quantity_input,
.delivery_option .cart_quantity_input,
.cart_item .cart_quantity_input {
  width: 70px;
}
.payment_option a:hover,
.delivery_option a:hover,
.cart_item a:hover {
  text-decoration: none;
}
.module-paypalusa-expresscheckout .btn-back-order,
.module-cashondelivery-validation .btn-back-order,
.module-cheque-payment .btn-back-order,
.module-bankwire-payment .btn-back-order,
.authentication .btn-back-order,
.order .btn-back-order {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 30px;
  text-transform: uppercase;
  position: absolute;
  bottom: 40px;
  display: block;
  height: 30px;
  background: url("../img/btn_back_ico.png") no-repeat 0 0;
}
.module-paypalusa-expresscheckout .btn-back-order:hover,
.module-cashondelivery-validation .btn-back-order:hover,
.module-cheque-payment .btn-back-order:hover,
.module-bankwire-payment .btn-back-order:hover,
.authentication .btn-back-order:hover,
.order .btn-back-order:hover {
  text-decoration: none;
}
.order_carrier_content .delivery_option {
  padding-left: 20px;
  padding-right: 20px;
}
.order_carrier_content .carrier_title {
  margin-bottom: 30px;
}
.order_carrier_content .box_agreement {
  margin-bottom: 30px;
}
.order_carrier_content .price {
  text-align: right;
}
.order_carrier_content .total_wrapper {
  margin-top: 60px;
}
.order_carrier_content .checkbox label.lbl {
  padding-left: 0;
}
.order_carrier_content .checkbox input[type="checkbox"],
.order_carrier_content .checkbox input[type="checkbox"],
.order_carrier_content .checkbox input[type="radio"],
.order_carrier_content .checkbox input[type="radio"] {
  margin-left: 0;
}
.order_carrier_content .cart_navigation {
  margin-top: 40px;
}
.paiement_block h5 {
  margin-bottom: 30px;
}
.payment_option {
  padding-left: 20px;
  padding-right: 20px;
}
.payment_option input[type=radio] {
  left: 0;
}
.payment_option .payment-logo {
  text-align: right;
}
.payment_option .btn-link {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #221f20;
}
.payment_option .btn-link:hover {
  text-decoration: none;
  color: #60123c;
}
.payment_option .text-orange {
  color: #f0933e;
}
.order-summary .cart_delete,
.order-summary .cart_voucher,
.order-summary > .cart_navigation {
  display: none !important;
}
.order-summary .address_value {
  line-height: 18px;
}
.order-summary .cart_total_address {
  border-top: #e6e7e8 1px solid;
  border-bottom: 0;
}
.cc-form {
  margin: 60px 0 40px;
  border-bottom: #e6e7e8 1px solid;
}
.cc-form [class*="col-"] {
  padding-left: 0;
}
.cc-form .bootstrap-select .btn.selectpicker {
  min-width: 50px;
}
.module-blockwishlist-view .wlp_bought_list > li,
.module-blockwishlist-mywishlist .wlp_bought_list > li {
  padding-right: 20px;
  margin-bottom: 40px;
}
.module-blockwishlist-view .wlp_bought_list > li .btn_action .btn,
.module-blockwishlist-mywishlist .wlp_bought_list > li .btn_action .btn {
  margin-bottom: 10px;
  width: 100%;
}
.module-blockwishlist-view .wlp_bought_list > li .product-name,
.module-blockwishlist-mywishlist .wlp_bought_list > li .product-name {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  min-height: 50px;
}
.module-blockwishlist-view .wlp_bought_list > li label,
.module-blockwishlist-mywishlist .wlp_bought_list > li label {
  font-weight: 400;
}
.module-blockwishlist-view .wishlisturl input,
.module-blockwishlist-mywishlist .wishlisturl input {
  max-width: 100%;
}
.module-blockwishlist-view .btn-send,
.module-blockwishlist-mywishlist .btn-send {
  width: 220px;
  margin-bottom: 20px;
}
.module-blockwishlist-view li,
.module-blockwishlist-mywishlist li {
  list-style: none;
}
.module-blockwishlist-view #block-history,
.module-blockwishlist-mywishlist #block-history {
  margin-bottom: 40px;
}
.module-blockwishlist-view .btn-hide,
.module-blockwishlist-mywishlist .btn-hide {
  display: block;
  margin: 30px auto;
  width: 29px;
  height: 18px;
  text-indent: -9999em;
  background: url("../img/sidebar_close_ico.png") no-repeat 0 0;
}
.module-blockwishlist-view .wl_send input[type=text],
.module-blockwishlist-mywishlist .wl_send input[type=text] {
  max-width: 100%;
}
.module-blockwishlist-view .modal-body,
.module-blockwishlist-mywishlist .modal-body {
  padding: 20px 40px;
  max-height: 100%;
}
.module-blockwishlist-view a:hover,
.module-blockwishlist-mywishlist a:hover {
  text-decoration: none;
}
.module-blockwishlist-view .product_image img,
.module-blockwishlist-mywishlist .product_image img {
  margin: 0 auto;
}
.wishlist_item {
  line-height: 30px;
  padding: 15px 20px;
  margin: 20px auto;
  border-bottom: #e6e7e8 1px solid;
}
.wishlist_item .btn {
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  width: 160px;
}
.wishlist_item a:hover {
  text-decoration: none;
}
.wishlist_item h5 span {
  font-size: 14px;
  font-weight: 400;
}
.products-comparison .content-header {
  padding-right: 380px;
}
.products-comparison .content-header .introtext {
  font-size: 14px;
}
.products-comparison #product_comparison {
  border: 0;
}
.products-comparison #product_comparison .product-block {
  padding: 25px 0;
  border-bottom: #e6e7e8 1px solid;
}
.products-comparison #product_comparison .comparison_counter {
  font-size: 72px;
  font-weight: 300;
  line-height: 160px;
  color: #e6e7e8;
  text-align: center;
}
.products-comparison #product_comparison .product-image-block img {
  max-height: 160px;
}
.products-comparison #product_comparison .discount-price {
  padding: 0 3px;
  background-color: #f0933e;
  color: #fff;
  font-weight: 500;
}
.products-comparison #product_comparison h5 {
  line-height: 24px;
}
.products-comparison #product_comparison .prices-container {
  font-weight: 500;
  margin-bottom: 10px;
}
.products-comparison #product_comparison .product_desc {
  color: #999999;
  margin-bottom: 10px;
}
.products-comparison #product_comparison .product-content-block {
  margin-bottom: 10px;
}
.products-comparison #product_comparison .features-container {
  margin-bottom: 10px;
}
.products-comparison #product_comparison .btn {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 500 ;
  padding-left: 10px;
  padding-right: 10px;
  width: 30% ;
  min-width: 1px;
}
.product .header-bg,
.product .content-header {
  padding: 0;
  margin-bottom: 40px;
  height: 40px;
  min-height: 1px;
  background-image: none;
  background-color: #d3c0cc;
}
.product h1 {
  font-size: 30px;
  line-height: 36px;
  color: #221f20;
}
.product .our_price_display {
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  margin-right: 20px;
  display: inline-block;
}
.product #reduction_percent,
.product #reduction_amount {
  margin: 10px 5px;
  padding: 5px;
  font-size: 24px;
  line-height: 18px;
  color: #fff;
  background: #f0933e;
  display: inline-block;
}
.product #reduction_percent span,
.product #reduction_amount span {
  display: block;
}
.product .hide-left-column.hide-right-column #reduction_percent,
.product .hide-left-column.hide-right-column #reduction_amount {
  display: inline-block;
}
.product #old_price {
  padding: 12px 0;
  text-decoration: line-through;
  display: inline-block;
}
.product .comments_note {
  text-align: left;
}
.product .comments_note .reviews,
.product .comments_note .star_content {
  display: block;
  float: left;
}
.product .comments_note .reviews {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
.product .tab-descr {
  margin: 15px 0;
  background-color: transparent;
}
.product .tab-descr li {
  width: 33%;
  line-height: 40px;
  height: 40px;
  text-align: center;
  padding-right: 2px;
  background-color: transparent;
}
.product .tab-descr li:last-child {
  padding-right: 0;
}
.product .tab-descr li a {
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  background-color: #e6e7e8;
}
.product #product_reference {
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 7px;
  color: #999999;
}
.product #quantity_wanted_p {
  padding-right: 20px;
}
.product .recurring-wrapper {
  max-width: 220px;
}
.product .qty_wrapper {
  margin: 5px 0 30px;
}
.product .qty_wrapper label {
  font-weight: 400;
}
.product .box-cart-bottom .wishlist {
  padding-right: 2px;
}
.product .box-cart-bottom .btn {
  width: 100%;
  max-width: 300px;
  margin-bottom: 3px;
}
.product .content_prices {
  margin: 5px 0;
}
.product .primary_block {
  margin-bottom: 40px;
}
.product .primary_block a:focus,
.product .primary_block a:active,
.product .primary_block a:hover {
  text-decoration: none;
}
.product .primary_block .nav-tabs a.active,
.product .primary_block .nav-tabs li.active a,
.product .primary_block .btn-extra.active {
  background-color: #fff;
}
.product .primary_block .tab-content .tab-pane {
  margin-bottom: 0;
}
.product .primary_block #short_description_block {
  margin-bottom: 10px;
}
.product .primary_block .socialsharing_product {
  margin-top: 20px;
}
.product .primary_block img {
  max-width: 100%;
}
.product .primary_block #loyalty {
  display: none !important;
}
.product .order .content-wrapper #loyalty {
  display: none !important;
}
.product .extra-btn-wrapper > div {
  float: left;
  margin-right: 2px;
}
.product #send_friend_form {
  margin-top: 20px;
}
.product #send_friend_form input[type=text] {
  width: auto;
  height: 40px;
  margin-right: 2px;
}
.product #send_friend_form input {
  display: block;
  float: left;
  margin-bottom: 10px;
}
.product .tab-content-product {
  margin-bottom: 40px;
}
.product .tab-content-product .tab-pane {
  margin: 40px 0;
}
.product .tab-content-product p,
.product .tab-content-product ul,
.product .tab-content-product ol,
.product .tab-content-product h1,
.product .tab-content-product h2,
.product .tab-content-product h3,
.product .tab-content-product h4,
.product .tab-content-product h5,
.product .tab-content-product h6 {
  margin-bottom: 20px;
}
.product .tab-content-product .comments_note .star_content {
  float: none;
}
.product .tab-content-product #product_comments_block_tab .comment {
  margin: 15px 0;
  padding: 15px 0;
  border-bottom: #e6e7e8 1px solid;
}
.product .tab-content-product #product_comments_block_tab .comment p,
.product .tab-content-product #product_comments_block_tab .comment li {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}
.product .tab-content-product #product_comments_block_tab .comment .btn {
  height: 30px;
  line-height: 30px;
}
.product .tab-content-product #product_comments_block_tab .comment .btn.purple {
  margin-left: 10px;
}
.product .tab-content-product #product_comments_block_tab .comment .author {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.product .tab-content-product #product_comments_block_tab .comment .date {
  font-size: 14px;
  line-height: 14px;
  color: #999999;
}
.product .tab-content-product #product_comments_block_tab .useful {
  margin-top: 20px;
}
.product .tab-content-product #product_comments_block_tab li {
  list-style: none;
}
.product #new_question_form,
.product #new_comment_form {
  margin-top: 40px;
}
.product #new_question_form h2,
.product #new_comment_form h2 {
  border-bottom: 0;
}
.product #new_question_form #criterions_list li,
.product #new_comment_form #criterions_list li {
  list-style: none;
}
.product #new_question_form #criterions_list span,
.product #new_comment_form #criterions_list span {
  display: block;
  float: left;
}
.product #new_question_form .star_content,
.product #new_comment_form .star_content {
  display: block;
  float: left;
  padding: 0 5px 0 20px;
  margin-top: 2px;
}
.product #new_question_form .star,
.product #new_comment_form .star {
  font-size: 18px;
  top: -1px;
  float: left;
  width: 18px;
}
.product #new_question_form label,
.product #new_comment_form label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.product #new_question_form ul,
.product #new_comment_form ul {
  margin-bottom: 0 !important;
}
.product #new_question_form li,
.product #new_comment_form li {
  list-style: none;
  line-height: 24px;
}
.product #new_question_form #new_comment_form_error,
.product #new_comment_form #new_comment_form_error {
  padding: 20px;
}
.product #new_question_form .cart_navigation,
.product #new_comment_form .cart_navigation {
  margin-top: 40px;
}
#thumbs_list li {
  float: left;
  height: 80px;
  width: 80px;
  cursor: pointer;
  line-height: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#thumbs_list li a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  border: 1px solid transparent;
}
#thumbs_list li a:hover {
  border-color: #e6e7e8;
}
#thumbs_list li a.zoomThumbActive {
  border-color: #221f20;
}
#thumbs_list li img {
  width: 100%;
  height: 100%;
}
.available_wrapper #availability_statut {
  margin-bottom: 20px;
}
.available_wrapper .btn {
  min-width: 250px;
}
.product .primary_block .zoomWrapperImage img {
  max-width: 9999em;
}
.zoomWindow {
  overflow: hidden;
}
#listpage_content,
#sitemap_content {
  margin-left: -20px;
  margin-right: -20px;
}
#listpage_content > div,
#sitemap_content > div {
  padding: 0 10px;
}
#listpage_content li,
#sitemap_content li {
  list-style: inside;
}
.pagenotfound .header-bg,
.pagenotfound .content-header {
  min-height: 470px;
}
.pagenotfound .header-bg h1,
.pagenotfound .content-header h1 {
  margin: 20px 0;
  font-size: 144px;
  line-height: 144px;
  color: #bab7a8;
}
.newsletter_block_content {
  margin-top: 30px;
}
.content-wrapper .newsletter_form {
  /*.form-group.col-sm-6:nth-child(even) {
    float: right;
  }*/
}
.content-wrapper .newsletter_form label {
  font-weight: 400;
  display: block;
}
.content-wrapper .newsletter_form .form-group {
  margin-bottom: 20px;
}
.content-wrapper .newsletter_form input[type=submit] {
  margin-top: 10px;
  width: 150px;
}
@media (min-width: 1290px) {
  .index .content,
  .homepage .content {
    width: 980px;
    padding-right: 0;
  }
  .carousel {
    padding-right: 40px;
  }
}
@media (min-width: 1280px) {
  .sidebar {
    margin-left: 0 !important;
  }
  .jcarousel-wrapper.products_list_wrapper {
    margin-left: -50px;
  }
  .index .jcarousel-wrapper,
  .homepage .jcarousel-wrapper {
    margin-left: -20px;
  }
}
@media (max-width: 1279px) {
  .content {
    padding: 80px 20px 80px 80px;
    width: 100%;
  }
  .sidebar {
    max-width: 340px;
    width: 340px;
    position: absolute;
    top: 0;
    z-index: 100;
    padding-right: 0;
    margin-left: -340px;
  }
  .sidebar .navbar-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #221f20;
    z-index: 999;
    width: 40px;
    padding: 30px 6px;
  }
  .sidebar .navbar-header .navbar-toggle {
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .sidebar .navbar-header .sidebar-btn {
    float: none;
    width: 100%;
  }
  .sidebar .navbar-header .sidebar-btn a {
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar #navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
  .sidebar.open .menu_collapse_btn {
    background-position: 0 -101px;
  }
  .sidebar.open .navbar-header {
    background-color: #2d2a2b;
  }
  .sidebar.open .navbar-header .cart-wrapper {
    display: none;
  }
  .index .content,
  .homepage .content {
    padding-right: 0;
  }
  .carousel {
    margin-left: -30px;
  }
  .divider {
    width: 100%;
    left: 0;
  }
  .sidebar .menu_collapse_btn {
    top: 60%;
  }
}
@media (max-width: 970px) {
  .content-header {
    background-position: right -120px bottom 0;
    margin-right: -20px;
    padding-right: 240px;
  }
  .comment-form .form-group,
  .contact-form .form-group {
    padding-right: 20px;
  }
  .comment-form .form-group.col-sm-6:nth-child(even),
  .contact-form .form-group.col-sm-6:nth-child(even),
  .comment-form .form-group.right,
  .contact-form .form-group.right {
    padding-left: 0;
  }
  #block-history .history-item.col-sm-6:nth-child(even) {
    padding-left: 0;
  }
  .cart-img {
    display: block;
  }
  .cart-img img.img-responsive {
    max-width: 700px;
    width: 100%;
  }
  .stores .where2buy-links,
  .where2buy .where2buy-links {
    padding-left: 40px;
    padding-right: 20px;
    margin: 30px 0;
  }
  .stores .where2buy-links a.us,
  .where2buy .where2buy-links a.us {
    top: 57px;
    left: 70px;
  }
  .stores .where2buy-links a.de,
  .where2buy .where2buy-links a.de {
    top: 25px;
    left: 280px;
  }
  .stores .where2buy-links a.ch,
  .where2buy .where2buy-links a.ch {
    top: 30px;
    right: 60px;
  }
  .stores .where2buy-links a.au,
  .where2buy .where2buy-links a.au {
    top: 180px;
    right: 40px;
  }
  .products_list_wrapper h4 {
    padding-right: 170px;
  }
  .search .content .search_form input[type=text] {
    max-width: 80%;
  }
  .tags-wrapper .tag-item {
    width: 33%;
  }
  .modal .modal-content {
    width: 100%;
  }
  .tab-content-product img {
    width: 100%;
    height: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 970px) {
  .nav-tabs-product li a,
  .nav-tabs-product li a:hover {
    font-size: 14px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .cc-form [class*="col-sm-offset-"] {
    margin-left: 7%;
  }
}
@media (max-width: 767px) {
  .index .container-fluid,
  .homepage .container-fluid {
    background-image: none;
  }
  .index .logo-wrapper,
  .homepage .logo-wrapper {
    width: 100%;
    top: 0;
    left: 0;
    margin: 80px 0;
    position: relative;
    text-align: center;
  }
  .index .logo-wrapper span,
  .homepage .logo-wrapper span {
    display: none;
  }
  .content {
    padding-left: 40px;
  }
  .carousel {
    margin-left: 0;
  }
  .carousel .carousel-indicators {
    left: 50%;
    margin-left: -50px;
  }
  .carousel .carousel-inner .item {
    height: auto;
    padding-bottom: 70px;
    background-position: center top;
    background-size: contain;
  }
  .carousel .carousel-inner .item .carousel-caption {
    max-width: 100%;
    top: 0;
    left: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .carousel .carousel-inner .item img {
    position: relative;
    left: 0;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .carousel .carousel-inner .item .img-wrapper {
    position: relative;
  }
  .carousel .carousel-inner .item .img-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 490px;
  }
  .content-header {
    margin-left: -80px;
    padding-right: 20px;
    padding-left: 80px;
    height: auto;
    min-height: 250px;
  }
  .content-header h1 {
    line-height: 36px;
  }
  .gmap {
    margin-bottom: -100px;
  }
  .contact-form .form-group {
    padding-right: 0;
  }
  .contact-form .form-group .bootstrap-select,
  .contact-form .form-group input[type=number],
  .contact-form .form-group input[type=text],
  .contact-form .form-group input[type=password],
  .contact-form .form-group input[type=email] {
    max-width: 100%;
  }
  .contact-form .form-group.col-sm-6:nth-child(even),
  .contact-form .form-group.right {
    padding-left: 0;
  }
  .content-header h1 {
    margin-bottom: 25px;
  }
  .testimonial-item .ts-content {
    margin-top: 30px;
    padding-left: 0;
  }
  .stores .content-header,
  .where2buy .content-header {
    margin-left: 0;
  }
  .stores .where2buy-links,
  .where2buy .where2buy-links {
    padding-left: 40px;
    padding-right: 20px;
    margin: 30px 0;
  }
  .stores .where2buy-links a,
  .where2buy .where2buy-links a {
    position: relative;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    width: 100%;
    margin-bottom: 20px;
  }
  .stores .where2buy-links a:after,
  .where2buy .where2buy-links a:after,
  .stores .where2buy-links a:before,
  .where2buy .where2buy-links a:before {
    border: 0;
  }
  ul.bullet-list li {
    margin-left: 10px;
  }
  .products_list_wrapper .products_list_item_wrapper {
    margin: 0;
  }
  .products_list_wrapper .products_list_item {
    display: block;
  }
  .products_list_wrapper .products_list_item img {
    max-width: 100%;
  }
  .products_list_wrapper .products_list_item:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .products_list_wrapper .products_list_item:hover .btn_wrapper {
    display: none;
  }
  .products_list_wrapper .products_list_item:hover .img-wrapper {
    height: 290px;
    background-image: none;
  }
  .cms-11 .products_list_wrapper,
  .suggested .products_list_wrapper {
    margin-left: -40px;
    margin-right: 0px;
  }
  .cms-11 .products_list_wrapper .products_list_item,
  .suggested .products_list_wrapper .products_list_item {
    margin-right: 20px;
  }
  .offer-wrapper img {
    margin: 0 auto;
  }
  .offer-wrapper .block-content {
    padding-left: 0px;
  }
  .prices-drop .products_list_wrapper ul,
  .offer .products_list_wrapper ul {
    width: 100%;
  }
  .filter_form .bootstrap-select {
    max-width: 100%;
  }
  .module-ph_simpleblog-list .content-header,
  .blog .content-header,
  .search .content-header,
  .category .content-header,
  .products .content-header {
    padding-right: 20px;
  }
  .module-ph_simpleblog-list .content .search_form input[type=text],
  .blog .content .search_form input[type=text],
  .search .content .search_form input[type=text],
  .category .content .search_form input[type=text],
  .products .content .search_form input[type=text] {
    width: 80%;
  }
  .tags-wrapper .tag-item {
    width: 50%;
  }
  .module-ph_simpleblog-single .content-header,
  .article .content-header {
    padding-left: 80px;
  }
  .module-ph_simpleblog-single form .btn,
  .article form .btn {
    display: block;
  }
  .nav-tabs {
    display: none;
  }
  .tab-content > a.active,
  .tab-content > a {
    display: block;
  }
  .tab-content #info .btn {
    float: none;
    width: 100%;
  }
  .gender-group .bootstrap-select {
    width: 100%;
  }
  .authentication .gender-group,
  .register .gender-group {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .authentication form .btn-submit,
  .register form .btn-submit {
    display: block;
    margin: 0 auto;
  }
  .authentication .opc_account_form_wrapper .form-group.col-sm-6.right,
  .register .opc_account_form_wrapper .form-group.col-sm-6.right {
    padding-left: 0;
  }
  .authentication .opc_account_form_wrapper .date-select .row > div,
  .register .opc_account_form_wrapper .date-select .row > div {
    padding-right: 0;
  }
  .productsSortForm,
  .layered_price,
  .layered_filter {
    padding-right: 0 !important;
  }
  .block_adress .uppercase {
    border-bottom: #d2d2d2 1px solid;
    margin-bottom: 10px;
  }
  .module-cashondelivery-validation .btn-submit,
  .module-cheque-payment .btn-submit,
  .module-bankwire-payment .btn-submit,
  .authentication .btn-submit,
  .order .btn-submit,
  .module-cashondelivery-validation .btn-pay,
  .module-cheque-payment .btn-pay,
  .module-bankwire-payment .btn-pay,
  .authentication .btn-pay,
  .order .btn-pay,
  .module-cashondelivery-validation .btn-add,
  .module-cheque-payment .btn-add,
  .module-bankwire-payment .btn-add,
  .authentication .btn-add,
  .order .btn-add,
  .module-cashondelivery-validation .btn-continue,
  .module-cheque-payment .btn-continue,
  .module-bankwire-payment .btn-continue,
  .authentication .btn-continue,
  .order .btn-continue,
  .module-cashondelivery-validation .btn-checkout,
  .module-cheque-payment .btn-checkout,
  .module-bankwire-payment .btn-checkout,
  .authentication .btn-checkout,
  .order .btn-checkout {
    display: block;
    margin: 0 auto 20px;
  }
  .order .cart_item .col-xs-7 {
    padding-left: 10px;
    text-align: left;
  }
  .order .cart_item .col-xs-7 .price {
    line-height: 24px;
  }
  .order .cart_item .col-xs-7 .bootstrap-select,
  .order .cart_item .col-xs-7 select,
  .order .cart_item .col-xs-7 input {
    margin-left: 0;
  }
  .order .cart_item > div {
    margin-bottom: 10px;
  }
  .nav-tabs.tab-descr {
    display: block;
  }
  .btn.btn-cart-extra {
    width: 160px;
    padding: 0;
    min-width: 1px;
  }
  .btn.social-sharing {
    margin-bottom: 5px;
  }
  .product #send_friend_form input[type="text"] {
    width: 60%;
  }
  .products-comparison .content-header {
    padding-right: 50px;
  }
  .products-comparison .content-header .introtext {
    font-size: 18px;
  }
  .products-comparison #product_comparison .comparison_counter {
    line-height: 80px;
  }
  .products-comparison #product_comparison .product-image-block img {
    margin: 0 auto;
  }
  .products-comparison #product_comparison .btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-indent: -9999px;
    background-position: center;
  }
  .products-comparison #product_comparison .btn-wishlist-white {
    background-image: url("../img/btn_wishlistextra_ico.png");
  }
  .products-comparison #product_comparison .btn-cart {
    background-image: url("../img/btn_cartextra_ico.png");
    background-position: 7px center;
  }
  .info_edit .contact-form .form-group {
    text-align: left;
  }
}
@media (max-width: 570px) {
  .products_list_wrapper .products_list_item .product-descr {
    padding-left: 0;
    padding-right: 0;
  }
  .carousel-caption {
    background-size: contain;
  }
  .cms-6 .content-header form,
  .faq .content-header form {
    width: 280px;
  }
  .cms-6 .content-header input[type="email"],
  .faq .content-header input[type="email"],
  .cms-6 .content-header input[type="text"],
  .faq .content-header input[type="text"] {
    width: 240px;
  }
  .cms-11 .content-header h1,
  .suggested .content-header h1 {
    line-height: 36px;
  }
  .cms-11 .content-header .introtext,
  .suggested .content-header .introtext {
    line-height: 24px;
  }
  .products_list_wrapper .products_list_item .product-descr {
    margin-left: 0;
    margin-right: 0;
  }
  .pagenotfound .content-header {
    background-image: none !important;
  }
  .content-header .search_form input[type=text] {
    width: 80%;
  }
  .breadcrumb {
    padding-left: 80px;
  }
  .nav-tabs > li > a {
    min-width: 1px;
  }
  .product .tab-descr li a {
    font-size: 10px;
  }
  .product .box-cart-bottom .wishlist {
    padding: 0;
  }
  .logo-wrapper .logo {
    max-width: 100%;
  }
  iframe {
    max-width: 100% !important;
  }
  .btn-transformreward {
    width: 260px;
    height: 56px;
    padding: 10px 0;
    line-height: 18px;
    white-space: normal;
  }
}
