@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic);
//@import url(global.css);
@import "mixins.less";
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@color-bg: #fff;
@color-base:  #221f20;
@color-purple: #60123c;
@color-lgrey: #e6e7e8;
@color-grey: #999999;

@font-family: "Ubuntu", Arial, sans-serif;
@font-size-base: 16px;
@line-height-base: 30px;

@font-size-intro: 18px;

@font-size-light: 14px;
@line-height-light: 24px;

@btn-height: 42px;

html,body{height:100%;}
body {
  font-size: @font-size-base;
  font-family: @font-family;
  line-height: @line-height-base;
  width: 100%;
  color: @color-base;
  background-color: @color-bg;
}

a {
  color: @color-base;
  text-decoration: none;
  &:hover {
    color: @color-purple;
  }
  &:focus {
    color: @color-base;
    outline: none;
  }
  &.bold {
    font-weight: 700;
  }
}
h1, h3, h6 {
  font-weight: 500;
}
h1 {
  font-size: 48px;
  line-height: 60px;
  color: @color-purple;
}
h2 {
  font-size: 36px;
  line-height: 40px;
  &.light {
    font-weight: 300;
  }
}
h3 {
  font-size: 30px;
  line-height: 24px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h5, h6 {
  font-size: 18px;
}

input {
  .border-radius();
}
.bootstrap-select,
textarea.form-control,
input[type=number],
input[type=password],
input[type=number],
input[type=text],
input[type=file],
input[type=email] {
  width: 100%;
  max-width: 390px;
  height: @btn-height;
  border: #000 1px solid;
  background-color:#fff;
  border-radius: (0);
  padding: 0 15px;
}
.form-control:focus {
  .box-shadow(@color-grey);
  color: @color-base;
}
.bootstrap-select * {
  font-weight: 400;
  padding-left: 0;
  font-size: @font-size-base;
  font-family: @font-family;
}
.dropdown-menu > li:hover,
.dropdown-menu > li.selected {
  background-color: @color-lgrey;
}
.dropdown-menu > li.selected > a,
.bootstrap-select .dropdown-menu li a:hover {
  background-color: transparent;
}
.btn-group.open .dropdown-toggle,
.selectpicker {
  text-transform: none;
  box-shadow: none !important;
  background-color: transparent !important;
}
.dropdown-menu {
  .border-radius();
  box-shadow: none;
}
.bootstrap-select .btn,
.bootstrap-select .btn .filter-option {
  height: @btn-height;
  line-height: @btn-height;
  border: 0 !important;
  padding: 0;
  transition: none;
  text-indent: 0;
}
.bootstrap-select.btn-group .dropdown-menu li {
  padding: 5px 0;
}
.bootstrap-select .btn .caret {
  width: 10px;
  height: 14px;
  border: 0;
  right: 0 !important;
  margin-top: -7px !important;
  background-image: url(../img/select_ico.png);
  background-repeat: no-repeat;
}
textarea.form-control {
  max-width: 100%;
  width: 100%;
  height: 180px;
}
textarea.form-control,
input.form-control {
  .border-radius();
  box-shadow: none;
}
textarea.form-control:focus,
input.form-control:focus {
  border-color: transparent;
}
textarea.form-control.error,
input.form-control.error {
  border-color: transparent;
}
.form-group {
  .error {
    color: #ff0000;
  }
}

*::-webkit-input-placeholder{
  color: @color-base !important;
}
*:-moz-placeholder{
  color: @color-base !important;
}
*::-moz-placeholder{
  color: @color-base !important;
}
*:-ms-input-placeholder {
  color: @color-base !important;
}


.table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;

}
.table-display {
  display: table;
}
.uppercase {
  text-transform: uppercase;
}

.text-grey {
  color: @color-grey;
}
.text-lgrey {
  color: @color-lgrey;
}
.text-purple {
  color: @color-purple;
}
.text-orange {
  color: #f0933e;
}
.text-red {
  color: #ff0000;
}
.text-italic {
  font-style: italic;
}
.content h1 .text-light,
.content h2 .text-light,
.content .text-light {
  font-weight: 300;
}
.divider {
  position: absolute;
  left: -300px;
  width: 999em;
  height: 0;
  border-top: @color-base 1px solid;
}

ul, p, h1, h2, h3, h4, h5, h6,
.navbar, .navbar-collapse,
.row,
[class*="col-"]:not([class*="-offset-"]),
.container,
.container-fluid {
  margin: 0;
  padding: 0;
}
.navbar-collapse {
  max-height: 100%;
}
.container-fluid {
  position: relative;
  overflow: hidden;
}
.container {
  position: relative;
  max-width: 1280px;
  width: 100%;
}
.unvisible,
.btn.unvisible {
  display: none;
}
.tooltip-inner {
  .border-radius();
  display: block;
  padding: 0 35px 0 15px;
  color: @color-lgrey;
  background-color: @color-base;
  text-align: left;
  max-width: 400px;
  width: 390px;
  height: 40px;
  line-height: 40px;
  font-size: 16px !important;
  background-image: url("../img/tooltip_close.png");
  background-repeat: no-repeat;
  background-position: right  center;
}
.tooltip.left .tooltip-arrow{
  border-left-color: @color-base;
}
.tooltip.right .tooltip-arrow{
  border-right-color: @color-base;
}
.tooltip.bottom .tooltip-arrow{
  border-bottom-color: @color-base;
  border-width: 0 10px 10px !important;
  left: 20px !important;
  margin-left: 0 !important;
}
.tooltip.top .tooltip-arrow{
  border-top-color: @color-base;
}
.af-message-success {background-color: @color-purple !important; color: #fff;}

.btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  min-width: 110px;
  color: @color-base;
  font-weight: 700;
  text-transform: uppercase;
  background-color: @color-lgrey;
  border: transparent 1px solid;
  background-repeat: no-repeat;
  background-position: 300px center;
  overflow: hidden;
  .border-radius(0);
  .transition(all, 1s);

  &:hover {
    text-indent: -600px;
    background-position: center center;
    //border-color: #d62051;
  }
  &:focus,
  &:active {
    color: #dadbdc;
    box-shadow: none;
    border: #fff 1px solid;
    background-color:#dadbdc;
  }
  &.black {
    color: #fff;
    background-color: #000;
    &:focus,
    &:active,
    &:hover {
      background-color: @color-purple;
    }
  }
  &.btn-purple {
    &:focus,
    &:active,
    &:hover {
      background-color: @color-purple;
    }
  }
  &.lgrey {
    &:focus,
    &:active,
    &:hover {
      background-color: #dadbdc;
    }
  }
  &.btn-read-more {
    background-image: url("../img/btn-read-more.png");
  }
  &.btn-cart {
    background-image: url("../img/btn_cart_ico.png");
  }
  &.btn-wishlist {
    background-image: url("../img/btn_wishlist_ico.png");
  }
   &.btn-wishlist-white {
    background-image: url("../img/btn_wishlist_white_ico.png");
  }
  &.btn-compare {
    background-image: url("../img/btn_compare_ico.png");
  }
  &.btn-submit {
    background-image: url("../img/btn_submit_ico.png");
  }
  &.btn-pay {
    background-image: url("../img/btn_pay_ico.png");
  }
  &.btn-return {
    background-image: url("../img/btn_return_ico.png");
  }
  &.btn-add {
    background-image: url("../img/btn_add_ico.png");
  }
  &.btn-share {
    background-image: url("../img/btn_share_ico.png");
  }
  &.btn-transform {
    width: auto;
    &:hover {
      text-indent: 0;
      background-color: @color-purple;
      color: #FFFFFF;
    }
  }
  &.btn-continue {
    background-image: url("../img/btn_continue_ico.png");
  }
  &.btn-delete {
    background-image: url("../img/btn_delete_ico.png");
  }
  &.btn-edit {
    background-image: url("../img/btn_edit_ico.png");
  }
  &.btn-comment {
    background-image: url("../img/btn_comment_ico.png");
  }
  &.btn-save {
    background-image: url("../img/btn_save_ico.png");
  }
  &.btn-viewcart {
    background-image: url("../img/btn_viewcart_ico.png");
  }
  &.btn-sendfriend {
    background-image: url("../img/btn_sendfriend_ico.png");
  }
  &.btn-send {
    background-image: url("../img/btn_send_ico.png");
  }
  &.btn-signin {
    background-image: url("../img/btn_signin_ico.png");
  }
  &.btn-createaccount {
    background-image: url("../img/btn_createaccount_ico.png");
  }
  &.btn-update {
    background-image: url("../img/btn_update_ico.png");
  }
  &.btn-addwishlist {
    background-image: url("../img/btn_addwishlist_ico.png");
  }
  &.btn-addcart {
    background-image: url("../img/btn_addcart_ico.png");
  }
  &.btn-viewcart {
    background-image: url("../img/btn_viewcart_ico.png");
  }
  &.btn-checkout {
    background-image: url("../img/btn_checkout_ico.png");
  }
  &.btn-guest {
    background-image: url("../img/btn_guest_ico.png");
  }
  .icon-extra {
    display: block;
    width: 27px;
    height: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/btn_extra_ico.png");
  }
  &.btn-extra {
    .transition(background-color, 0.7s);
    position: relative;
    width: 40px;
    min-width: 1px;
    padding: 0;
    &:active,
    &.active {
      box-shadow: none;
      background-color: #fff;
      border-top-color: @color-base;
    }
    span {
      position: absolute;
      display: block;
      text-indent: -999em;
    }
    .icon-extra {
      margin: 0 auto;
    }
  }
  &.btn-cart-extra {
    min-width: 215px;
    text-indent: 0;
    .transition(background-color, 0.7s);
    &:hover {
      background-color: @color-base;
    }
    span {
      display: block;
      float: left;
      height: 38px;
      line-height: 38px;
      margin-left: 15px;
      padding-right: 10px;
    }
    .icon-extra {
      float: left;
    }
  }
  &.btn-wishlist-extra {
    &:hover {
      background-color: @color-base;
    }
    .icon-extra {
      background-position: -34px 0;
    }
  }
  &.btn-send-extra {
    &:hover {
      background-color: #eee;
    }
    .icon-extra {
      background-position: -75px 0;
    }
  }
  &.btn-share-extra {
    &:hover {
      background-color: #eee;
    }
    .icon-extra {
      background-position: -117px 0;
    }
  }
  &.purple {
    color: #fff;
    background-color: @color-purple;
  }
  &.social-sharing {
    background-color: transparent;
    border-color: @color-lgrey;
    line-height: 30px;
    height: 30px;
    min-width: 1px;
    padding: 0 10px;
    .transition-none();
    font-weight: 400;
    text-transform: none;
    text-indent: 0;
    &.btn-facebook:hover, &.btn-twitter:hover, &.btn-google-plus:hover, &.btn-pinterest:hover, &.btn-youtube:hover {
      border-color: white;
    }

    &.btn-facebook i {
      color: #435f9f; }
    &.btn-facebook:hover {
      color: white;
      background-color: #435f9f; }
    &.btn-facebook:hover i {
      color: white; }

    &.btn-twitter i {
      color: #00aaf0; }
    &.btn-twitter:hover {
      color: white;
      background-color: #00aaf0; }
    &.btn-twitter:hover i {
      color: white; }

    &.btn-google-plus i {
      color: #e04b34; }
    &.btn-google-plus:hover {
      color: white;
      background-color: #e04b34; }
    &.btn-google-plus:hover i {
      color: white; }

    &.btn-pinterest i {
      color: #ce1f21; }
    &.btn-pinterest:hover {
      color: white;
      background-color: #ce1f21; }
    &.btn-pinterest:hover i {
      color: white; }

  }
}
// *************************** SIDEBAR ***************************
.sidebar {
  position: relative;
  padding: 20px 40px 80px;
  float: left;
  width: 25%;
  max-width: 300px;
  background-color: @color-base;
  color: @color-lgrey;
  z-index: 2;
  .ajax_cart_block_remove_link,
  .cart_block_product_name {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    &:hover {
      color: @color-grey;
      text-decoration: none;
    }
  }
  .ajax_cart_block_remove_link {
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px 0 0;
    text-indent: -9999em;
    background: url("../img/btn_delete_small_ico.png") no-repeat 0 0;
  }
  .product_item {
    padding-bottom: 10x;
    margin-bottom: 10px;
    border-bottom: @color-grey 1px solid;
    .price {
      float: right;
      line-height: 16px;
      margin-bottom: 5px;
    }
    input[type=text] {
     float: right;
      width: 45px;
      height: 20px;
      line-height: 20px;
      margin-bottom: 5px;
      color: #fff;
      background-color: @color-grey;
    }
  }
  .block_content {
    display: none;
    .btn {
      width: 100%;
      background-color: @color-base;
      margin-bottom: 20px;
      border-color: #fff;
      border-width: 2px;
      &:hover {
        background-color: @color-purple;
      }
      &.purple {
        background-color: @color-purple;
        border: 0;
      }
    }
    .btn-compare {
      background-image: url("../img/compare_ico.png");
    }
    .btn-close {
      display: block;
      margin: 30px auto;
      width: 29px;
      height: 18px;
      text-indent: -9999em;
      background: url("../img/sidebar_close_ico.png") no-repeat 0 0;
    }
    .btn-blockwishlist {
      margin: 30px 0;
    }
    h3 {
      font-size: 18px;
      color: @color-lgrey;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    &#cart_block_list {
      .sidebar-btn {
        border-right: 0;
      }
      .total_cart {
        margin: 10px 0;
      }
      .btn-checkout {
        background-color: @color-purple;
        border-color: @color-purple;
      }
      .btn-viewcart:hover {
        background-color: transparent;
      }
    }
  }
  * {
    color: #fff;
  }
  pre {
    color: #000;
  }
  .navbar {
    border: 0;
  }
  .navbar-toggle {
    .icon-bar {
      background-color: @color-lgrey;
    }
  }
  .navbar-header {
    float: none;
    display: none;
  }
  .menu_collapse_btn {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 30px;
    margin-left: 3px;
    background: url("../img/menu_arrows.png") no-repeat 0 -136px;
  }
  .cart-wrapper {
    margin-bottom: 40px;
    &.active {
      .sidebar-btn {
        border-bottom: #fff 1px solid;
        &.active {
          border: #fff 1px solid;
          border-bottom: 0;
        }
      }
    }
  }
  .sidebar-btn {
    width: 25%;
    float: left;
    a {
      position: relative;
      display: block;
      width: 50px;
      min-height: 50px;
      line-height: 50px;
      font-size: 18px;
      margin: 13px 0;
      color: @color-lgrey;
      background: url("../img/menu_btn.png") no-repeat 15px 5px;
      &:focus,
      &:hover {
        text-decoration: none;
      }
      button {
        border: 0;
        background-color: transparent;
      }
      span {
        position: absolute;
        display: block;
        text-align: center;
        top: 30px;
        left: 0;
        width: 100%;
        line-height: 24px;
      }
    }
    &.sidebar-member {
      border-left: 0 !important;
    }
    &.sidebar-compare a {
      background-position: -218px 5px;
    }
    &.sidebar-wishlist a {
      background-position: -68px 5px;
    }
    &.sidebar-cart {
      border-right: 0 !important;
      a {

        background-position: -143px 5px;
      }
    }
    .compare-form {
      width: auto;
    }
  }
  .cart-wrapper-small .sidebar-btn {
    border: 0 !important;
    a {
      width: 28px;
      height: 60px;
      line-height: 60px;
      margin-bottom: 10px;
      text-align: center;
    }
    &.sidebar-member a {
      height: 25px;
      background-position: 4px 0;
      margin-bottom: 0;
    }
    &.sidebar-compare a {
      margin-top: 0;
      background-position: -231px 10px;
    }
    &.sidebar-wishlist a {
      background-position: -79px 10px;
    }
    &.sidebar-cart a {
      background-position: -155px 10px;
    }
    &:focus,
    &:active {
      text-decoration: none;
    }
    span {
      top: 35px;
    }
  }
  form {
    width: 220px;
    input {
      height: 40px;
      background-color: transparent;
      border: #fff 1px solid;
      &:focus {
        background-color: #fff;
      }
    }
    input[type="email"],
    input[type="text"] {
      font-size: 15px;
      color: @color-lgrey;
      float: left;
      width: 180px;
      border-right: 0;
      &:focus {
        color: @color-base;
      }
    }
    input[type="submit"] {
      float: right;
      width: 40px;
      border-left: 0;
      background: url("../img/search_ico.png") no-repeat 10px center;
      &:focus {
        background-color: #fff;
        background-position: -19px center;
      }
    }
    .placeholder(@color-lgrey);
  }
  .nav {
    margin-top: 70px;
    li {
      display: block;
      background-color: transparent;
      a {
        color: @color-lgrey;
        padding: 0;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 0.7px;
        background-color: transparent;
        text-transform: uppercase;
        .transition();
        white-space: normal;
        &:focus,
        &:hover {
          color: #fff;
          background-color: transparent !important;
        }
      }
       &.active {
        & > a {
          color: #fff;
        }
      }
      &.open {
        & > a {
          font-weight: 700;
        }
      }
    }
    .dropdown-menu {
      background-color: transparent;
      position: relative;
      float: none;
      margin-bottom: 5px;
      border-bottom: @color-lgrey 1px solid;
      padding-left: 10px;
      .dropdown-menu {
        border-bottom: 0;
      }
      .dropdown {
        position: relative;
        padding-right: 20px;
        &:after {
          display: block;
          content: " ";
          float: right;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          border-width: 7px 7px 0 7px;
          border-top-color: @color-lgrey;
          position: absolute;
          top: 11px;
          right: 0px;
        }
        &.open {
          & > a {
            font-weight: 700;
          }
          &:after {
            border-top-width: 0;
            border-bottom-width: 7px;
            border-bottom-color: @color-lgrey;
          }
        }
      }
      li.active {
        & > a {
          color: @color-lgrey;
        }
      }
      a {
        font-size: 16px;
        font-weight: 400;
        color: @color-grey;
        &.text-orange {
          color: #f0933e;
        }
      }
      li.sidebar-offer {
        position: relative;
        color: #f0933e;
        a {
          color: inherit;
        }
        &:after {
          content: "%";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
   }
  #navbar {
    position: relative;
    /*padding-bottom: 350px;*/
    background-color: @color-base;
    .navbar-footer {
      /*position: absolute;
      bottom: 0;*/
      margin-top: 350px;
      .nav {
        margin-top: 0;
        li {
          a {
            font-size: 16px;
            line-height: 25px;
            color: @color-grey;
            &:hover {
              color: @color-lgrey;
            }
          }
          &.active a {
            color: #fff;
          }
         }
      }
      h3 {
        padding: 10px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
      }
      .newsletter_form {
        margin-bottom: 30px;
      }
    }
  }
  #viewed-products_block_left {
    margin-top: 30px;
    .block_content {
      display: block;
    }
    .title_block {
      text-transform: uppercase;
    }
    li {
      list-style: none;
      margin-bottom: 20px;
      img {
        padding-bottom: 10px;
      }
    }
    .product-description {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
.social {
  li {
    list-style: none;
    float: left;
    width: 25%;
    a {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      padding: 10px;
      background: url("../img/social_ico2.png") no-repeat 0 10px;
      &:hover{
        background-position: 0 -36px;
      }
      span {
        position: absolute;
        top: -999em;
      }
    }
    &.facebook a {
      padding-left: 0;
    }
    &.google-plus a,
    &.googleplus a {
      background-position: -50px 10px;
      &:hover {
        background-position: -50px -36px;
      }
    }
    &.twitter a {
      background-position: -125px 10px;
      &:hover {
        background-position: -125px -36px;
      }
    }
    &.pinterest a {
      background-position: -166px 10px;
      &:hover {
        background-position: -166px -36px;
      }
    }
    &.instagram a {
      background-position: -239px 12px;
      &:hover {
        background-position: -239px -33px;
      }
    }
    &.youtube a {
      background-position: -310px 12px;
      &:hover {
        background-position: -310px -33px;
      }
    }
  }
}

// *************************** CONTENT ***************************
.content {
  float: left;
  width: 75%;
  position: relative;
  padding: 80px 20px 80px 40px;
}
.index,
.homepage {
  .container-fluid {
    //background: url("../img/homepage_bg.png") repeat-x 0 620px;
  }
  .content {
    padding-top: 0;
  }
  .logo-wrapper {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 11;
    span {
      font-size: 20px;
      line-height: 60px;
      color: @color-purple;
    }
  }
}
.carousel {
  position: relative;
  z-index: 1;
  margin-left: 10px;
  .carousel-inner {
    .item {
      height: 620px;
      background-position: right top;
      background-repeat: no-repeat;
      a:hover {
        text-decoration: none;
      }
      .img-bg,
      .img-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .img-responsive {
        position: relative;
        margin: 0 auto;
      }
      .carousel-caption {
        position: relative;
        top: 200px;
        left: 10px;
        max-width: 390px;
        padding-left: 30px;
        padding-bottom: 120px;
        line-height: 24px;
        text-align: left;
        text-shadow: none;
        color: @color-base;
        background-position: left bottom;
        background-repeat: no-repeat;
        img {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .carousel-indicators {
    bottom: 60px;
    left: 0;
    margin-left: 30px;
    width: auto;
    
    li {
      width: 10px;
      height: 10px;
      border: 0;
      margin-right: 5px;
      background-color: #d2d2d2;
      &.active {
        background-color: @color-base;
      }
    }
  }
}
.products_list_wrapper {
  margin-top: 60px;
  overflow: hidden;
  padding: 20px 0;
  h2, h4 {
    font-size: 24px;
    margin-bottom: 25px;
    margin-left: 50px;
  }
  .jcarousel {
    //margin: 0 -40px;
  }
  .products_list_item_wrapper {
    //margin: -10px -20px -10px 0;
    max-width: 235px;
    min-width: 160px;
    height: 620px;
    list-style: none;
    margin-bottom: 40px;
  }
  .products_list_item {
    padding: 0 10px;
    margin: 10px;
    //.box-shadow();
    //.transition();
    .img-wrapper {
      height: 290px;
      text-align: center;
      overflow: hidden;
      //.transition(height);
    }
    .product-descr {
      margin: 0 20px;
      padding-top: 13px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      border-top: @color-base 1px solid;
      background-color: #fff;
    }
    a:hover {
      text-decoration: none;
    }
    h5 {
      line-height: 24px;
    }
    .price {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
    }
    .discount-price {
      padding: 0 3px;
      background-color: #f0933e;
      color: #fff;
      font-weight: 500;
    }
    .btn_wrapper {
      text-align: center;
      display: none;
      padding-bottom: 20px;
      img {
        margin: 0 auto;
      }
    }
    .btn {
      width: 175px;
      margin-bottom: 2px;
      font-size: 12px;
      font-weight: 500;
      &.purple {
        margin-bottom: 5px;
        font-size: 16px;
      }
    }
    &:hover {
      .box-shadow();
      .img-wrapper {
        //height: 110px;
        background: url("../img/product_hover_bg.png") no-repeat center top;
      }
      .btn_wrapper {
        display: block;
      }
    }
  }
}
.comments_note {
  text-align: center;
  .star_content {
    display: inline-block;
  }
  .star {
    color: @color-lgrey;
    font-family: "Glyphicons Halflings";
    width: 16px;
    font-size: 16px;
    //line-height: 19px;
    &.star_on {
      color: @color-purple;
    }
  }
  .nb-comments {
    display: inline-block;
    line-height: 19px;
    //height: 16px;
  }
}
.img_banner {
  position: absolute;
  right: 15px;
  top: 0px;;
}

// *************************** ABOUT ***************************
.inner {
  .content {
    padding-left: 80px;
  }
  .logo-wrapper {
    height: 60px;
    margin-bottom: 80px;
  }
  .content-wrapper {
    h3.uppercase {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 1px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px;

    }
  }
}
#returns li,
ul.bullet-list li {
  list-style: none;
  margin-left: 30px;
  margin-bottom: 12px;
  padding-left: 30px;
  background: url("../img/li.png") no-repeat 0 8px;
}
.header-bg {
  background-color: #dcdbd3;
  height: 250px;
  width: 100%;
  position: absolute;
  top: 220px;
  left: 0;
}
.module-belvg_testimonials-view .header-bg,
.module-belvg_testimonials-view .content-header,
.header-bg-green {
  background-color: #d6e99c !important;
}
.module-belvg_testimonials-view .content-header {
  background-image: url("../img/header_bg_green.png") !important;
}
.module-belvg_testimonials-view .pagination .disabled {
  display: none;
}
.prices-drop .header-bg,
.header-bg-orange {
  background-color: #f0933e !important;
}
.prices-drop .divider {
  display: none;
}
.category .header-bg,
.header-bg-lilo {
  background-color: #e0cfd9 !important;
}

.content-header {
  background-color: #dcdbd3;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../img/header_bg_grey.png");
  background-size: contain;
  height: 250px;
  padding: 40px 250px 40px 0;
  margin-bottom: 75px;
  position: relative;
  h1 {
    color: @color-base;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 1.7px;
    margin-bottom:25px;
    text-transform: uppercase;
    span {
      font-weight: 300;
    }
   }
  .introtext {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    .fontsize18 {
      font-size: 18px;
    }
    em {
      display: block;
      margin-bottom: 20px;
    }
  }
}
.cms .content-header .introtext {
  //font-style: italic;
  .sign {
    font-size: 16px;
    font-style: normal;
  }
}
.content-wrapper {
  line-height: 24px;
  &>* {
    margin-bottom: 25px;
  }
  .introtext {
    font-size: 18px;
  }
  .alert {
    color: @color-purple;
    border-color: @color-purple;
    background-color: #e0cfd9;
    .border-radius();
  }
}



// *************************** CONTACT ***************************
.gmap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 350px;
  //margin-bottom: -100px;
  z-index: 1;
}
.contact .content {
  padding-bottom: 350px;
}
.comment-form,
.contact-form {
  max-width: 860px;
  label {
    display: block;
    font-weight: 400;
  }
  .form-group {
    margin-bottom: 28px;
    &.right {
      padding-left: 40px;
    }
  }
  input[type=submit] {
    width: 195px;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.g-recaptcha iframe {
  float: right;
}
.form-control:focus {
  border: 0;
}
//.form-error .form-control,
.select-error .bootstrap-select,
.bootstrap-select.error,
.form-control.error {
  border: #cc0000 1px solid !important;
}
// *************************** FAQ ***************************
.content-header {
  .search_form {
    max-width: 390px;
    margin-top: 20px;
    background-color: #fff;
  }
  input {
    background-color: inherit;
    border: 0;
  }
  input[type="email"],
  input[type="text"] {
    font-size: 15px;
    color: @color-base;
    background-color: #fff;
    float: left;
    width: 350px;
  }
  input[type="submit"] {
    float: right;
    width: 40px;
    height: 42px;
    background: #fff url("../img/search_ico.png") no-repeat -19px center;
    &:hover,
    &:focus {
      opacity: 0.9;
      background-position: -19px center;
    }
  }
}
.cms-6,
.faq {
  .content-header .introtext {
    font-style: normal;
    font-size: 16px;
  }
  .faq_wrapper {
    margin: 28px 0;
  }
  .faq_item {
    margin-top: -1px;
    padding: 8px 0;
    border-top: #d2d2d2 1px solid;
    border-bottom: #d2d2d2 1px solid;
    .faq_question {
      position: relative;
      font-size: 18px;
      padding-left: 10px;
      padding-right: 40px;
      a:focus,
      a:hover {
        text-decoration: none;
      }
      span {
        display: block;
        width: 13px;
        height: 24px;
        position: absolute;
        right: 12px;
        top: 0;
        background: url("../img/faq_ico.png") no-repeat 0 center;
      }
    }
    .faq_answer {
      padding: 5px 10px;
      margin-bottom: 5px;
      display: none;
      a {
        font-weight: 500;
      }
      .btn {
        width: 300px;
      }
    }
    &.open {
      .faq_question {
        font-weight: 700;
        span {
          background-position: -38px center;
        }
      }
    }
  }
}

// *************************** TESTIMONIALS ***************************
.module-belvg_testimonials-view,
.testimonials {
  .introtext {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 20px;
  }
  .content-header {
    margin-bottom: 40px;
    padding-right: 40px;
    background-image: url("../img/header_bg_green.png");
  }
  .bootstrap-select {
    width: 185px;
  }
  .content_new_question {
    display: none;
  }
  .new_question_link {
    width: 220px;
  }
  .validate li {
    list-style-position: inside;
  }
}
.testimonials-wrapper {
  margin-top: 35px;
}
.testimonial-item {
   padding: 35px 0;
   border-top: @color-grey 1px solid;
   line-height: 24px;
   .ts-content {
     padding-left: 20px;
     &>p {
       margin-bottom: 25px;
     }
   }
 }
// *************************** WHERE TO BUY ***************************
.stores,
.where2buy {
  .logo-wrapper {
    padding-left: 40px;
  }
  .content-header {
    padding-left: 40px;
    margin-bottom: 0;
    .introtext {
      font-size: 18px;
    }
  }
  .content {
    padding-left: 40px;
  }
  .cart-img {
    position: relative;
    display: inline-block;
    width: auto;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .where2buy-links {
    a {
      position: absolute;
      width: 150px;
      height: 100px;
      border: @color-purple 1px solid;
      background-color: #fff;
      text-align: center;
      &:after,
      &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        margin-top: -1px;
      }
      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 15px;
        margin-left: -15px;
      }
      &:before {
        border-color: rgba(96, 18, 60, 0);
        border-top-color: @color-purple;
        border-width: 16px;
        margin-left: -16px;
      }
      &.store6,
      &.us {
        top: 117px;
        left: 100px;
      }
      &.store10,
      &.ru {
        top: 5px;
        left: 535px;
      }
      &.store9,
      &.de {
        top: 71px;
        left: 375px;
      }
      &.store8,
      &.ch {
        top: 120px;
        right: 150px;
      }
      &.store7,
      &.au {
        top: 260px;
        right: 70px;
      }
    }
  }

}
// *************************** SUGGESTED ***************************
.cms-11,
.suggested {
  .content-header {
    .introtext {
      line-height: 36px;
    }
  }
  .content-wrapper {
    h3 {
      margin-bottom: 50px;
    }
    strong {
      font-weight: 500;
    }
    .tips {
      margin-top: 50px;
    }
  }
  .divider {
    margin-top: 60px;
  }
  .products_list_wrapper {
    margin-top: 145px;
    margin-left: -20px;
    //margin-right: -50px;
    //.jcarousel-nav-wrapper {
    //  top: 0;
    //}
  }
}
// *************************** OFFER ***************************
.old-price {
  text-decoration: line-through;
  color: @color-base;
}
.prices-drop,
.offer {
  .content-header {
    margin-bottom: 40px;
    background-color: #f0933e;
    background-image: url("../img/header_bg_orange.png");
  }
  .products_list_wrapper {
    margin-top: 35px;
    .products_list_item {
      list-style: none;
      .btn {
        width: 100%;
      }
      .price-wrapper {
        width: 90px;
        margin: 10px auto;
      }
      .product-descr {
        line-height: 18px;
      }
      h5 {
        margin-bottom: 3px;
      }
      .price,
      .old-price {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        display: block;
      }
      .price {
        background-color: #f0933e;
        color: #fff;
      }
    }
  }
}
.cart_total {
  .price.discount-price {
    display: block;
    text-align: center;
    background-color: #f0933e;
    color: #fff;
  }
  .old-price {
    display: block;
    text-align: center;
  }
}

.voucher_item {
  padding: 10px !important;
}
.prices-drop .products_list_wrapper li {
  list-style: none;
}
.price_discount_del {
  margin: 20px 0;
  .btn {
    float: none;
  }
  .cart_discount_name {
   // line-height: 40px;
  }
}
.title-offers {
//  margin-top: 20px;
}
.voucher_name {
  font-weight: 600;
}
.voucher-descr.header-bg-orange {
  padding: 10px;
  min-height: 400px;
  h3 {
    color: #FFFFFF;
  }
}
.offer-wrapper {
  margin-bottom: 30px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .block-content {
    padding: 30px 0 0 40px;
    h2 {
      line-height: 48px;
      margin-bottom: 20px;
    }
    p {
      margin: 15px 0 10px;
    }
  }
  .price-wrapper * {
    line-height: 60px;
    display: inline-block;
  }
  .price {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    color: #f0933e;
  }
  .old-price {
    font-size: 24px;
    font-weight: 400;
  }
  .comments_note {
    text-align: left;
    * {
      font-size: 20px;
    }
  }
  a:hover {
    text-decoration: none;
  }
}
.pagination {
  position: relative;
  border-top: @color-base 1px solid;
  padding: 30px 40px 0;
  margin: 30px 0;
  .border-radius();
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    &.disabled {
      color: @color-grey;
    }
    span,
    a {
      width: 28px;
      padding: 0;
      margin: 0 10px;
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      color: @color-base !important;
      border: 0;
    }
    &.active {
      span:hover,
      span {
        color: @color-base;
        background-color: @color-lgrey;
      }
    }
    &:first-child,
    &:last-child {
      display: block;
      position: absolute;
      top: 30px;
      a {
        vertical-align: baseline;
        text-indent: -999em;
        &:after,
        &:before {
          content: ' ';
          display: block;
          width: 15px;
          height: 28px;
          position: absolute;
          top: 0;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    &:first-child {
      left: 0;
      a {
        &:before {
          left: 0;
          background: url("../img/arrow_prev_next.png") no-repeat;
        }
        &:hover {
          background-position: -48px 0;
        }
      }
    }
    &:last-child {
      right: 0;
      a {
        margin-right: 0;
        &:after {
          right: 0;
          margin-left: 25px;
          background: url("../img/arrow_prev_next.png") no-repeat -24px 0;
        }
        &:hover {
          background-position: -72px 0;
        }
      }
    }
  }
}
.category .pagination {
  li.disabled {
    text-indent: -999em;
  }
}
.showall .btn {
  width: 130px;
}
// *************************** PRODUCTS + SEARCH ***************************
.category,
.prices-drop,
.offer,
.products {
  .jcarousel ul {
    width: auto;
  }
}
.filter_form {
  margin-bottom: 0;
  .bootstrap-select {
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 185px;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
  }
}
.search,
.category,
.products {
  .products_list_wrapper {
    margin-top:  0;
    padding-top: 0;
  }
  .content-header {
    padding-right: 100px;
    margin-bottom: 40px;
    background-color: #e0cfd9;
    background-image: url("../img/header_bg_lilo.png");
    .introtext {
      font-size: 18px;
      &label {
        display: block;
      }
    }
  }
  .sortPagiBar {
    border-bottom: @color-base 1px solid;
    margin-bottom: 40px;
  }
  .productsSortForm {
    padding-right: 40px;
    margin-bottom: 40px;
  }
  .bootstrap-select {
    padding: 0 10px;
    border: 1px solid #000;
    .filter-option {
      text-transform: none;
    }
  }
  .layered_price,
  .layered_filter {
    padding-right: 20px;
    margin-bottom: 20px;
    &:last-child {
      padding-right: 0;
    }
    .layered_subtitle_heading *,
    .lbl {
      font-size: 14px;
    }
    li {
      list-style: none;
    }
    label {
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px !important;
      text-transform: uppercase;
    }
    input[type=checkbox]:checked+.lbl a {
      color: @color-purple;
    }
    a:hover {
        text-decoration: none;
    }
  }
  .layered_price {
    padding-right: 30px;
    label {
      margin-top: 0 !important;
    }
  }

  .layered_subtitle {
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  #enabled_filters {
    margin-bottom: 40px;
    li {
      list-style: none;
      color: @color-grey;
    }
  }
}
#order-detail-content {
  .item td.order_cb {
    position: relative;
  }
  input[type=checkbox] + .lbl {
    margin-top: 0;  
  }
  input[type=checkbox] {
    top: 0;
  }
  .button-minus, .button-plus {
    //display: none !important;
    display: block;
    width: auto;
    height: 20px;
    min-width: 0;
    padding: 0;
    border: #000 1px solid;
    background: transparent;
    text-align: center;
    .transition-none();
    &:hover {
      color: #555555;
      text-indent: 0;
    }
    &:focus {
      text-decoration: none;
    }
    span {
      padding-top: 0;
      line-height: 20px !important;
      font-size: 11px;
      background-image: none;
      i {
        display: block;
        line-height: 16px;
        &:before {
          color: @color-base;
        }
      }
    }
  }
  .button-plus {
    margin-bottom: 2px;
  }
  .order_cb {
    input[type=checkbox] {
      top: auto;
      left: auto;
    }
  }
}


#uniform-selectProductSort > span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.search {
  .content-header {
    padding-right: 380px;
    background-color: #dcdbd3;
    background-image: url("../images/header_bg_grey.png");
    .introtext {
      line-height: 24px;
    }
  }
}

#cse {
  * {
    box-sizing: content-box;
  }
  .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    height: 16px;
    width: auto;
    margin-top: 5px;
  }
  .gsc-input-box {
    height: auto;
  }
}
/*.content-header .search_form {
  max-width: 390px;
  background-color: #fff;
  input[type="text"] {
    color: @color-grey;
    float: left;
    width: auto;
    border: 0;
    &:focus {
      color: @color-base;
    }
  }
  input[type="submit"] {
    float: right;
    width: 40px;
    height: 42px;
    border: 0;
    background: transparent url("../img/search_ico.png") no-repeat -19px center;
    &:focus {
      background-color: @color-base;
      background-position: 10px center;
    }
  }
  .placeholder(@color-grey);
}*/

// *************************** BLOG ***************************
.module-ph_simpleblog-list,
.blog {
  .content-header .introtext {
    font-size: 16px;
  }
}
.tags-wrapper {
  position: relative;
  margin-top: 83px;
  padding: 5px 0px 5px 0;
  border-top: @color-lgrey 1px solid;
  border-bottom: @color-lgrey 1px solid;
  .tags-items-wrapper {
    display: none;
  }
  .introtext a {
    display: block;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0.7px;
    &:after {
      display: block;
      position: absolute;
      top: 5px;
      right: 14px;
      width: 12px;
      height: inherit;
      content: " ";
      background: url("../img/faq_ico.png") no-repeat 0 center;
    }
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
  &.open {
    padding-bottom: 40px;
    a:after {
      background-position: -38px center;
    }
  }
  .tag-item {
    width: 25%;
    float: left;
    padding-right: 40px;
    line-height: 30px;
    a {
      display: block;
    }
    .caption {
      text-transform: uppercase;
      color: #ccc;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
.blog_wrapper {
  margin-top: 50px;
  .blog-item {
    margin-bottom: 70px;
    h2 {
      margin: 30px 0 25px;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: -0.8px;
    }
    img {
      margin-bottom: 45px;
    }
    .post-read-more {
      margin-top: 35px;
    }
    .blog-item-divider {
      width: 100%;
      border-bottom: @color-lgrey 1px solid;
      margin-bottom: 30px;
    }
    .btn {
      width: 185px;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .pagination {
    margin-top: 10px;
    li:first-child,
    li:last-child {
      a {
        width: auto;
        line-height: 24px;
        font-size: 18px;
        text-indent: 0;
      }
    }
    li:first-child {
      a {
        padding-left: 40px;
      }
    }
    li:last-child {
      a {
        padding-right: 40px;
      }
    }

  }
}
.blog-info {
  font-size: 14px;
  margin-bottom: 15px;
  span {
    display: block;
    float: left;
  }
  .comments {
    padding: 0 20px 0 40px;
    &:before {
      display: block;
      width: 20px;
      height: 24px;
      margin-right: 3px;
      float: left;
      content: ' ';
      background: url("../img/input_slider_ico.png") no-repeat 0 5px;
    }
  }
  a {
    text-transform: uppercase;
  }
}
// *************************** ARTICLE ***************************
.module-ph_simpleblog-single,
.article {
  .header-bg,
  .content-header {
    padding: 0;
    height: 40px;
    min-height: 1px;
    background-image: none;
  }
  .content-header {
    margin-bottom: 80px;
  }
  .content-wrapper {
    h1 {
      font-size: 30px;
      line-height: 24px;
      margin-bottom: 30px;
      letter-spacing: -0.8px;
    }
    h2 {
      font-size: 24px;
      line-height: 24px;
    }
    img {
      margin-bottom: 45px;
    }
    p {
      margin-bottom: 45px;
    }
    .divider {
      margin-top: 30px;
    }
  }
  .socialshare {
    h3 {
      margin-bottom: 5px !important;
    }
    .btn {
      min-width: 130px !important;
      margin-bottom: 5px;
    }
  }
}
.breadcrumb {
  padding: 5px 0;
  background-color: transparent;
  font-size: 14px;
  .navigation-pipe {
    padding: 0 3px;
  }
  & > li + li:before {
    content: "\\";
    color: @color-base;
  }
  a {
    font-weight: 500;
  }
}
.comments_wrapper {
  margin-top: 150px;
  h3 {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
    border-bottom: @color-grey 1px solid;
  }
  .comment_item {
    padding: 35px 0;
    border-bottom: @color-grey 1px solid;
    .nickname {
      font-size: 18px;
    }
    .date {
      font-size: 14px;
      color: @color-grey;
      //margin-bottom: 30px;
    }
  }
  .comment-form {
    margin-top: 70px;
    h3 {
      border-bottom: 0;
      margin-bottom: 15px !important;
    }
  }
}
// *************************** MY ACCOUNT ***************************

.account {
  .content-header {
    font-size: 18px;
    margin-bottom: 45px;
  }
}
.nav-tabs {
  background-color: @color-lgrey;
  border: 0;
  li {
    border: 0;

    a, a:hover {
      font-size: 18px;
      line-height: 40px;
      .border-radius();
      border: 0;
      text-transform: uppercase;
    }
    &.active {
      a {
        border: 0;
        border-top: @color-base 1px solid !important;
      }
      a:hover {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
      }
    }
  }
 }
.nav-tabs-product > li > a {
  padding: 10px;
}
.tab-content {
  padding-top: 10px;
  & > a {
    display: none;
    line-height: 40px;
    background-color: @color-lgrey;
    padding: 0 15px;
    text-transform: uppercase;
    margin-bottom: 1px;
    &:after {
      display: block;
      float: right;
      right: 14px;
      width: 12px;
      height: 40px;
      content: " ";
      background: url("../img/faq_ico.png") no-repeat 0 center;
    }
    &:focus,
    &:hover {
      text-decoration: none;
    }
    &.active {
      background-color: transparent;
      border-top: @color-base 1px solid;
      padding-top: 10px;
      margin-bottom: 40px;
      &:after {
        background-position: -38px center;
      }
    }
  }
  & > a.active {
    display: none;
  }
  .tab-pane {
    position: relative;
    margin-bottom: 40px;
    .row {
      line-height: 40px;
      font-size: 14px;
    }
    .page-product-box li {
      list-style: inside;
    }
  }
  #block-points {
    .pagination {
      border: 0;
    }
    h3 {
      font-size: 28px;
    }
  }
  table.std {
    width: 100%;
    tr {
      border-bottom: #d2d2d2 1px solid;
    }
    th {
      line-height: 40px;
      text-transform: uppercase;
    }
    td {
      line-height: 40px;
    }
  }
  .info_view {
    .row {
      border-bottom: #d2d2d2 1px solid;
    }
    .uppercase {
      padding-left: 10px;
    }
    .btn-edit {
      margin-top: 40px;
      float: right;
      width: 160px;
    }
  }
  .info_edit {
    display: block;
    .lbl {
      padding-left: 0;
    }
    .form-group input[type=checkbox] {
      margin-left: 0;
    }
  }
}
.info-form {
  input {
    margin-bottom: 30px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .birthday-group {
    .bootstrap-select {
      width: 30%;
      margin-right: 1%;
      padding: 0 5px;
      &:first-child {
        width: 20% !important;
      }
      * {
        text-transform: none !important;
      }
     .btn {
       min-width: 1px;
     }
    }
  }
  & > .bootstrap-select:first-child {
    width: 20% !important;
  }

  .btn-submit {
    width: 160px;
    margin-top: 30px !important;
  }
  .btn-continue {
    margin: 30px 0 30px;
  }
  .gender-group {
    .bootstrap-select {
      padding: 0 5px;
      width: 70%;
      * {
        text-transform: none !important;
      }
      .btn {
        min-width: 1px;
      }
    }
  }
  .сradio {
    position: relative;
    input[type="radio"] {
      margin-bottom: 0;
      top: 10px;
    }
    input[type="radio"] + .lbl {
      margin-top: 10px;
    }
  }
  .cradio_wrapper {
    margin-bottom: 25px;
    h3 {
      margin: 25px 0 0 !important;
    }
    .error {
      margin-top: 10px;
    }
  }

}
.block_adresses {
  & > .row {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: #d2d2d2 1px solid;
  }
  .block_adress {
    padding: 20px;
    margin-bottom: 20px;
    border: #d2d2d2 1px solid;
  }
  .address_wrapper * {
    font-size: 16px;
    line-height: 24px;
  }
  .btn {
    line-height: 30px;
    height: 30px;
  }
}
.main-page-indent {
  margin-bottom: 20px;
  .btn {
    font-size: 16px;
    width: 160px;
  }
}
.contact-form {
  .btn-continue {
    width: 225px;
    margin: 10px 0 30px;
  }
}
.icon-file-text::before {
  content: "";
  display: inline-block;
}
.link-button i.large {
  color: silver;
  font-size: 26px;
  line-height: 26px;
  vertical-align: -3px;
  margin-right: 8px;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}
.nav-tabs > li > a {
  margin-right: 0;
}
#deleteAddress .modal-body {
  padding: 40px;
}
#block-history .history-item {
  padding: 20px;
  margin-bottom: 40px;
  border: #d2d2d2 1px solid ;
  &.first_item {
    border-color: @color-base;
  }
  &.col-sm-6:nth-child(even) {
    padding-left: 40px;
  }
  & > .row {
    font-size: 16px;
    border-bottom: #d2d2d2 1px solid;
  }
  .uppercase {
    font-size: 14px;
  }
  .btn-viewcart {
    width: 140px;
    margin-top: 20px;
  }
}
#block-order-detail  {
  .address li {
    list-style: none;
  }
  h3,
  .info-order p {
    margin-bottom: 10px;
  }
  h4,
  .adresses_bloc {
    margin-bottom: 20px;
  }
  .contact-form {
    margin-top: 40px;
  }
  .label {
    font-size: 16px;
    .border-radius();
  }
  .contact-form {
    .product-group {
      margin-top: 20px;
    }
    label {
      float: left;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 40px;
      margin-right: 20px;
    }
  }
  table {
    td, th {
      strong {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}
.table > thead > tr > th {
  background: #fbfbfb none repeat scroll 0 0;
  border-bottom-width: 1px;
  color: #333333;
  vertical-align: middle;
}
.box {
  background: #fbfbfb none repeat scroll 0 0;
  border: 1px solid #d6d4d4;
  line-height: 23px;
  margin: 0 0 30px;
  padding: 14px 18px 13px;
}
.page-subheading {
  border-bottom: 1px solid #d6d4d4;
  color: #555454;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
  padding: 0 0 15px;
  text-transform: uppercase;
}

.cms-1,
#returns {
  span.error {
    color: #ff0000;
  }
  .return-address {
    background-color: @color-lgrey;
    padding: 20px 20px 20px 60px;
  }
  li.error {
    background-image: url("../img/li_red.png");
    background-repeat: no-repeat;
  }
  & > * {
    margin-bottom: 30px;
  }
  h5 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.module-allinone_rewards-rewards #payment,
#min_payment {
  margin-bottom: 20px;
}
.order_qte_span,
.return_quantity_down,
.return_quantity_up {
  display: none!important;
}
// *************************** REGISTER ***************************
.authentication,
.register {
  h2 {
    font-size: 30px;
  }
  .content-header {
    .introtext * {
      font-size: 16px;
    }
  }
  .order-block {
    &.error {
      display: none;
    }
    &:last-child {
      padding: 0 0 0 40px;
    }
    .btn {
      min-width:220px;
    }
    .btn-createaccount {
      margin-bottom: 10px;
    }
  }
  .page-subheading {
    color: @color-base;
    border-bottom: 0;
  }
  .gender-group {
    margin-right: 30px;
  }
  .clearfix {
    margin-bottom: 40px;
  }
  .form-divider {
    border-bottom: #d2d2d2 1px solid;
  }
  label {
    span {
      font-size: 14px;
      color: @color-grey;
    }
  }
  #new_account_form {
    display: none;
    &.error {
      display: block;
    }
  }
  .opc_account_form_wrapper {
    .date-select {
      .row > div {
        padding-right: 20px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    .opc_delivery_wrapper {
      margin-top: 40px;
    }
    .form-group.col-sm-6.right {
      padding: 0 0 0 40px;
    }
    h3 {
      margin-bottom: 20px;
    }
    label {
      padding-left: 0;
    }
    .bootstrap-select {
      margin-bottom: 30px;
    }
    .last-item input {
      margin-bottom: 0;
    }
    .contact-form .form-group.right {
      padding-left: 20px;
    }
  }
}
input[type=radio],
input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 7px;
  z-index: 12;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type=radio]+.lbl,
input[type=checkbox]+.lbl {
  position: relative;
  z-index: 11;
  display: inline-block;
  margin: 20px 0 0;
  line-height: 20px;
  min-height: 20px;
  min-width: 20px;
}
input[type=checkbox]+.lbl:before {
  content: " ";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  min-width: 23px;
  margin-right: 5px;
  background-image: url("../img/input_slider_ico.png");
  background-repeat: no-repeat;
  background-position:  -33px 0;
}
input[type=checkbox]:checked+.lbl::before {
  background-position:  -62px 0;
}
input[type=radio]+.lbl:before {
  content: " ";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  min-width: 23px;
  margin-right: 5px;
  background-image: url("../img/input_slider_ico.png");
  background-repeat: no-repeat;
  background-position:  -94px 0;
}
input[type=radio]:checked+.lbl::before {
  background-position:  -120px 0;
}
.authentication .auth-wrapper {
  margin: 0 -20px;
  & > div {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .btn-createaccount {
    width: 200px;
  }
}
#form_forgotpassword .btn {
  width: 200px;
}
.footer_links li {
  list-style: none;
  .btn {
    width: 150px;
    line-height: 35px;
    height: 35px;
  }
}
#order-follow .footer_links li .btn {
  width: 220px;
  margin-bottom: 5px;
}

#points li,
.discount li,
#rewards_sponsorship + .footer_links li,
#rewards_account + .footer_links li {
  display: inline-block;
  padding-bottom: 10px;
}
#block-points li {
  display: block;
  padding: 10px 0 0;
}
#rewards_sponsorship .alert {
  padding: 20px !important;
}
.discount .btn-back,
#points .btn,
.sponsorshipBlock .btn-back,
#sponsorship_form .btn-back {
  width: 220px;
  height: 35px;
  line-height: 35px;
}
.footer_links li .btn-back {
  width: 220px;
}
#rewards_account {
  .pagination {
    .disabled {
      display: none;
    }
  }
}
  .btn-transformreward {
    width: 370px;
    &:hover {
      text-indent: -1000px;
    }
}
#transform {
  margin-bottom: 10px;
}
.payment_details {
  display: block;
}
#submitPayment {
  margin: 20px 0;
}
#account-creation_form {
  .btn-submit {
    width: 120px;
    margin-top: 0 !important;
  }
  input {
    margin-bottom: 0;
  }
  input[type="checkbox"] + .lbl {
    margin: 0 0 10px;
  }
  .gender-group .bootstrap-select {
    width: 100%;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .birthday-group .bootstrap-select {
    width: 31%;
  }
  #passwd {
    max-width: 100%;
  }
}
#myaccount_block {
  h3 {
    color: #fff;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .lost_password {
    display: block;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 40px;
    a {
      color: @color-lgrey;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  input[type=email],
  input[type=password],
  input[type=text] {
    display: block;
    width: 100%;
    float: none;
    border-right: #fff 1px solid;
    margin-bottom: 20px;

  }
}




// *************************** MEDIA ***************************
.cms-12,
.video {
  .content-header {
    .introtext p {
      font-size: 18px;
    }
  }
  .content-wrapper {
    h2 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 60px;
    }
    .video-wrapper {
      margin: 0 -40px;
      & > div {
        padding: 0 40px;
      }
    }
  }
  .video-item {
    margin-bottom: 20px;
    .image {
      position: relative;
      max-width: 195px;
      .play-btn {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin: -33px 0 0 -30px;
        width: 60px;
        height: 42px;
        background: url("../img/play_ico.png") no-repeat;
        z-index: 2;
        text-indent: -9999em;
      }
    }
    .title-wrapper {
      padding-left: 20px;
    }
    .title {
      font-size: 18px;
    }
    .time {
      position: absolute;
      bottom: 0;
      color: @color-grey;
    }
    & > div {
      position: relative;
      min-height: 110px;
      padding-bottom: 20px;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
[data-notify="container"][class*="alert-"] {
  background-color: #d3c0cc;
  color: @color-purple;
  border-color: @color-purple;
  padding: 10px 50px 10px 10px;
  width: auto;
  .border-radius();
}

.modal {
  .modal-content {
    .border-radius();
    width: 850px;
  }
  .modal-header {
    padding: 25px;
  }
  .modal-title {
    font-size: 18px;
  }
  .fancybox-inner,
  .modal-body {
    padding: 0;
    max-height: 475px;
  }
  .close {
    width: 30px;
    height: 30px;
    background: url("../img/close_ico.png") no-repeat;
    text-indent: -9999em;
  }
}
// *************************** ORDER ***************************
.module-cashondelivery-validation,
.module-cheque-payment,
.module-bankwire-payment,
.order {
  .content-header {
    .introtext {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .btn-submit,
  .btn-pay,
  .btn-add,
  .btn-continue {
    width: 235px;
  }
  .btn-add {
    margin-bottom: 30px;
  }
  .btn-update {
    height: 30px;
    line-height: 30px;
  }
  .btn-checkout {
    width: 250px;
  }

  .price {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }
  .cart_voucher {
    padding: 30px 20px;
    border: 0;
    background-color: @color-lgrey;
    form {
      padding: 4px;
      border: @color-base 1px solid;
      background-color: #fff;
    }
    input, button {
      border: 0;
      float: left;
      width: 60%;
      height: 30px;
      min-width: 1px;
      line-height: 30px;
    }
    .btn {
      padding: 0;
      width: 40%;
      float: right;
    }
    h5 {
      line-height: 40px;
    }
  }
  .cart_total_address,
  .cart_total_item,
  .cart_total_delivery,
  .cart_total_price {
    line-height: 30px;
    padding: 15px 20px;
    margin-bottom: 0;
    border-bottom: @color-lgrey 1px solid;
  }
  .cart_total_price {
    border-bottom: 0;
  }
  #address_delivery {
    margin-right: 10px;
  }
  #address_invoice {
    margin-left: 10px;
  }
  ul.address {
    //border: 0;
    //background-color: @color-lgrey;
    h3 {
      border-bottom: 0;
    }
    li {
      list-style: none;
    }
  }
  .modal-body {
    height: 500px;
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      padding: 20px 0 20px 40px;
    }
  }
  input[type="radio"], input[type="checkbox"] {
    top: 0;
  }
  input[type="radio"] + .lbl,
  input[type="checkbox"] + .lbl {
    margin-top: 0;
  }
  .btn-terms {
    color: @color-purple;
    text-decoration: underline;
  }
}
.module-paypalusa-expresscheckout {
  .cart_navigation {
    .btn {
      width: 240px;
    }
  }
}
.order-confirmation {
  .content-header {
    padding-right: 40px;
  }
  .btn {
    width: 235px;
  }
}
.cart_navigation {
  .btn {
    min-width: 220px;
  }
}
.payment_option,
.delivery_option,
.cart_item {
  padding: 0 20px 15px;
  margin-bottom: 15px;
  border-bottom: @color-lgrey 1px solid;
  .cart_description {
    position: relative;
    padding-bottom: 50px;
    .btn {
      height: 30px;
      line-height: 30px;
      display: block;
      position: absolute;
      bottom: 0;
    }
  }
  .cart_quantity {
    .bootstrap-select,
    select,
    input[type="text"] {
      margin-left: 10px;
    }
    label {
      font-size: 15px;
      font-weight: 400;
      line-height: 42px;
    }
  }
  .product-qty {
    margin-bottom: 10px;
  }
  .cart_quantity_input {
    //width: 70px;
    width: 80%;
  }
  a:hover {
    text-decoration: none;
  }
}
.module-paypalusa-expresscheckout,
.module-cashondelivery-validation,
.module-cheque-payment,
.module-bankwire-payment,
.authentication,
.order {
  .btn-back-order {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    display: block;
    height: 30px;
    background: url("../img/btn_back_ico.png") no-repeat 0 0;
    &:hover {
      text-decoration: none;
    }
  }
}
.order_carrier_content {
  .delivery_option {
    padding-left: 20px;
    padding-right: 20px;
  }
  .carrier_title {
    margin-bottom: 30px;
  }
  .box_agreement {
    margin-bottom: 30px;
  }
  .price {
    text-align: right;
  }
  .total_wrapper {
    margin-top: 60px;
  }
  .checkbox {
    label.lbl {
      padding-left: 0;
    }
    input[type="checkbox"],
    input[type="checkbox"],
    input[type="radio"],
    input[type="radio"] {
      margin-left: 0;
    }
  }
  .cart_navigation {
    margin-top: 40px;
  }
}
.paiement_block {
  h5 {
    margin-bottom: 30px;
  }
}
.payment_option {
  padding-left: 20px;
  padding-right: 20px;
  input[type=radio] {
    left: 0;
  }
  .payment-logo {
    text-align: right;
  }
  .btn-link {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: @color-base;
    &:hover {
      text-decoration: none;
      color: @color-purple;
    }
  }
  .text-orange {
    color: #f0933e;
  }
}
.order-summary {
  .cart_delete,
  .cart_voucher,
  &>.cart_navigation {
    display: none !important;
  }
  .address_value {
    line-height: 18px;
  }
  .cart_total_address {
    border-top: @color-lgrey 1px solid;
    border-bottom: 0;
  }
}
.cc-form {
  margin: 60px 0 40px;
  border-bottom: @color-lgrey 1px solid;
  [class*="col-"] {
    padding-left: 0;
  }
  .bootstrap-select .btn.selectpicker {
    min-width: 50px;
  }
}

// *************************** WISHLIST ***************************
.module-blockwishlist-view,
.module-blockwishlist-mywishlist {
  .wlp_bought_list {
    & > li {
      padding-right: 20px;
      margin-bottom: 40px;
      .btn_action .btn {
        margin-bottom: 10px;
        width: 100%;
      }
      .product-name {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        min-height: 50px;
      }
      label {
        font-weight: 400;
      }
    }
  }
  .wishlisturl {
    input {
      max-width: 100%;
    }
  }
  .btn-send {
    width: 220px;
    margin-bottom: 20px
  }
  li {
    list-style: none;
  }
  #block-history {
    margin-bottom: 40px;
  }
  .btn-hide {
    display: block;
    margin: 30px auto;
    width: 29px;
    height: 18px;
    text-indent: -9999em;
    background: url("../img/sidebar_close_ico.png") no-repeat 0 0;

  }
  .wl_send {
    input[type=text] {
      max-width: 100%;
    }
  }
  .modal-body {
    padding: 20px 40px;
    max-height: 100%;
  }
  a:hover {
    text-decoration: none;
  }
  .product_image img {
    margin: 0 auto;
  }

}
.wishlist_item {
  line-height: 30px;
  padding: 15px 20px;
  margin: 20px auto;
  border-bottom: @color-lgrey 1px solid;
  .btn {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    width: 160px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  h5 span {
    font-size: 14px;
    font-weight: 400;
  }
}

// *************************** COMPARISON ***************************
.products-comparison {
  .content-header {
    padding-right: 380px;
    .introtext {
      font-size: 14px;
    }
  }
  #product_comparison {
    border: 0;
    .product-block {
      padding: 25px 0;
      border-bottom: @color-lgrey 1px solid;
    }
    .comparison_counter {
      font-size: 72px;
      font-weight: 300;
      line-height: 160px;
      color: @color-lgrey;
      text-align: center;
    }
    .product-image-block {
      img {
        max-height: 160px;
      }
    }
    .discount-price {
      padding: 0 3px;
      background-color: #f0933e;
      color: #fff;
      font-weight: 500;
    }
    h5 {
      line-height: 24px;
    }
    .prices-container {
      font-weight: 500;
      margin-bottom: 10px;
    }
    .product_desc {
      color: @color-grey;
      margin-bottom: 10px;
    }
    .product-content-block {
      margin-bottom: 10px;
    }
    .features-container {
      margin-bottom: 10px;
    }
    .btn {
      height: 30px;
      line-height: 30px;
      font-size: 13px;
      font-weight: 500 ;
      padding-left: 10px;
      padding-right: 10px;
      width: 30% ;
      min-width: 1px;
    }
  }
}

// *************************** PRODUCT ITEM ***************************
.product {
  .header-bg,
  .content-header {
    padding: 0;
    margin-bottom: 40px;
    height: 40px;
    min-height: 1px;
    background-image: none;
    background-color: #d3c0cc;
  }
  h1 {
    font-size: 30px;
    line-height: 36px;
    color: @color-base;
  }
  .our_price_display {
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    margin-right: 20px;
    display: inline-block;
  }
  #reduction_percent,
  #reduction_amount {
    margin: 10px 5px;
    padding: 5px;
    font-size: 24px;
    line-height: 18px;
    color: #fff;
    background: #f0933e;
    display: inline-block;
  }
  #reduction_percent span,
  #reduction_amount span {
    display: block;
  }
  .hide-left-column.hide-right-column #reduction_percent, .hide-left-column.hide-right-column
  #reduction_amount {
    display: inline-block;
  }
  #old_price {
    padding: 12px 0;
    text-decoration: line-through;
    display: inline-block;
  }
  .comments_note {
    text-align: left;
    .reviews,
    .star_content {
      display: block;
      float: left;
    }
    .reviews {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .tab-descr {
    margin: 15px 0;
    background-color: transparent;
    li {
      width: 33%;
      line-height: 40px;
      height: 40px;
      text-align: center;
      padding-right: 2px;
      background-color: transparent;
      &:last-child {
        padding-right: 0;
      }
      a {
        font-size: 12px;
        font-weight: 700;
        padding: 0;
        background-color: @color-lgrey;
      }
    }
  }
  #product_reference {
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 7px;
    color: @color-grey;
  }
  #quantity_wanted_p {
    padding-right: 20px;
  }
  .recurring-wrapper {
    max-width: 220px;
  }
  .qty_wrapper {
    margin: 5px 0 30px;
    label {
      font-weight: 400;
    }
  }
  #pQuantityAvailable {
    display: block !important;
    margin: -15px 0 30px;
  }
  .box-cart-bottom {
    .wishlist {
      padding-right: 2px;
    }
    .btn {
      width: 100%;
      max-width: 300px;
      margin-bottom: 3px;
    }
  }
  .content_prices {
    margin: 5px 0;
  }
  .primary_block{
    margin-bottom: 40px;
    a:focus, a:active,
    a:hover {
      text-decoration: none;
    }
    .nav-tabs a.active,
    .nav-tabs li.active a,
    .btn-extra.active {
      background-color: #fff;
    }
    .tab-content .tab-pane {
      margin-bottom: 0;
    }
    #short_description_block {
      margin-bottom: 10px;
    }
    .socialsharing_product {
      margin-top: 20px;
    }
    img {
      max-width: 100%;
    }
    #loyalty {
      display: none !important;
    }
  }
  .order .content-wrapper #loyalty {
    display: none !important;
  }
  .extra-btn-wrapper {
    &>div {
      float: left;
      margin-right: 2px;
    }
  }
  #send_friend_form {
    margin-top: 20px;
    input[type=text] {
      width: auto;
      height: 40px;
      margin-right: 2px;
    }
    input {
      display: block;
      float: left;
      margin-bottom: 10px;
    }
  }
  .tab-content-product {
    margin-bottom: 40px;
    .tab-pane {
      margin: 40px 0;
    }
    p, ul, ol, h1, h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
    }
    .comments_note .star_content {
      float: none;
    }
    #product_comments_block_tab {
      .comment {
        margin: 15px 0;
        padding: 15px 0;
        border-bottom: @color-lgrey 1px solid;
        p, li {
          margin-bottom: 0;
          font-size: 16px;
          line-height: 24px;
        }
        .btn {
          height: 30px;
          line-height: 30px;
          &.purple {
            margin-left: 10px;
          }
      }
      .author {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      .date {
        font-size: 14px;
        line-height: 14px;
        color: @color-grey;
      }
      }
      .useful {
        margin-top: 20px;
      }
      li {
        list-style: none;
      }
    }
  }
  #new_question_form,
  #new_comment_form {
    margin-top: 40px;
    h2 {
      border-bottom: 0;
    }
    #criterions_list {
      li {
        list-style: none;
      }
      span {
        display: block;
        float: left;
      }
    }
    .star_content {
      display: block;
      float: left;
      padding: 0 5px 0 20px;
      margin-top: 2px;
    }
    .star {
      font-size: 18px;
      top: -1px;
      float: left;
      width: 18px;
    }
    label {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    ul {
      margin-bottom: 0 !important;
    }
    li {
      list-style: none;
      line-height: 24px;
    }
    #new_comment_form_error {
      padding: 20px;
    }
    .cart_navigation {
      margin-top: 40px;
    }
  }





}
#thumbs_list {
  li {
    float: left;
    height: 80px;
    width: 80px;
    cursor: pointer;
    line-height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    a {
      .transition();
      &:hover {
        border-color: @color-lgrey;
      }
      display: block;
      border: 1px solid transparent;
      &.zoomThumbActive {
        border-color: @color-base;
      }
    }
  img {
      width: 100%;
      height: 100%;
    }
  }
}
.available_wrapper {
  #availability_statut {
    margin-bottom: 20px;
  }
  .btn {
    min-width: 250px;
  }
}
.product .primary_block .zoomWrapperImage img {
  max-width: 9999em;
}
.zoomWindow {
  overflow: hidden;
}
#listpage_content,
#sitemap_content {
  margin-left: -20px;
  margin-right: -20px;
  & > div {
    padding: 0 10px;
  }
  li {
    list-style: inside
  }
}
.pagenotfound {
  .header-bg,
  .content-header {
    min-height: 470px;
    h1 {
      margin: 20px 0;
      font-size: 144px;
      line-height: 144px;
      color: #bab7a8;
    }
  }
}
.newsletter_block_content {
  margin-top: 30px;
}
.content-wrapper .newsletter_form {
  label {
    font-weight: 400;
    display: block;
  }
  .form-group {
    margin-bottom: 20px;
  }
  /*.form-group.col-sm-6:nth-child(even) {
    float: right;
  }*/
  input[type=submit] {
    margin-top: 10px;
    width: 150px;
  }
}




@media (min-width:  1290px) {
  .index .content,
  .homepage .content {
    width: 980px;
    padding-right: 0;
  }
  .carousel {
    padding-right: 40px;
  }


}
@media (min-width:  1280px) {
  .sidebar {
    margin-left: 0 !important;
  }
  .jcarousel-wrapper.products_list_wrapper {
    margin-left: -50px;
  }
  .index .jcarousel-wrapper,
  .homepage .jcarousel-wrapper {
    margin-left: -20px;
  }


}
@media (max-width:  1279px) {
  .content {
    padding: 80px 20px 80px 80px;
    width: 100%;
  }
  .sidebar {
    max-width: 340px;
    width: 340px;
    position: absolute;
    top: 0;
    z-index: 100;
    padding-right: 0;
    margin-left: -340px;
    .navbar-header {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-color: @color-base;
      z-index: 999;
      width: 40px;
      padding: 30px 6px;
      .navbar-toggle {
        display: block;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        float: none;
      }
      .sidebar-btn {
        float: none;
        width: 100%;
        a {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    #navbar {
      padding-left: 40px;
      padding-right: 40px;
    }
    &.open {
      .menu_collapse_btn {
        background-position: 0 -101px;
      }
      .navbar-header {
        background-color: #2d2a2b;
        .cart-wrapper {
          display: none;
        }
      }
    }
  }
  .index,
  .homepage {
    .content {
      padding-right: 0;
    }
  }
  .carousel {
    margin-left: -30px;
    .carousel-inner {
      .item {
        img {
          //width: 40vw;
        }
        .carousel-caption {
          //padding-left: 0;
        }
      }
    }
  }
  .divider {
    width: 100%;
    left: 0;
  }
  .sidebar .menu_collapse_btn {
    top: 60%;
  }

}

@media (min-width: 970px) and (max-width: 1170px) {}



@media (max-width: 970px) {
  .content-header {
    background-position: right -120px bottom 0;
    margin-right: -20px;
    padding-right: 240px;
  }
  .comment-form,
  .contact-form {
    .form-group {
      padding-right: 20px;
      &.col-sm-6:nth-child(even),
      &.right {
        padding-left: 0;
      }
    }
  }
  #block-history .history-item {
    &.col-sm-6:nth-child(even) {
      padding-left: 0;
    }
  }
  .cart-img {
    display: block;
    img.img-responsive {
      max-width: 700px;
      width: 100%;
    }
  }
  .stores,
  .where2buy {
    .where2buy-links {
      padding-left: 40px;
      padding-right: 20px;
      margin: 30px 0;
      a {
        &.us {
          top: 57px;
          left: 70px;
        }
        &.de {
          top: 25px;
          left: 280px;
        }
        &.ch {
          top: 30px;
          right: 60px;
        }
        &.au {
          top: 180px;
          right: 40px;
        }
      }
    }
  }
  .products_list_wrapper h4 {
    padding-right: 170px;
  }
  .search {
    .content .search_form {
      input[type=text] {
        max-width: 80%;
      }
    }
  }
  .tags-wrapper {
    .tag-item {
      width: 33%;
    }
  }
  .modal {
    .modal-content {
      width: 100%;
    }
  }
  .tab-content-product {
    img {
      width: 100%;
      height: auto !important;
    }
  }




}

@media (min-width: 768px) and (max-width: 970px) {
  .nav-tabs-product li a,
  .nav-tabs-product li a:hover {
    font-size: 14px;
    padding: 10px;
  }
}


@media (min-width: 768px) {
  .cc-form {
    [class*="col-sm-offset-"] {
      margin-left: 7%;
    }
  }
}

@media (max-width: 767px) {
  .index .container-fluid,
  .homepage .container-fluid {
    background-image: none;
  }
  .index .logo-wrapper,
  .homepage .logo-wrapper {
    width: 100%;
    top: 0;
    left: 0;
    margin: 80px 0;
    position: relative;
    text-align: center;
    span {
      display: none;
    }
  }
  .content {
    padding-left: 40px;
  }
  .carousel {
    margin-left: 0;
    //border-bottom: @color-base 1px solid;
    .carousel-indicators {
      left: 50%;
      margin-left: -50px;
    }
    .carousel-inner {
      .item {
        height: auto;
        padding-bottom: 70px;
        background-position: center top;
        background-size: contain;
        .carousel-caption {
          max-width: 100%;
          top: 0;
          left: 10px;
          padding-left: 20px;
          padding-right: 20px;
          //background-size: contain;

        }
        img {
          position: relative;
          left: 0;
          margin: 0 auto;
          width: auto;
          max-width: 100%;
          height: auto;
        }
        .img-wrapper {
          position: relative;
        }
        .img-bg {
          position: absolute;
          bottom: 0;
          width: 100%;
          max-width: 490px;
        }
      }
    }
  }
  .content-header {
    margin-left: -80px;
    padding-right: 20px;
    padding-left: 80px;
    height: auto;
    min-height: 250px;
    h1 {
      line-height: 36px;
    }
  }
  .gmap {
    margin-bottom: -100px;
  }
  .contact-form {
    .form-group {
      padding-right: 0;
      .bootstrap-select,
      input[type=number],
      input[type=text],
      input[type=password],
      input[type=email] {
        max-width: 100%;
      }
      &.col-sm-6:nth-child(even),
      &.right {
        padding-left: 0;
      }
    }
  }
  .content-header {
    h1 {
      margin-bottom: 25px;
    }
  }
  .testimonial-item {
    .ts-content {
      margin-top: 30px;
      padding-left: 0;
    }
  }
  .stores,
  .where2buy {
    .content-header {
      margin-left: 0;
    }
    .where2buy-links {
      padding-left: 40px;
      padding-right: 20px;
      margin: 30px 0;
      a {
        position: relative;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        width: 100%;
        margin-bottom: 20px;
        &:after,
        &:before {
          border: 0;
        }
      }
    }
  }
  ul.bullet-list li {
    margin-left: 10px;
  }
  .products_list_wrapper {
    .products_list_item_wrapper {
      margin: 0;
    }
    .products_list_item {
      display: block;
      img {
        max-width: 100%;
      }
      &:hover {
        .box-shadow-none();
        .btn_wrapper {
          display: none;
        }
        .img-wrapper {
          //height: 290px;
          background-image: none;
        }
      }
    }
  }
  .cms-11,
  .suggested {
    .products_list_wrapper {
      margin-left: -40px;
      margin-right: 0px;
      .products_list_item {
        margin-right: 20px;
      }
    }
  }
  .offer-wrapper {
    img {
      margin: 0 auto;
    }
    .block-content {
      padding-left: 0px;
    }
  }
  .prices-drop,
  .offer {
    .products_list_wrapper {
      ul {
        width: 100%;
      }
    }
  }
  .filter_form {
    .bootstrap-select {
      max-width: 100%;
    }
  }
  .module-ph_simpleblog-list,
  .blog,
  .search,
  .category,
  .products {
    .content-header {
      padding-right: 20px;
    }
    .content .search_form {
      input[type=text] {
        width: 80%;
      }
    }
  }
  .tags-wrapper {
    .tag-item {
      width: 50%;
    }
  }
  .module-ph_simpleblog-single,
  .article {
    .content-header {
      padding-left: 80px;
    }
    form .btn {
      display: block;
    }
  }
  .nav-tabs {
    display: none;
  }
  .tab-content {
    & > a.active,
    & > a {
      display: block;
    }
    #info {
      .btn {
        float: none;
        width: 100%;
      }
    }
  }
  .gender-group {
    .bootstrap-select {
      width: 100%;
    }
  }
  .authentication .gender-group,
  .register .gender-group {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .authentication form .btn-submit,
  .register form .btn-submit {
    display: block;
    margin: 0 auto;
  }
  .authentication .opc_account_form_wrapper .form-group.col-sm-6.right, .register .opc_account_form_wrapper .form-group.col-sm-6.right {
    padding-left: 0;
  }
  .authentication .opc_account_form_wrapper .date-select .row > div, .register .opc_account_form_wrapper .date-select .row > div {
    padding-right: 0;
  }
  .productsSortForm,
  .layered_price,
  .layered_filter {
    padding-right: 0 !important;
  }
  .block_adress {
    .uppercase {
      border-bottom: #d2d2d2 1px solid;
      margin-bottom: 10px;
    }
  }
  .module-cashondelivery-validation,
  .module-cheque-payment,
  .module-bankwire-payment,
  .authentication,
  .order {
    .btn-submit,
    .btn-pay,
    .btn-add,
    .btn-continue,
    .btn-checkout {
      display: block;
      margin: 0 auto 20px;
    }
  }
  .order {
      .cart_item {
      .col-xs-7 {
        padding-left: 10px;
        text-align: left;
        .price {
          line-height: 24px;
        }
        .bootstrap-select,
        select,
        input {
          margin-left: 0;
        }
      }
      & > div {
        margin-bottom: 10px;
      }
    }
  }
  .nav-tabs.tab-descr {
    display: block;
  }
  .btn.btn-cart-extra {
    width: 160px;
    padding: 0;
    min-width: 1px;
  }
  .btn.social-sharing {
    margin-bottom: 5px;
  }
  .product #send_friend_form input[type="text"] {
    width: 60%;
  }

  .products-comparison {
    .content-header {
      padding-right: 50px;
      .introtext {
        font-size: 18px;
      }
    }
    #product_comparison {
      .comparison_counter {
        line-height: 80px;
      }
      .product-image-block img {
        margin: 0 auto;
      }
      .btn {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-indent: -9999px;
        background-position: center;
      }
      .btn-wishlist-white {
        background-image: url("../img/btn_wishlistextra_ico.png");
      }
     .btn-cart {
        background-image: url("../img/btn_cartextra_ico.png");
       background-position: 7px center;
      }
    }
  }
  .info_edit .contact-form .form-group {
    text-align: left;
  }





}
@media (max-width: 570px) {
  .products_list_wrapper {
    .products_list_item {
      .product-descr {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .carousel-caption {
    background-size: contain;

  }
  .cms-6,
  .faq {
    .content-header {
      form {
        width: 280px;
      }
      input[type="email"],
      input[type="text"] {
        width: 240px;

      }
    }
  }
  .cms-11,
  .suggested {
    .content-header {
      h1 {
        line-height: 36px;
      }
      .introtext {
        line-height: 24px;
      }
    }
  }

  .products_list_wrapper {
    .products_list_item {
      .product-descr {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .pagenotfound {
    .content-header {
      background-image: none !important;
    }
  }
  .content-header {
    .search_form {
      input[type=text] {
        width: 80%;
      }
    }
  }
  .breadcrumb {
    padding-left: 80px;
  }
  .nav-tabs > li > a {
    min-width: 1px;
  }
  .product .tab-descr li a {
    font-size: 10px;
  }
  .product .box-cart-bottom .wishlist {
    padding: 0;
  }
  .logo-wrapper .logo {
    max-width: 100%;
  }
  iframe {
    max-width: 100% !important;
  }
  .btn-transformreward {
    width: 260px;
    height: 56px;
    padding: 10px 0;
    line-height: 18px;
    white-space: normal;
  }

}