.belvg_discounts_catalog_buy_points {
	font-size: 11px;
	color:#000;
}

.belvg_discounts_product {
 background: none repeat scroll 0 0 green;
    border: medium none ghostwhite;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
	color:#000;
	/*border: 1px solid #CC9900;*/
}
.belvg_discounts_product a {
	color: white;
}

#order-opc #center_column, #order #center_column {
	width: 100% !important;
}

#order-opc #right_column, #order #right_column {
	display: none !important;
}

ul.step {
	width: 100% !important;
}

ul.step li {
	width: 20% !important;
}

#idBelvgTab1 li{
	display: inline;
	width: 80px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 1px;
	text-align: center;
	border: 1px solid #FFFFFF;
}

/*.addon_item:last-child {
	float: none;
}*/

#idBelvgTab1 li.math {
	width: 20px;
	font-size: 27px;
	vertical-align: middle;
	margin-top: 30px;
}

#idBelvgTab1 li.addon_item:hover {
	border: 1px solid #CECECE;
}

#idBelvgTab1 .addon_item .check {
	position: absolute;
	padding: 2px;
	margin-left: 57px;
}

#idBelvgTab1 .summary {
	padding-top: 7px;
	width: 120px;
	padding-top: 12px;
}

#belvg_addons {
	height: 127px;
}

.cart_quantity .belvg_cart_quantity_input {
	float: left;
	margin-left: 5px;
	width: 20px;
	border: 1px solid white;
}


.idTabs{
	clear:both;
}
