.newButton
{
	width:33px;
	height:31px;
	background-image:url('../img/newButton.png');
	margin:auto;
	float:left;
}

.addExtraTab, .deleteExtraTab, .saveExtraTabs
{
	float:left;
}

.NewTabButtonText, .deleteTabButtonText , .SaveTabsButtonText
{
	float:left;
	margin-left:5px;
	margin-top:8px;
}

div.extraTabNotification
{
	color:red;
	font-style:italic;
}

#extraProductTabsForm input.inputTabID
{
	background-color:#dadae3;

}

.deleteButton
{
	width:33px;
	height:31px;
	background-image:url('../img/deleteButton.png');
	margin:auto;
	float:left;
}

.saveAllButton
{
	width:33px;
	height:31px;
	background-image:url('../img/saveButton.png');
	margin:auto;
	float:left;
}


