
    	<table style="font-family:Verdana, sans-serif;font-size:11px;color:#374953;width:550px;"><tr><td align="left">
				<a href="{shop_url}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" /></a>
			</td>
		</tr><tr><td> </td></tr><tr><td align="left" style="background-color:#DB3484;color:#FFF;font-size:12px;font-weight:bold;padding:.5em 1em;">New order with sponsorship</td>
		</tr><tr><td> </td></tr><tr><td align="left">{sponsored_firstname} {sponsored_lastname} ({sponsored_email}) has placed an order.</td>
		</tr><tr><td> </td></tr><tr><td align="left">When the order is processed :</td>
		</tr><tr><td align="left">{sponsors_html}</td>
		</tr><tr><td> </td></tr><tr><td align="center" style="font-size:10px;border-top:1px solid #D9DADE;">
				<a href="{shop_url}" style="color:#DB3484;font-weight:bold;text-decoration:none;">{shop_name}</a>
			</td>
		</tr></table>