
<table id="invitation_email" style="font-family:Verdana, sans-serif;font-size:11px;color:#374953;width:550px;">
    <tr><td align="left">
    		<a href="{link}" title="{shop_name}"><img alt="{shop_name}" src="{shop_logo}" style="border:none;" /></a>
    	</td>
    </tr>
    <tr><td> </td></tr>
    <tr><td align="left" style="background-color:#DB3484;color:#FFF;font-size:12px;font-weight:bold;padding:.5em 1em;">Your friend <a href="mailto:{friend_email}"><strong>{friend_firstname} {friend_lastname}</a></strong>  removed you as a sponsor on <a href="{link}" style="color:#FFF;font-size:12px;font-weight:bold;">{shop_name}</a>!</td>
</tr><tr><td> </td></tr>
    <tr><td align="left">Best regards,</td></tr>
    <tr><td> </td></tr>
    <tr>
        <td align="center" style="font-size:10px;border-top:1px solid #D9DADE;">
    		<a href="{link}" style="color:#DB3484;font-weight:bold;text-decoration:none;">{shop_name}</a>
    	</td>
    </tr>
</table>