/**
*  2013 Zack Hussain
*
*  @author 		Zack Hussain <me@zackhussain.ca>
*  @copyright  	2013 Zack Hussain
*  
*  DISCLAIMER
*
*  Do not redistribute without my permission. Feel free to modify the code as needed.
*  Modifying the code may break future PrestaShop updates.
*  Do not remove this comment containing author information and copyright.
*
*/
.moneris-test {max-width: 700px; margin-left: 20px;}
.moneris-test li {margin-left: 20px; padding-bottom: 3px; list-style-type: circle;}
.moneris-test .moneris-link {background-color: #efefef; padding: 10px 5px 10px 5px; border: 1px solid #ddd;}

.moneris_config_form {text-align:center;}
.moneris_config_form fieldset {-webkit-box-shadow: 0px 10px 14px -9px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 10px 14px -9px rgba(50, 50, 50, 0.3);
box-shadow:         0px 10px 14px -9px rgba(50, 50, 50, 0.3);
font-weight: bold;
color: #312b65;
}

.moneris-bg {text-shadow: 1px 1px 1px #000000; margin: 20px 0 0 0; color: #ddd; background-color: #312b65;padding: 20px 0 20px 20px;}
.moneris-bg .warn {text-shadow: none;}
.moneris-bg a {color: #5dbc4e; font-weight: bold;}
.moneris-bg a:hover {text-decoration: underline;}
.moneris-bg li {color: #ddd;}