/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 10045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 10044; }
  .mfp-preloader a {
    color: #cccccc; }
    .mfp-preloader a:hover {
      color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 10046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure {
    /* The shadow behind the image */ }
    .mfp-img-mobile .mfp-figure:after {
      top: 0;
      bottom: 0; }
    .mfp-img-mobile .mfp-figure small {
      display: inline;
      margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
    

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  margin: 20px auto;
}





#popup_subscribe_form h1{
  font-size: 20px;
  color: #9bc98a;
  padding: 0 0 13px 0;
  border-bottom: 1px solid #e0e0e0;
}

#popup_subscribe_form input[type="text"]{
  width: 100%;
  height: 40px;
}
#popup_subscribe_form input[type="submit"],
#popup_subscribe_form button {
  /*width: 100px;*/
  padding: 0 8px;
  height: 30px;
  background: #9bc98a;
  color: #fff;
  cursor: pointer;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 0;
  box-shadow: 0 3px #b7dbab;
}
#popup_subscribe_form input[type="submit"]:hover,
#popup_subscribe_form button:hover {
  opacity: 0.9;
}
#popup_subscribe_form .checker{
  display: inline-block;
}

/* PS1.5 */
#popup_subscribe_form .form-group {
  margin-bottom: 15px;
}
#popup_subscribe_form .form-control.grey {
  background: #fbfbfb;
}
#popup_subscribe_form .form-control {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 1.42857;
  color: #9c9b9b;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #d6d4d4;
  border-radius: 0px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  padding: 3px 5px;
  height: 27px;
  -webkit-box-shadow: none;
  box-shadow: none;
}




/* === Universal header styles === */
#pf_popup_login_box h1,
#pf_popup_login_box h2, 
#pf_popup_login_box h3, 
#pf_popup_login_box h4, 
#pf_popup_login_box h5, 
#pf_popup_login_box h6 {
    font-weight: 700;
    font-family: 'Droid Sans', sans-serif, serif;
    color: #434853;
    text-shadow: 0 1px 0 #fff;
    letter-spacing: -0.5px;
    margin: 0;
}

/* === Custom Header h1 === */
#pf_popup_login_box h1 {
    font-size: 20px;
    color: #9bc98a;
    padding: 0 0 13px 0;
    border-bottom: 1px solid #e0e0e0;
}

#pf_popup_login_box .checker{
  display: inline-block;
  margin-left: -15px;
}

/* === Headers === */
#pf_popup_login_box h2 {
    font-size: 24px;
}

#pf_popup_login_box h3 {
    font-size: 17px;
}

#pf_popup_login_box h4 {
    font-size: 14px;
}

#pf_popup_login_box h5 {
    font-size: 12px;
}

#pf_popup_login_box h6 {
    font-size: 10px;
}

/* === Universal <a> style === */
#pf_popup_login_box a {
    color: #598148;
    font-weight: 700;
    padding: 0;
}

#pf_popup_login_box a {
    text-decoration: none;
    outline: none;
}

#pf_popup_login_box a:hover {
    color: #84a079;
}

/* === Universal <p> style === */
#pf_popup_login_box p {
    line-height: 20px;
}

/* === Main Box === */
#pf_popup_login_box *{
  -webkit-box-sizing: initial; 
  -moz-box-sizing: initial;
  box-sizing: initial;
}

#pf_popup_login_box {
    background: #f9f9f9;
    height: 100%;
    /*width: 850px;
    height: 360px;*/
    display: block;
    overflow: hidden;
    color: #808080;
    /*margin: 150px auto 0 auto;*/
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 0 0 2px #d3d3d3, inset 0 -3px 0 #e6e6e6;
    -webkit-box-shadow: 2px 3px 8px #a7a7a7;
    -moz-box-shadow: 2px 3px 8px #a7a7a7;
    font: 13px 'Droid Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}

/* === Content Box === */
#pf_popup_login_content {
    padding: 23px 28px;
    /*width: 795px !important;
    height: 315px !important;*/
}

/* === LEFT and RIGHT BOXES Padding style === */
#pf_popup_login_login {
    padding: 13px 0 0 0;
}

/* === Footer === */
.pf_popup_login_footer {
    display: block;
    margin: 30px auto 0 auto;
    background-color: transparent;
    color: #808080;
    width: 600px;
    height: auto;
    text-align: center;
}

.pf_popup_login_tou_popup, .pf_popup_login_about_popup, .pf_popup_login_contact_popup, .pf_popup_login_info_popup {
    padding: 20px;
}

/* === Social Buttons === */
.pf_popup_login_social {
    padding: 13px 0 0 0;
    height: 60px;
}

.pf_popup_login_twt:hover {
    opacity: 0.9;
}

.pf_popup_login_twt:active {
    opacity: 0.8;
}

.pf_popup_login_fb:hover {
    opacity: 0.9;
}

.pf_popup_login_fb:active {
    opacity: 0.8;
}

/* === Custom Checkbox === */
.pf_popup_login_check_box {
    width: 13px;
    height: 20px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 3px;
    *overflow: hidden;
    outline: none;
    -webkit-transition: width 1s ease;  
    -moz-transition: width 1s ease;  
    -o-transition: width 1s ease;  
    -ms-transition: width 1s ease;  
    transition: width 1s ease;  
}

.pf_popup_login_check_box:checked {  
    width: 30px;
}

/* === INPUTS === */
#pf_popup_login_box input {
    outline: none;
}

/* === Forms submit button === */
#pf_popup_login_box input[type="submit"],
.submit_pf_tw_activation_button {
    width: 100px;
    height: 30px;
    background: #9bc98a;
    color: #fff;
    cursor: pointer;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 0;
    box-shadow: 0 3px #b7dbab;
}

#pf_popup_login_box input[type="submit"]:hover {
    opacity: 0.9;
}

#pf_popup_login_box input[type="submit"]:active {
    opacity: 0.8;
}

/* === Default universal themed buttons style === */
#pf_popup_login_box button {
    width: 500px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 0;
    box-shadow: 0 4px #b7dbab;
    height: 45px;
    background: #9bc98a;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

#pf_popup_login_box button:hover {
    opacity: 0.9;
}

#pf_popup_login_box button a {
    color: #fff;
}

/* === Primary inputs style (Left and Right box) === */
.pf_popup_login_register, 
.pf_popup_login_login,
#pf_tw_email {
    font-size: 14px;
    color: #7e7e7e;
    font-family: 'Droid Sans';
    padding: 11px 15px 10px 50px;
    background-color: #fdfdfd;
    width: 255px;
    display: block;
    border: 1px solid #9bc98a;
    margin: 13px 0 -3px 0;
    box-shadow: inset 2px 2px 4px #f1f1f1;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    outline: none;
}

/* === Inputs placeholder style === */
#pf_popup_login_box input::-webkit-input-placeholder {
    color: #b9b9b9;
    position:relative;
    padding-left:0;
    -webkit-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

#pf_popup_login_box input:-moz-placeholder {
    /* Firefox 18- */
    color: #b9b9b9;
    position: relative;
    padding-left:0;
    -moz-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

#pf_popup_login_box input::-moz-placeholder {
    /* Firefox 19+ */
    color: #b9b9b9;
    position: relative;
    padding-left:0;
    -moz-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

#pf_popup_login_box input:-ms-input-placeholder {
    color: #b9b9b9;
    position: relative;
    padding-left:0;
    -ms-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

/* === Inputs on hover === */
#pf_popup_login_box input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
    padding-left: 280px;
}

#pf_popup_login_box input:hover:-moz-placeholder, input:focus:-moz-placeholder {
    /* Firefox 18- */
    padding-left: 60px;
}

#pf_popup_login_box input:hover::-moz-placeholder, input:focus::-moz-placeholder {
    /* Firefox 19+ */
    padding-left: 60px;
}

#pf_popup_login_box input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder {
    padding-left: 60px;
}

/* === Inputs jQuery validation classes === */
.pf_popup_login_invalid {
    border: 1px solid #d17b7b;
}

.pf_popup_login_valid {
    border: 1px solid #9bc98a;
}

.pf_popup_login_invalid_placeholder::-webkit-input-placeholder {
    color: #d17b7b;
}

/* === Inputs images === */
.pf_popup_login_user {
    background: url(../images/icons/user.png) no-repeat;
}

.pf_popup_login_password {
    background: url(../images/icons/password.png) no-repeat;
}

.pf_popup_login_email,
#pf_tw_email {
    background: url(../images/icons/email.png) no-repeat;
}

/* === Title === */
.pf_popup_login_title {
    position: relative;
    top: 20px;
    margin-bottom: -120px;
    text-align: center;
}

.pf_popup_login_title h1 {
    font-size: 40px;
    border-bottom: none;
    color: #73aa5d;
}

.pf_popup_login_title h4 {
    margin-top: -30px;
    color: #598148;
}

/* === Universal Bottom text === */
#pf_popup_login_bottom_text {
    margin-top: 5px;
    display: block;
    text-align: left;
    text-shadow: 1px 1px 0 #fff;
    line-height: 19px;
    padding-top: 10px;
    /*border-top: 1px solid #e0e0e0;*/
}

/* === Universal bottom text position === */
#pf_popup_login_box form label {
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 0;
    font-weight: normal;
}

/* === LEFT BOX (Register form) === */
#pf_popup_login_box_left {
    float: left;
    overflow: hidden;
    width: 42% !important;
    /*height: 320px;*/
}

.pf_popup_login_btn_register,
.submit_pf_tw_activation_button {
    position: relative;
    margin-top: 15px;
    right: 10px !important;
    float: right;
}

.pf_popup_login_check_terms {
    margin-top: 22px !important;
    width: 205px;
}

/* === RIGHT BOX (Login form) === */
#pf_popup_login_box_right {
    float: right;
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.pf_popup_login_btn_login {
    position: relative;
    margin-top: 15px;
    float: right;
}

.pf_popup_login_check_logged {
    margin-top: 22px !important;
    width: 270px;
}

#pf_popup_login_box_right h1 {
    text-align: center;
}

#pf_popup_login_box_right input[type="text"], #pf_popup_login_box_right input[type="password"] {
    width: 125px;
}

#pf_popup_login_box_right input[type="text"] {
    margin-right: 10px;
}

#pf_popup_login_box_right form input {
    display: inline-block;
}

/* === POPUPBOX === */
/* Custom styles for popupbox & close button */
.pf_popup_login_custom {
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pf_connect {
  display: block;
  height: 37px;
  text-align: center;
  padding: 0 14px 0 47px;
  border-radius: 3px;
  margin-top: 5px;
}
.pf_connect a,
.pf_connect span{
  font-size: 13px;
  font-weight: bold;
  color: #fff !important;
  text-decoration: none !important;
  line-height: 37px !important;
}
.pf_connect.pf_facebook {
  background: #3b5998 url(../images/connect-with.png) no-repeat;
  float: left;
}
.pf_connect.pf_twitter {
  background: #2D72D9 url(../images/connect-with.png) no-repeat 0 -80px;
  float: right;
}
.pf_connect.pf_googlePlus {
  background: #DC4D28 url(../images/connect-with.png) no-repeat 0 -40px;
  float: right;
  cursor: pointer;
}
.pf_connect.pf_facebook.pf_connect_top,
.pf_connect.pf_twitter.pf_connect_top,
.pf_connect.pf_googlePlus.pf_connect_top{
  margin-top: 0;
  height: 37px;
  padding: 0 10px 0 47px;
  float: right;
  border-radius: 0;
}


.popup-field-error{
  border: 1px solid #f13340 !important;
  color: #f13340 !important;
  background: url(../images/form-error.png) 98% center no-repeat #fff1f2 !important;
}
.popup-checkbox-error,
.popup-checkbox-error a{
  color: red;
}
.popup-ajax-loader{
  display: none;
}