<!-- {columns=3} -->
<table data-id="{id_product}" class="newsletter-pro-product" style="background-color: #fafafa; border: 1px solid #e3e3e3; float: left; margin: 5px; font-family: Arial, Helvetica, sans-serif;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 5px;">
<table style="width: 100%;">
<tbody>
<tr>
<td style="text-align: center;"><a href="{link}" target="_blank"><img class="newsletter-pro-image" src="{image_path}" alt="" width="{image_width}" height="{image_height}" /></a></td>
</tr>
<tr>
<td style="text-align: left;"><a class="newsletter-pro-name" style="display: inline-block; color: #303031; text-transform: uppercase !important; font-size: 13px; padding: 4px; font-weight: bold; text-decoration: none;" href="{link}" target="_blank">{name}</a></td>
</tr>
<tr>
<td style="text-align: center;"><span class="newsletter-pro-price" style="margin-left: 3px; float: left; font-size: 18px; white-space: nowrap; color: #337ed0; font-weight: bold; padding: 3px 0;">{$price_display}</span> <a class="link" style="width: auto; float: right; border: none; color: #337ed0; text-decoration: none !important; font-size: 12px; font-weight: bold; text-align: center; cursor: pointer; display: block; line-height: 22px; padding: 1px 10px; margin-left: 10px; height: 22px;" href="{link}" target="_blank">View</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>