<!-- {columns=1} -->
<table data-id="{id_product}" class="newsletter-pro-product" style="margin-right: 50px; margin-bottom: 10px; margin-left: 50px;">
	<tbody>
		<tr style="width: 400px;">
			<td style="text-align: center;">
				<a href="{link}" target="_blank"> <img class="newsletter-pro-image" src="{image_path}" alt="" width="{image_width}" height="{image_height}" /> </a>
			</td>
			<td style="padding-left: 30px; padding-bottom: 10px; width: 247px;">
				<a class="newsletter-pro-name" style="text-align: left; font-size: 20px; font-weight: bold; font-family: arial; min-height: 60px; color: #222; text-decoration: none;" href="{link}" target="_blank">{name}</a>
				<br />
				<span class="newsletter-pro-description_short" style="font-size: 12px; font-family: arial; color: #aaaaaa; text-align: justify;">{description_short}</span> <br /> <span class="newsletter-pro-price" style="min-height: 50px; font-size: 24px; text-align: left; font-family: arial; padding: 5px 0px; color: #b80000; font-weight: bold;">{price_display}</span>
				<br />
				<br />
				<a style="text-align: center; vertical-align: middle; border-radius: 2px; width: 130px; min-height: 25px; background: #f4f4f4; border: 1px solid #dadada; font-size: 12px; font-family: arial; margin: 0; padding: 5px 10px; color: #666666; text-decoration: none; line-height: 24px;" href="{link}"> View product </a>
			</td>
		</tr>
	</tbody>
</table>