<!-- {columns=3} -->
<table class="newsletter-pro-product" style="background-color: #FFFFFF; border: 1px solid #777777; float: left; margin: 5px; padding: 9px; position: relative; font-family: OpenSans, Arial,Helvetica,sans-serif; font-weight: 400;" data-id="{id_product}">
	<tbody>
		<tr>
			<td style="padding: 5px;">
				<table>
					<tbody>
						<tr>
							<td style="text-align: center;"><a href="{link}" target="_blank"><img class="newsletter-pro-image" style="border-style: none;" src="{image_path}" alt="" width="{image_width}" height="{image_height}" /></a></td>
						</tr>
						<tr>
							<td style="text-align: center;"><strong><a class="newsletter-pro-name" style="display: inline; color: #777777; font-size: 13px; line-height: 17px; text-align: center; text-transform: uppercase; padding: 4px; font-weight: 400; text-decoration: none;" href="{link}" target="_blank">{name}</a></strong></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td style="text-align: center;"><span class="newsletter-pro-price" style="margin-left: 3px; font-size: 13px; white-space: nowrap; color: #ff0000; font-weight: 400; padding: 3px 0; text-align: center;">{price_display}</span></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td style="text-align: center;"><a class="link" style="background: #ff0000 !important; border: none; color: #FFFFFF !important; font-size: 13px; font-weight: 400; text-transform: uppercase; text-align: center; text-decoration: none!important; cursor: pointer; display: inline-block; line-height: 26px; width: auto; height: 25px; border-radius: 3px;" href="{link}" target="_blank">&nbsp;&nbsp;&nbsp;View Product&nbsp;&nbsp;&nbsp;</a></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>