<!-- {columns=3} -->
<table class="newsletter-pro-product" style="background-color: #f2f2f2; border: 1px solid #E3E3E3; border-radius: 3px 3px 3px 3px; float: left; margin: 5px; padding: 5px 5px 10px; position: relative; font-family: Arial, Helvetica, sans-serif;" data-id="{id_product}">
<tbody>
<tr>
<td style="padding: 5px;">
<table>
<tbody>
<tr>
<td style="text-align: center;"><a href="{link}" target="_blank"><img class="newsletter-pro-image" style="border-style: none;" src="{image_path}" alt="" width="{image_width}" height="{image_height}" /></a></td>
</tr>
<tr>
<td style="text-align: left;"><strong><a class="newsletter-pro-name" style="display: inline; color: #000000; font-size: 13px; padding: 4px; font-weight: normal; text-decoration: none;" href="{link}" target="_blank">{name}</a></strong></td>
</tr>
<tr>
<td style="text-align: center;"><span class="newsletter-pro-price" style="margin-left: 3px; float: left; font-size: 15px; white-space: nowrap; color: #75ad17; font-weight: bold; padding: 3px 0;">{price_display}</span></td>
</tr>
<tr>
<td><a class="link" style="background: #83807D; border: none; color: #fff !important; font-size: 12px; font-weight: bold; text-align: center; text-decoration: none!important; cursor: pointer; display: block; line-height: 22px; width: 100%; height: 22px;" href="{link}" target="_blank">View Product</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>