<!-- {columns=3} -->
<table data-id="{id_product}" class="newsletter-pro-product" style="background-color: #f2f2f2; border: 1px solid #e3e3e3; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; float: left; margin: 5px; padding: 5px 5px 10px; font-family: Arial, Helvetica, sans-serif;">
	<tr>
		<td style="padding: 5px;">
			<table>
				<tbody>
					<tr>
						<td style="text-align: center;"><a href="{link}" target="_blank"><img class="newsletter-pro-image" style="border-style: none;" src="{image_path}" alt="" width="{image_width}" height="{image_height}" /></a></td>
					</tr>
					<tr>
						<td style="text-align: left;"><span style="color: #111111;"><a style="display: inline; color: #111; font-size: 13px; padding: 4px; text-decoration: none;" href="{link}" target="_blank"><span class="newsletter-pro-name" style="color: #111111;">{name}</span></a></span></td>
					</tr>
					<tr>
						<td style="text-align: center;"><span class="newsletter-pro-price" style="margin-left: 3px; float: left; font-size: 15px; white-space: nowrap; color: #1695ff; font-weight: bold; padding: 3px 0;">{price_display}</span></td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>