<!-- {columns=1} -->
<table data-id="{id_product}" class="newsletter-pro-product" style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; display: inline-block;">
	<tbody>
		<tr style="width: 100%;">
			<td style="text-align: center;">
				<a href="{link}" target="_blank">
				<img class="newsletter-pro-image" style="border-style: none;" src="{image_path}" alt="" width="{image_width}" height="{image_height}" />
				</a>
			</td>
			<td style="padding-left: 30px; padding-bottom: 10px;">
				<strong>
				<a class="newsletter-pro-name" style="text-align: left; font-size: 18px; font-family: arial; min-height: 60px; color: #222; text-decoration: none;" href="{link}" target="_blank">{name}</a>
				</strong>
				<br />
				<p class="newsletter-pro-description_short" style="color: #8a8a8a; font-size: 14px;">{description_short}</p>
				<br />
				<span style="min-height: 50px; font-size: 22px; text-align: left; font-family: arial; padding: 5px 0; color: #217eda; font-weight: bold;">
				{price_display}
				</span> <br /> <br />
				<a class="link" style="float: left; background: #AFAFAF; border: none; color: #fff !important; font-size: 12px; font-weight: bold; text-align: center; text-decoration: none!important; cursor: pointer; display: block; line-height: 22px; padding: 1px 10px; margin-left: 0; height: 22px;" href="{link}" target="_blank">View Product</a>
			</td>
		</tr>
	</tbody>
</table>