<!-- {columns=2} -->
<table data-id="{id_product}" class="newsletter-pro-product" style="float: left; border: 1px solid #13a6eb; margin-right: 10px; margin-bottom: 10px;">
<tbody>
<tr>
<td style="padding: 5px;">
<table style="width: 100%;">
<tbody>
<tr>
<td style="text-align: center;"><a href="{link}" target="_blank"><img class="newsletter-pro-image" style="border-style: none;" src="{image_path}" alt="" width="{image_width}" height="{image_height}" /></a></td>
</tr>
<tr>
<td style="text-align: center;"><strong><a class="newsletter-pro-name" style="color: #000000; text-decoration: none; font-size: 15px;" href="{link}" target="_blank">{name}</a></strong></td>
</tr>
<tr>
<td style="text-align: center;"><strong>{reference}</strong></td>
</tr>
<tr>
<td style="text-align: center;"><span class="newsletter-pro-price" style="font-size: 12pt; font-weight: bold;">{price_display} </span>{if reduction &gt; 0} <span style="font-size: 10pt; font-weight: bold; color: red;">{reduction_display}</span>{/if}</td>
</tr>
<tr>
<td style="text-align: center;"><span class="newsletter-pro-price" style="font-size: 10pt; font-weight: bold; color: red;">{discount}</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>