        .inconsistency0 {width:5px; background:red; padding:10px; border:1px solid red!important;}
        .inconsistency1 {width:5px;  background:green; padding:10px; border:1px solid green!important;}
        .inconsistency td {padding:5px; border:1px solid #c0c0c0;}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a{
    padding: 0;
	margin: 0;
    margin-bottom:10px;
	font-family: 'arial', sans-serif;
}

#cssmenu:before, #cssmenu:after, #cssmenu > ul:before, #cssmenu > ul:after {
	content: '';
	display: table;
}


#cssmenu:after, #cssmenu > ul:after {
	clear: both;
}

#cssmenu {
	zoom:1;
	height: 69px;
	background: url(img/bottom-bg.png) repeat-x center bottom;
	border-radius: 2px;
}

#cssmenu ul{
	background: url(img/nav-bg.png) repeat-x 0px 4px;
	height: 69px;
}

#cssmenu ul li{
	float: left;
	list-style: none;
}

#cssmenu ul li a{
	display: block;
	height: 37px;
	padding: 22px 30px 0;
	margin: 4px 2px 0;
	border-radius: 2px 2px 0 0;
	text-decoration: none;
    font-weight:bold;
    font-size:16px;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
	opacity: .9;
}

#cssmenu ul li:first-child a{
	
	margin: 4px 2px 0 0;
	
}

#cssmenu ul li a:hover, #cssmenu ul li.active a{
	background: url(img/color.png) center bottom;
	display: block;
	height: 37px;
	margin-top: 0px;
	padding-top: 26px;
	color: #9b4106;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .35);
	opacity: 1;
	
}