.np-front-subscription {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.np-front-subscription .clear {
	height: 1px;
	clear: both;
}

.np-front-subscription .select-group {
   	width: calc(100% - 8px);
	width: -webkit-calc(100% - 8px);
	width: -moz-calc(100% - 8px);   
}

.np-front-subscription .alert {
	padding: 15px;
	margin-bottom: 18px;
	border: 1px solid transparent;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
	font-weight: bold;
	font-size: 12px;
}

.np-front-subscription .alert-danger {
	background-color: #f3515c;
	border-color: #d4323d;
	color: white;
}

.np-front-subscription .alert-success {
	background-color: #55c65e;
	border-color: #48b151;
	color: white;
}

.np-front-subscription select,
.np-front-subscription input {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:  #777 !important;
}

.np-front-subscription .form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.np-front-subscription .radio-inline {
	display: inline;
	margin-right: 5px;
}

.np-front-subscription ul {
	margin: 0;
	list-style-type: none;
}

.np-front-subscription label {
	color: #333333;
	width: auto;
	float: none;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold !important;
}

.np-front-subscription h4 {
	color: #555454;
	background: none;
	float: left;
	padding: 5px 0 10px 0;
	text-transform: none;
	font-size: 21px !important;
	line-height: 25px;
	border: none;
}

.np-front-subscription .form-inputs {
	padding: 0;
}

.np-front-subscription div.checker {
	float: left;
}

.np-front-subscription .form-control {
	display: block;
	width: 100%;
	height: 27px;
	padding: 3px 5px;
	font-size: 13px;
	line-height: 1.42857;
	color: #9c9b9b;
	vertical-align: middle;
	background-color: white;
	border: 1px solid #d6d4d4;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-moz-transition: border-color ease-in-out 0.15s, -moz-box-shadow ease-in-out 0.15s;
	  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	     transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	     box-shadow: none;
}

.np-front-subscription .form-group {
	margin-bottom: 15px;
}

.np-front-subscription .np-col-4 {
	width: 30%;
	margin-right: 5%;
	float: left;
}

.np-front-subscription .np-col-4:last-child {
	margin-right: 0;
}

.np-front-subscription .alert-danger *, 
.np-front-subscription .alert-success * {
	display: inline;
	float: none;
	color: white;
}

.np-front-subscription .close-forever-box {
	float: right;
	text-align: right;
}

.np-front-subscription .close-forever {
	color: rgb(0, 112, 205);
	text-decoration: underline;
	font-size: 12px;
	float: right;
}

.np-front-subscription .np-select-option {
	width: 100%;
}

.np-front-subscription .np-button {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#2980b9));
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	color: #ffffff;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	display: inline-block;
}

.np-front-subscription .np-button:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3cb0fd), to(#3498db));
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.np-front-subscription .nps-popup-title {
	margin-top: 0;
	padding-top: 0;
}

.np-front-subscription .np-row {

}

.np-front-subscription .np-input-radio {

}

.np-front-subscription .np-input-checkbox {

}

.gk-front-window-scrollbar {
	padding: 0 !important;
	margin: 0 !important;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}

.np-popup-subscription-window {
	padding: 0 !important;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}

.gk-front-window-content {
	padding: 0;
	margin: 0;
}

#nps-popup .np-icon-cross,
#nps-popup .np-icon-cross_1,
#nps-popup .np-icon-cross_2,
#nps-popup .np-icon-cross_3,
#nps-popup .np-icon-cross_4,
#nps-popup .np-icon-cross_5,
#nps-popup .cross {
	color: white !important;
    font-size: 16px;
}

#nps-popup .np-icon-cross:before,
#nps-popup .np-icon-cross_1:before,
#nps-popup .np-icon-cross_2:before,
#nps-popup .np-icon-cross_3:before,
#nps-popup .np-icon-cross_4:before,
#nps-popup .np-icon-cross_5:before,
#nps-popup .cross:before {
    font-size: 16px;
    line-height: 16px;
    text-align: right;

}

.nps-popup-title {
	text-transform: uppercase !important;
	line-height: 28px;
	font-size: 22px;
	margin-top: 0;
	color: #555454;
}

#np-popup-email {
	float: left;
	width: 75%;
	height: 32px;
}

.submit-newsletterpro-subscribe {
	width: 25%;
	display: inline-block;
	text-align: center;
	float: left;
	height: 32px;
	line-height: 32px;
	padding: 0 !important;
	text-transform: uppercase;
	font-weight: bold;
	background: #63ae29 !important;
	color: white;
}

.submit-newsletterpro-subscribe:focus,
.submit-newsletterpro-subscribe:hover {
	color: white;
	text-decoration: none;
}

#nps-popup-content {
	width: 100%;
	float: right;
}

.np-front-subscription-left {
	padding: 15px 30px;
	float: left;
	width: 60%;
}

.np-front-subscription-right {
	float: left;
	width: 40%;
}

.np-front-subscription-image {
	width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	float: right;
}

.np-front-subscription {
	display: block;
	width: 100%;
}

.nps-popup-list {
	display: inline-block;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	list-style-type: none;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	color: #555454;
}

.nps-popup-list li {
	padding: 2px 0 2px 0px;
}

.clear {
	clear: both;
	height: 0px;
}

.close-forever {
	color: #63ae29 !important;
	text-decoration: underline !important;
}

.np-popup-subscription-footer {
	margin-top: 15px;
}

#nps-popup-response {
	padding: 10px 30px 10px 10px;
}

#nps-popup .np-icon-cross.cross-message,
#nps-popup .np-icon-cross_1.cross-message,
#nps-popup .np-icon-cross_2.cross-message,
#nps-popup .np-icon-cross_3.cross-message,
#nps-popup .np-icon-cross_4.cross-message,
#nps-popup .np-icon-cross_5.cross-message,
#nps-popup .cross.cross-message {
		color: black !important;
}

.np-link {
	color: #63ae29 !important;
	text-decoration: underline !important;
}

.np-terms-and-concitions-text {
	line-height: 13px;
	vertical-align: middle;
	float: left;
}

@media screen and (max-width: 720px) {
	.np-front-subscription-left {
		padding: 15px 30px;
		float: left;
		width: 100%;
		text-align: left;
	}

	.np-front-subscription-right {
		display: none;
	}

	#nps-popup .np-icon-cross,
	#nps-popup .np-icon-cross_1,
	#nps-popup .np-icon-cross_2,
	#nps-popup .np-icon-cross_3,
	#nps-popup .np-icon-cross_4,
	#nps-popup .np-icon-cross_5,
	#nps-popup .cross {
		color: black !important;
	}
}