{if isset($sortBy)}
<form id="testimonialsSortForm" action="{$requestPage|escape:'htmlall':'UTF-8'}" method="post" class="search_form">
	<p class="select">
		<input id="selecttestimonialsSearch" type="text" name="searchby" value="{if isset($searchBy)}{$searchBy}{/if}" placeholder="Search" />
        <input type="submit" name="submitSearch" id="submitSearch" value=" " class="" onclick="$(this).hide();">
	</p>
</form>
{/if}

