/*!
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.w4wfaq-wrapper { @-ms-viewport { width: device-width; }
 }
.w4wfaq-wrapper html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
.w4wfaq-wrapper body { margin: 0; }
.w4wfaq-wrapper article, .w4wfaq-wrapper aside, .w4wfaq-wrapper details, .w4wfaq-wrapper figcaption, .w4wfaq-wrapper figure, .w4wfaq-wrapper footer, .w4wfaq-wrapper header, .w4wfaq-wrapper hgroup, .w4wfaq-wrapper main, .w4wfaq-wrapper nav, .w4wfaq-wrapper section, .w4wfaq-wrapper summary { display: block; }
.w4wfaq-wrapper audio, .w4wfaq-wrapper canvas, .w4wfaq-wrapper progress, .w4wfaq-wrapper video { display: inline-block; vertical-align: baseline; }
.w4wfaq-wrapper audio:not([controls]) { display: none; height: 0; }
.w4wfaq-wrapper [hidden], .w4wfaq-wrapper template { display: none; }
.w4wfaq-wrapper a { background: transparent; }
.w4wfaq-wrapper a:active, .w4wfaq-wrapper a:hover { outline: 0; }
.w4wfaq-wrapper abbr[title] { border-bottom: 1px dotted; }
.w4wfaq-wrapper b, .w4wfaq-wrapper strong { font-weight: bold; }
.w4wfaq-wrapper dfn { font-style: italic; }
.w4wfaq-wrapper h1 { font-size: 2em; margin: 0.67em 0; }
.w4wfaq-wrapper mark { background: #ff0; color: #000; }
.w4wfaq-wrapper small { font-size: 80%; }
.w4wfaq-wrapper sub, .w4wfaq-wrapper sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
.w4wfaq-wrapper sup { top: -0.5em; }
.w4wfaq-wrapper sub { bottom: -0.25em; }
.w4wfaq-wrapper img { border: 0; }
.w4wfaq-wrapper svg:not(:root) { overflow: hidden; }
.w4wfaq-wrapper figure { margin: 1em 40px; }
.w4wfaq-wrapper hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
.w4wfaq-wrapper pre { overflow: auto; }
.w4wfaq-wrapper code, .w4wfaq-wrapper kbd, .w4wfaq-wrapper pre, .w4wfaq-wrapper samp { font-family: monospace, monospace; font-size: 1em; }
.w4wfaq-wrapper button, .w4wfaq-wrapper input, .w4wfaq-wrapper optgroup, .w4wfaq-wrapper select, .w4wfaq-wrapper textarea { color: inherit; font: inherit; margin: 0; }
.w4wfaq-wrapper button { overflow: visible; }
.w4wfaq-wrapper button, .w4wfaq-wrapper select { text-transform: none; }
.w4wfaq-wrapper button, .w4wfaq-wrapper html input[type="button"], .w4wfaq-wrapper input[type="reset"], .w4wfaq-wrapper input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
.w4wfaq-wrapper button[disabled], .w4wfaq-wrapper html input[disabled] { cursor: default; }
.w4wfaq-wrapper button::-moz-focus-inner, .w4wfaq-wrapper input::-moz-focus-inner { border: 0; padding: 0; }
.w4wfaq-wrapper input { line-height: normal; }
.w4wfaq-wrapper input[type="checkbox"], .w4wfaq-wrapper input[type="radio"] { box-sizing: border-box; padding: 0; }
.w4wfaq-wrapper input[type="number"]::-webkit-inner-spin-button, .w4wfaq-wrapper input[type="number"]::-webkit-outer-spin-button { height: auto; }
.w4wfaq-wrapper input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
.w4wfaq-wrapper input[type="search"]::-webkit-search-cancel-button, .w4wfaq-wrapper input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
.w4wfaq-wrapper fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
.w4wfaq-wrapper legend { border: 0; padding: 0; }
.w4wfaq-wrapper textarea { overflow: auto; }
.w4wfaq-wrapper optgroup { font-weight: bold; }
.w4wfaq-wrapper table { border-collapse: collapse; border-spacing: 0; }
.w4wfaq-wrapper td, .w4wfaq-wrapper th { padding: 0; }
.w4wfaq-wrapper * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.w4wfaq-wrapper *:before, .w4wfaq-wrapper *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.w4wfaq-wrapper html { font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.w4wfaq-wrapper body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857143; color: #333333; background-color: #ffffff; }
.w4wfaq-wrapper input, .w4wfaq-wrapper button, .w4wfaq-wrapper select, .w4wfaq-wrapper textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
.w4wfaq-wrapper a { color: #428bca; text-decoration: none; }
.w4wfaq-wrapper a:hover, .w4wfaq-wrapper a:focus { color: #2a6496; text-decoration: underline; }
.w4wfaq-wrapper a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.w4wfaq-wrapper figure { margin: 0; }
.w4wfaq-wrapper img { vertical-align: middle; }
.w4wfaq-wrapper .img-responsive { display: block; width: 100% \9; max-width: 100%; height: auto; }
.w4wfaq-wrapper .img-rounded { border-radius: 6px; }
.w4wfaq-wrapper .img-thumbnail { padding: 4px; line-height: 1.42857143; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: inline-block; width: 100% \9; max-width: 100%; height: auto; }
.w4wfaq-wrapper .img-circle { border-radius: 50%; }
.w4wfaq-wrapper hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eeeeee; }
.w4wfaq-wrapper .sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.w4wfaq-wrapper .sr-only-focusable:active, .w4wfaq-wrapper .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }
.w4wfaq-wrapper .container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
@media (min-width: 768px) { .w4wfaq-wrapper .container { width: 750px; } }
@media (min-width: 992px) { .w4wfaq-wrapper .container { width: 970px; } }
@media (min-width: 1200px) { .w4wfaq-wrapper .container { width: 1170px; } }
.w4wfaq-wrapper .container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.w4wfaq-wrapper .row { margin-left: -15px; margin-right: -15px; }
.w4wfaq-wrapper .col-xs-1, .w4wfaq-wrapper .col-sm-1, .w4wfaq-wrapper .col-md-1, .w4wfaq-wrapper .col-lg-1, .w4wfaq-wrapper .col-xs-2, .w4wfaq-wrapper .col-sm-2, .w4wfaq-wrapper .col-md-2, .w4wfaq-wrapper .col-lg-2, .w4wfaq-wrapper .col-xs-3, .w4wfaq-wrapper .col-sm-3, .w4wfaq-wrapper .col-md-3, .w4wfaq-wrapper .col-lg-3, .w4wfaq-wrapper .col-xs-4, .w4wfaq-wrapper .col-sm-4, .w4wfaq-wrapper .col-md-4, .w4wfaq-wrapper .col-lg-4, .w4wfaq-wrapper .col-xs-5, .w4wfaq-wrapper .col-sm-5, .w4wfaq-wrapper .col-md-5, .w4wfaq-wrapper .col-lg-5, .w4wfaq-wrapper .col-xs-6, .w4wfaq-wrapper .col-sm-6, .w4wfaq-wrapper .col-md-6, .w4wfaq-wrapper .col-lg-6, .w4wfaq-wrapper .col-xs-7, .w4wfaq-wrapper .col-sm-7, .w4wfaq-wrapper .col-md-7, .w4wfaq-wrapper .col-lg-7, .w4wfaq-wrapper .col-xs-8, .w4wfaq-wrapper .col-sm-8, .w4wfaq-wrapper .col-md-8, .w4wfaq-wrapper .col-lg-8, .w4wfaq-wrapper .col-xs-9, .w4wfaq-wrapper .col-sm-9, .w4wfaq-wrapper .col-md-9, .w4wfaq-wrapper .col-lg-9, .w4wfaq-wrapper .col-xs-10, .w4wfaq-wrapper .col-sm-10, .w4wfaq-wrapper .col-md-10, .w4wfaq-wrapper .col-lg-10, .w4wfaq-wrapper .col-xs-11, .w4wfaq-wrapper .col-sm-11, .w4wfaq-wrapper .col-md-11, .w4wfaq-wrapper .col-lg-11, .w4wfaq-wrapper .col-xs-12, .w4wfaq-wrapper .col-sm-12, .w4wfaq-wrapper .col-md-12, .w4wfaq-wrapper .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
.w4wfaq-wrapper .col-xs-1, .w4wfaq-wrapper .col-xs-2, .w4wfaq-wrapper .col-xs-3, .w4wfaq-wrapper .col-xs-4, .w4wfaq-wrapper .col-xs-5, .w4wfaq-wrapper .col-xs-6, .w4wfaq-wrapper .col-xs-7, .w4wfaq-wrapper .col-xs-8, .w4wfaq-wrapper .col-xs-9, .w4wfaq-wrapper .col-xs-10, .w4wfaq-wrapper .col-xs-11, .w4wfaq-wrapper .col-xs-12 { float: left; }
.w4wfaq-wrapper .col-xs-12 { width: 100%; }
.w4wfaq-wrapper .col-xs-11 { width: 91.66666667%; }
.w4wfaq-wrapper .col-xs-10 { width: 83.33333333%; }
.w4wfaq-wrapper .col-xs-9 { width: 75%; }
.w4wfaq-wrapper .col-xs-8 { width: 66.66666667%; }
.w4wfaq-wrapper .col-xs-7 { width: 58.33333333%; }
.w4wfaq-wrapper .col-xs-6 { width: 50%; }
.w4wfaq-wrapper .col-xs-5 { width: 41.66666667%; }
.w4wfaq-wrapper .col-xs-4 { width: 33.33333333%; }
.w4wfaq-wrapper .col-xs-3 { width: 25%; }
.w4wfaq-wrapper .col-xs-2 { width: 16.66666667%; }
.w4wfaq-wrapper .col-xs-1 { width: 8.33333333%; }
.w4wfaq-wrapper .col-xs-pull-12 { right: 100%; }
.w4wfaq-wrapper .col-xs-pull-11 { right: 91.66666667%; }
.w4wfaq-wrapper .col-xs-pull-10 { right: 83.33333333%; }
.w4wfaq-wrapper .col-xs-pull-9 { right: 75%; }
.w4wfaq-wrapper .col-xs-pull-8 { right: 66.66666667%; }
.w4wfaq-wrapper .col-xs-pull-7 { right: 58.33333333%; }
.w4wfaq-wrapper .col-xs-pull-6 { right: 50%; }
.w4wfaq-wrapper .col-xs-pull-5 { right: 41.66666667%; }
.w4wfaq-wrapper .col-xs-pull-4 { right: 33.33333333%; }
.w4wfaq-wrapper .col-xs-pull-3 { right: 25%; }
.w4wfaq-wrapper .col-xs-pull-2 { right: 16.66666667%; }
.w4wfaq-wrapper .col-xs-pull-1 { right: 8.33333333%; }
.w4wfaq-wrapper .col-xs-pull-0 { right: auto; }
.w4wfaq-wrapper .col-xs-push-12 { left: 100%; }
.w4wfaq-wrapper .col-xs-push-11 { left: 91.66666667%; }
.w4wfaq-wrapper .col-xs-push-10 { left: 83.33333333%; }
.w4wfaq-wrapper .col-xs-push-9 { left: 75%; }
.w4wfaq-wrapper .col-xs-push-8 { left: 66.66666667%; }
.w4wfaq-wrapper .col-xs-push-7 { left: 58.33333333%; }
.w4wfaq-wrapper .col-xs-push-6 { left: 50%; }
.w4wfaq-wrapper .col-xs-push-5 { left: 41.66666667%; }
.w4wfaq-wrapper .col-xs-push-4 { left: 33.33333333%; }
.w4wfaq-wrapper .col-xs-push-3 { left: 25%; }
.w4wfaq-wrapper .col-xs-push-2 { left: 16.66666667%; }
.w4wfaq-wrapper .col-xs-push-1 { left: 8.33333333%; }
.w4wfaq-wrapper .col-xs-push-0 { left: auto; }
.w4wfaq-wrapper .col-xs-offset-12 { margin-left: 100%; }
.w4wfaq-wrapper .col-xs-offset-11 { margin-left: 91.66666667%; }
.w4wfaq-wrapper .col-xs-offset-10 { margin-left: 83.33333333%; }
.w4wfaq-wrapper .col-xs-offset-9 { margin-left: 75%; }
.w4wfaq-wrapper .col-xs-offset-8 { margin-left: 66.66666667%; }
.w4wfaq-wrapper .col-xs-offset-7 { margin-left: 58.33333333%; }
.w4wfaq-wrapper .col-xs-offset-6 { margin-left: 50%; }
.w4wfaq-wrapper .col-xs-offset-5 { margin-left: 41.66666667%; }
.w4wfaq-wrapper .col-xs-offset-4 { margin-left: 33.33333333%; }
.w4wfaq-wrapper .col-xs-offset-3 { margin-left: 25%; }
.w4wfaq-wrapper .col-xs-offset-2 { margin-left: 16.66666667%; }
.w4wfaq-wrapper .col-xs-offset-1 { margin-left: 8.33333333%; }
.w4wfaq-wrapper .col-xs-offset-0 { margin-left: 0%; }
@media (min-width: 768px) { .w4wfaq-wrapper .col-sm-1, .w4wfaq-wrapper .col-sm-2, .w4wfaq-wrapper .col-sm-3, .w4wfaq-wrapper .col-sm-4, .w4wfaq-wrapper .col-sm-5, .w4wfaq-wrapper .col-sm-6, .w4wfaq-wrapper .col-sm-7, .w4wfaq-wrapper .col-sm-8, .w4wfaq-wrapper .col-sm-9, .w4wfaq-wrapper .col-sm-10, .w4wfaq-wrapper .col-sm-11, .w4wfaq-wrapper .col-sm-12 { float: left; }
  .w4wfaq-wrapper .col-sm-12 { width: 100%; }
  .w4wfaq-wrapper .col-sm-11 { width: 91.66666667%; }
  .w4wfaq-wrapper .col-sm-10 { width: 83.33333333%; }
  .w4wfaq-wrapper .col-sm-9 { width: 75%; }
  .w4wfaq-wrapper .col-sm-8 { width: 66.66666667%; }
  .w4wfaq-wrapper .col-sm-7 { width: 58.33333333%; }
  .w4wfaq-wrapper .col-sm-6 { width: 50%; }
  .w4wfaq-wrapper .col-sm-5 { width: 41.66666667%; }
  .w4wfaq-wrapper .col-sm-4 { width: 33.33333333%; }
  .w4wfaq-wrapper .col-sm-3 { width: 25%; }
  .w4wfaq-wrapper .col-sm-2 { width: 16.66666667%; }
  .w4wfaq-wrapper .col-sm-1 { width: 8.33333333%; }
  .w4wfaq-wrapper .col-sm-pull-12 { right: 100%; }
  .w4wfaq-wrapper .col-sm-pull-11 { right: 91.66666667%; }
  .w4wfaq-wrapper .col-sm-pull-10 { right: 83.33333333%; }
  .w4wfaq-wrapper .col-sm-pull-9 { right: 75%; }
  .w4wfaq-wrapper .col-sm-pull-8 { right: 66.66666667%; }
  .w4wfaq-wrapper .col-sm-pull-7 { right: 58.33333333%; }
  .w4wfaq-wrapper .col-sm-pull-6 { right: 50%; }
  .w4wfaq-wrapper .col-sm-pull-5 { right: 41.66666667%; }
  .w4wfaq-wrapper .col-sm-pull-4 { right: 33.33333333%; }
  .w4wfaq-wrapper .col-sm-pull-3 { right: 25%; }
  .w4wfaq-wrapper .col-sm-pull-2 { right: 16.66666667%; }
  .w4wfaq-wrapper .col-sm-pull-1 { right: 8.33333333%; }
  .w4wfaq-wrapper .col-sm-pull-0 { right: auto; }
  .w4wfaq-wrapper .col-sm-push-12 { left: 100%; }
  .w4wfaq-wrapper .col-sm-push-11 { left: 91.66666667%; }
  .w4wfaq-wrapper .col-sm-push-10 { left: 83.33333333%; }
  .w4wfaq-wrapper .col-sm-push-9 { left: 75%; }
  .w4wfaq-wrapper .col-sm-push-8 { left: 66.66666667%; }
  .w4wfaq-wrapper .col-sm-push-7 { left: 58.33333333%; }
  .w4wfaq-wrapper .col-sm-push-6 { left: 50%; }
  .w4wfaq-wrapper .col-sm-push-5 { left: 41.66666667%; }
  .w4wfaq-wrapper .col-sm-push-4 { left: 33.33333333%; }
  .w4wfaq-wrapper .col-sm-push-3 { left: 25%; }
  .w4wfaq-wrapper .col-sm-push-2 { left: 16.66666667%; }
  .w4wfaq-wrapper .col-sm-push-1 { left: 8.33333333%; }
  .w4wfaq-wrapper .col-sm-push-0 { left: auto; }
  .w4wfaq-wrapper .col-sm-offset-12 { margin-left: 100%; }
  .w4wfaq-wrapper .col-sm-offset-11 { margin-left: 91.66666667%; }
  .w4wfaq-wrapper .col-sm-offset-10 { margin-left: 83.33333333%; }
  .w4wfaq-wrapper .col-sm-offset-9 { margin-left: 75%; }
  .w4wfaq-wrapper .col-sm-offset-8 { margin-left: 66.66666667%; }
  .w4wfaq-wrapper .col-sm-offset-7 { margin-left: 58.33333333%; }
  .w4wfaq-wrapper .col-sm-offset-6 { margin-left: 50%; }
  .w4wfaq-wrapper .col-sm-offset-5 { margin-left: 41.66666667%; }
  .w4wfaq-wrapper .col-sm-offset-4 { margin-left: 33.33333333%; }
  .w4wfaq-wrapper .col-sm-offset-3 { margin-left: 25%; }
  .w4wfaq-wrapper .col-sm-offset-2 { margin-left: 16.66666667%; }
  .w4wfaq-wrapper .col-sm-offset-1 { margin-left: 8.33333333%; }
  .w4wfaq-wrapper .col-sm-offset-0 { margin-left: 0%; } }
@media (min-width: 992px) { .w4wfaq-wrapper .col-md-1, .w4wfaq-wrapper .col-md-2, .w4wfaq-wrapper .col-md-3, .w4wfaq-wrapper .col-md-4, .w4wfaq-wrapper .col-md-5, .w4wfaq-wrapper .col-md-6, .w4wfaq-wrapper .col-md-7, .w4wfaq-wrapper .col-md-8, .w4wfaq-wrapper .col-md-9, .w4wfaq-wrapper .col-md-10, .w4wfaq-wrapper .col-md-11, .w4wfaq-wrapper .col-md-12 { float: left; }
  .w4wfaq-wrapper .col-md-12 { width: 100%; }
  .w4wfaq-wrapper .col-md-11 { width: 91.66666667%; }
  .w4wfaq-wrapper .col-md-10 { width: 83.33333333%; }
  .w4wfaq-wrapper .col-md-9 { width: 75%; }
  .w4wfaq-wrapper .col-md-8 { width: 66.66666667%; }
  .w4wfaq-wrapper .col-md-7 { width: 58.33333333%; }
  .w4wfaq-wrapper .col-md-6 { width: 50%; }
  .w4wfaq-wrapper .col-md-5 { width: 41.66666667%; }
  .w4wfaq-wrapper .col-md-4 { width: 33.33333333%; }
  .w4wfaq-wrapper .col-md-3 { width: 25%; }
  .w4wfaq-wrapper .col-md-2 { width: 16.66666667%; }
  .w4wfaq-wrapper .col-md-1 { width: 8.33333333%; }
  .w4wfaq-wrapper .col-md-pull-12 { right: 100%; }
  .w4wfaq-wrapper .col-md-pull-11 { right: 91.66666667%; }
  .w4wfaq-wrapper .col-md-pull-10 { right: 83.33333333%; }
  .w4wfaq-wrapper .col-md-pull-9 { right: 75%; }
  .w4wfaq-wrapper .col-md-pull-8 { right: 66.66666667%; }
  .w4wfaq-wrapper .col-md-pull-7 { right: 58.33333333%; }
  .w4wfaq-wrapper .col-md-pull-6 { right: 50%; }
  .w4wfaq-wrapper .col-md-pull-5 { right: 41.66666667%; }
  .w4wfaq-wrapper .col-md-pull-4 { right: 33.33333333%; }
  .w4wfaq-wrapper .col-md-pull-3 { right: 25%; }
  .w4wfaq-wrapper .col-md-pull-2 { right: 16.66666667%; }
  .w4wfaq-wrapper .col-md-pull-1 { right: 8.33333333%; }
  .w4wfaq-wrapper .col-md-pull-0 { right: auto; }
  .w4wfaq-wrapper .col-md-push-12 { left: 100%; }
  .w4wfaq-wrapper .col-md-push-11 { left: 91.66666667%; }
  .w4wfaq-wrapper .col-md-push-10 { left: 83.33333333%; }
  .w4wfaq-wrapper .col-md-push-9 { left: 75%; }
  .w4wfaq-wrapper .col-md-push-8 { left: 66.66666667%; }
  .w4wfaq-wrapper .col-md-push-7 { left: 58.33333333%; }
  .w4wfaq-wrapper .col-md-push-6 { left: 50%; }
  .w4wfaq-wrapper .col-md-push-5 { left: 41.66666667%; }
  .w4wfaq-wrapper .col-md-push-4 { left: 33.33333333%; }
  .w4wfaq-wrapper .col-md-push-3 { left: 25%; }
  .w4wfaq-wrapper .col-md-push-2 { left: 16.66666667%; }
  .w4wfaq-wrapper .col-md-push-1 { left: 8.33333333%; }
  .w4wfaq-wrapper .col-md-push-0 { left: auto; }
  .w4wfaq-wrapper .col-md-offset-12 { margin-left: 100%; }
  .w4wfaq-wrapper .col-md-offset-11 { margin-left: 91.66666667%; }
  .w4wfaq-wrapper .col-md-offset-10 { margin-left: 83.33333333%; }
  .w4wfaq-wrapper .col-md-offset-9 { margin-left: 75%; }
  .w4wfaq-wrapper .col-md-offset-8 { margin-left: 66.66666667%; }
  .w4wfaq-wrapper .col-md-offset-7 { margin-left: 58.33333333%; }
  .w4wfaq-wrapper .col-md-offset-6 { margin-left: 50%; }
  .w4wfaq-wrapper .col-md-offset-5 { margin-left: 41.66666667%; }
  .w4wfaq-wrapper .col-md-offset-4 { margin-left: 33.33333333%; }
  .w4wfaq-wrapper .col-md-offset-3 { margin-left: 25%; }
  .w4wfaq-wrapper .col-md-offset-2 { margin-left: 16.66666667%; }
  .w4wfaq-wrapper .col-md-offset-1 { margin-left: 8.33333333%; }
  .w4wfaq-wrapper .col-md-offset-0 { margin-left: 0%; } }
@media (min-width: 1200px) { .w4wfaq-wrapper .col-lg-1, .w4wfaq-wrapper .col-lg-2, .w4wfaq-wrapper .col-lg-3, .w4wfaq-wrapper .col-lg-4, .w4wfaq-wrapper .col-lg-5, .w4wfaq-wrapper .col-lg-6, .w4wfaq-wrapper .col-lg-7, .w4wfaq-wrapper .col-lg-8, .w4wfaq-wrapper .col-lg-9, .w4wfaq-wrapper .col-lg-10, .w4wfaq-wrapper .col-lg-11, .w4wfaq-wrapper .col-lg-12 { float: left; }
  .w4wfaq-wrapper .col-lg-12 { width: 100%; }
  .w4wfaq-wrapper .col-lg-11 { width: 91.66666667%; }
  .w4wfaq-wrapper .col-lg-10 { width: 83.33333333%; }
  .w4wfaq-wrapper .col-lg-9 { width: 75%; }
  .w4wfaq-wrapper .col-lg-8 { width: 66.66666667%; }
  .w4wfaq-wrapper .col-lg-7 { width: 58.33333333%; }
  .w4wfaq-wrapper .col-lg-6 { width: 50%; }
  .w4wfaq-wrapper .col-lg-5 { width: 41.66666667%; }
  .w4wfaq-wrapper .col-lg-4 { width: 33.33333333%; }
  .w4wfaq-wrapper .col-lg-3 { width: 25%; }
  .w4wfaq-wrapper .col-lg-2 { width: 16.66666667%; }
  .w4wfaq-wrapper .col-lg-1 { width: 8.33333333%; }
  .w4wfaq-wrapper .col-lg-pull-12 { right: 100%; }
  .w4wfaq-wrapper .col-lg-pull-11 { right: 91.66666667%; }
  .w4wfaq-wrapper .col-lg-pull-10 { right: 83.33333333%; }
  .w4wfaq-wrapper .col-lg-pull-9 { right: 75%; }
  .w4wfaq-wrapper .col-lg-pull-8 { right: 66.66666667%; }
  .w4wfaq-wrapper .col-lg-pull-7 { right: 58.33333333%; }
  .w4wfaq-wrapper .col-lg-pull-6 { right: 50%; }
  .w4wfaq-wrapper .col-lg-pull-5 { right: 41.66666667%; }
  .w4wfaq-wrapper .col-lg-pull-4 { right: 33.33333333%; }
  .w4wfaq-wrapper .col-lg-pull-3 { right: 25%; }
  .w4wfaq-wrapper .col-lg-pull-2 { right: 16.66666667%; }
  .w4wfaq-wrapper .col-lg-pull-1 { right: 8.33333333%; }
  .w4wfaq-wrapper .col-lg-pull-0 { right: auto; }
  .w4wfaq-wrapper .col-lg-push-12 { left: 100%; }
  .w4wfaq-wrapper .col-lg-push-11 { left: 91.66666667%; }
  .w4wfaq-wrapper .col-lg-push-10 { left: 83.33333333%; }
  .w4wfaq-wrapper .col-lg-push-9 { left: 75%; }
  .w4wfaq-wrapper .col-lg-push-8 { left: 66.66666667%; }
  .w4wfaq-wrapper .col-lg-push-7 { left: 58.33333333%; }
  .w4wfaq-wrapper .col-lg-push-6 { left: 50%; }
  .w4wfaq-wrapper .col-lg-push-5 { left: 41.66666667%; }
  .w4wfaq-wrapper .col-lg-push-4 { left: 33.33333333%; }
  .w4wfaq-wrapper .col-lg-push-3 { left: 25%; }
  .w4wfaq-wrapper .col-lg-push-2 { left: 16.66666667%; }
  .w4wfaq-wrapper .col-lg-push-1 { left: 8.33333333%; }
  .w4wfaq-wrapper .col-lg-push-0 { left: auto; }
  .w4wfaq-wrapper .col-lg-offset-12 { margin-left: 100%; }
  .w4wfaq-wrapper .col-lg-offset-11 { margin-left: 91.66666667%; }
  .w4wfaq-wrapper .col-lg-offset-10 { margin-left: 83.33333333%; }
  .w4wfaq-wrapper .col-lg-offset-9 { margin-left: 75%; }
  .w4wfaq-wrapper .col-lg-offset-8 { margin-left: 66.66666667%; }
  .w4wfaq-wrapper .col-lg-offset-7 { margin-left: 58.33333333%; }
  .w4wfaq-wrapper .col-lg-offset-6 { margin-left: 50%; }
  .w4wfaq-wrapper .col-lg-offset-5 { margin-left: 41.66666667%; }
  .w4wfaq-wrapper .col-lg-offset-4 { margin-left: 33.33333333%; }
  .w4wfaq-wrapper .col-lg-offset-3 { margin-left: 25%; }
  .w4wfaq-wrapper .col-lg-offset-2 { margin-left: 16.66666667%; }
  .w4wfaq-wrapper .col-lg-offset-1 { margin-left: 8.33333333%; }
  .w4wfaq-wrapper .col-lg-offset-0 { margin-left: 0%; } }
.w4wfaq-wrapper .btn { display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.w4wfaq-wrapper .btn:focus, .w4wfaq-wrapper .btn:active:focus, .w4wfaq-wrapper .btn.active:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.w4wfaq-wrapper .btn:hover, .w4wfaq-wrapper .btn:focus { color: #333333; text-decoration: none; }
.w4wfaq-wrapper .btn:active, .w4wfaq-wrapper .btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.w4wfaq-wrapper .btn.disabled, .w4wfaq-wrapper .btn[disabled], .w4wfaq-wrapper fieldset[disabled] .btn { cursor: not-allowed; pointer-events: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }
.w4wfaq-wrapper .btn-default { color: #333333; background-color: #ffffff; border-color: #cccccc; }
.w4wfaq-wrapper .btn-default:hover, .w4wfaq-wrapper .btn-default:focus, .w4wfaq-wrapper .btn-default:active, .w4wfaq-wrapper .btn-default.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-default { color: #333333; background-color: #e6e6e6; border-color: #adadad; }
.w4wfaq-wrapper .btn-default:active, .w4wfaq-wrapper .btn-default.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-default { background-image: none; }
.w4wfaq-wrapper .btn-default.disabled, .w4wfaq-wrapper .btn-default[disabled], .w4wfaq-wrapper fieldset[disabled] .btn-default, .w4wfaq-wrapper .btn-default.disabled:hover, .w4wfaq-wrapper .btn-default[disabled]:hover, .w4wfaq-wrapper fieldset[disabled] .btn-default:hover, .w4wfaq-wrapper .btn-default.disabled:focus, .w4wfaq-wrapper .btn-default[disabled]:focus, .w4wfaq-wrapper fieldset[disabled] .btn-default:focus, .w4wfaq-wrapper .btn-default.disabled:active, .w4wfaq-wrapper .btn-default[disabled]:active, .w4wfaq-wrapper fieldset[disabled] .btn-default:active, .w4wfaq-wrapper .btn-default.disabled.active, .w4wfaq-wrapper .btn-default[disabled].active, .w4wfaq-wrapper fieldset[disabled] .btn-default.active { background-color: #ffffff; border-color: #cccccc; }
.w4wfaq-wrapper .btn-default .badge { color: #ffffff; background-color: #333333; }
.w4wfaq-wrapper .btn-primary { color: #ffffff; background-color: #428bca; border-color: #357ebd; }
.w4wfaq-wrapper .btn-primary:hover, .w4wfaq-wrapper .btn-primary:focus, .w4wfaq-wrapper .btn-primary:active, .w4wfaq-wrapper .btn-primary.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-primary { color: #ffffff; background-color: #3071a9; border-color: #285e8e; }
.w4wfaq-wrapper .btn-primary:active, .w4wfaq-wrapper .btn-primary.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-primary { background-image: none; }
.w4wfaq-wrapper .btn-primary.disabled, .w4wfaq-wrapper .btn-primary[disabled], .w4wfaq-wrapper fieldset[disabled] .btn-primary, .w4wfaq-wrapper .btn-primary.disabled:hover, .w4wfaq-wrapper .btn-primary[disabled]:hover, .w4wfaq-wrapper fieldset[disabled] .btn-primary:hover, .w4wfaq-wrapper .btn-primary.disabled:focus, .w4wfaq-wrapper .btn-primary[disabled]:focus, .w4wfaq-wrapper fieldset[disabled] .btn-primary:focus, .w4wfaq-wrapper .btn-primary.disabled:active, .w4wfaq-wrapper .btn-primary[disabled]:active, .w4wfaq-wrapper fieldset[disabled] .btn-primary:active, .w4wfaq-wrapper .btn-primary.disabled.active, .w4wfaq-wrapper .btn-primary[disabled].active, .w4wfaq-wrapper fieldset[disabled] .btn-primary.active { background-color: #428bca; border-color: #357ebd; }
.w4wfaq-wrapper .btn-primary .badge { color: #428bca; background-color: #ffffff; }
.w4wfaq-wrapper .btn-success { color: #ffffff; background-color: #5cb85c; border-color: #4cae4c; }
.w4wfaq-wrapper .btn-success:hover, .w4wfaq-wrapper .btn-success:focus, .w4wfaq-wrapper .btn-success:active, .w4wfaq-wrapper .btn-success.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-success { color: #ffffff; background-color: #449d44; border-color: #398439; }
.w4wfaq-wrapper .btn-success:active, .w4wfaq-wrapper .btn-success.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-success { background-image: none; }
.w4wfaq-wrapper .btn-success.disabled, .w4wfaq-wrapper .btn-success[disabled], .w4wfaq-wrapper fieldset[disabled] .btn-success, .w4wfaq-wrapper .btn-success.disabled:hover, .w4wfaq-wrapper .btn-success[disabled]:hover, .w4wfaq-wrapper fieldset[disabled] .btn-success:hover, .w4wfaq-wrapper .btn-success.disabled:focus, .w4wfaq-wrapper .btn-success[disabled]:focus, .w4wfaq-wrapper fieldset[disabled] .btn-success:focus, .w4wfaq-wrapper .btn-success.disabled:active, .w4wfaq-wrapper .btn-success[disabled]:active, .w4wfaq-wrapper fieldset[disabled] .btn-success:active, .w4wfaq-wrapper .btn-success.disabled.active, .w4wfaq-wrapper .btn-success[disabled].active, .w4wfaq-wrapper fieldset[disabled] .btn-success.active { background-color: #5cb85c; border-color: #4cae4c; }
.w4wfaq-wrapper .btn-success .badge { color: #5cb85c; background-color: #ffffff; }
.w4wfaq-wrapper .btn-info { color: #ffffff; background-color: #5bc0de; border-color: #46b8da; }
.w4wfaq-wrapper .btn-info:hover, .w4wfaq-wrapper .btn-info:focus, .w4wfaq-wrapper .btn-info:active, .w4wfaq-wrapper .btn-info.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-info { color: #ffffff; background-color: #31b0d5; border-color: #269abc; }
.w4wfaq-wrapper .btn-info:active, .w4wfaq-wrapper .btn-info.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-info { background-image: none; }
.w4wfaq-wrapper .btn-info.disabled, .w4wfaq-wrapper .btn-info[disabled], .w4wfaq-wrapper fieldset[disabled] .btn-info, .w4wfaq-wrapper .btn-info.disabled:hover, .w4wfaq-wrapper .btn-info[disabled]:hover, .w4wfaq-wrapper fieldset[disabled] .btn-info:hover, .w4wfaq-wrapper .btn-info.disabled:focus, .w4wfaq-wrapper .btn-info[disabled]:focus, .w4wfaq-wrapper fieldset[disabled] .btn-info:focus, .w4wfaq-wrapper .btn-info.disabled:active, .w4wfaq-wrapper .btn-info[disabled]:active, .w4wfaq-wrapper fieldset[disabled] .btn-info:active, .w4wfaq-wrapper .btn-info.disabled.active, .w4wfaq-wrapper .btn-info[disabled].active, .w4wfaq-wrapper fieldset[disabled] .btn-info.active { background-color: #5bc0de; border-color: #46b8da; }
.w4wfaq-wrapper .btn-info .badge { color: #5bc0de; background-color: #ffffff; }
.w4wfaq-wrapper .btn-warning { color: #ffffff; background-color: #f0ad4e; border-color: #eea236; }
.w4wfaq-wrapper .btn-warning:hover, .w4wfaq-wrapper .btn-warning:focus, .w4wfaq-wrapper .btn-warning:active, .w4wfaq-wrapper .btn-warning.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-warning { color: #ffffff; background-color: #ec971f; border-color: #d58512; }
.w4wfaq-wrapper .btn-warning:active, .w4wfaq-wrapper .btn-warning.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-warning { background-image: none; }
.w4wfaq-wrapper .btn-warning.disabled, .w4wfaq-wrapper .btn-warning[disabled], .w4wfaq-wrapper fieldset[disabled] .btn-warning, .w4wfaq-wrapper .btn-warning.disabled:hover, .w4wfaq-wrapper .btn-warning[disabled]:hover, .w4wfaq-wrapper fieldset[disabled] .btn-warning:hover, .w4wfaq-wrapper .btn-warning.disabled:focus, .w4wfaq-wrapper .btn-warning[disabled]:focus, .w4wfaq-wrapper fieldset[disabled] .btn-warning:focus, .w4wfaq-wrapper .btn-warning.disabled:active, .w4wfaq-wrapper .btn-warning[disabled]:active, .w4wfaq-wrapper fieldset[disabled] .btn-warning:active, .w4wfaq-wrapper .btn-warning.disabled.active, .w4wfaq-wrapper .btn-warning[disabled].active, .w4wfaq-wrapper fieldset[disabled] .btn-warning.active { background-color: #f0ad4e; border-color: #eea236; }
.w4wfaq-wrapper .btn-warning .badge { color: #f0ad4e; background-color: #ffffff; }
.w4wfaq-wrapper .btn-danger { color: #ffffff; background-color: #d9534f; border-color: #d43f3a; }
.w4wfaq-wrapper .btn-danger:hover, .w4wfaq-wrapper .btn-danger:focus, .w4wfaq-wrapper .btn-danger:active, .w4wfaq-wrapper .btn-danger.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-danger { color: #ffffff; background-color: #c9302c; border-color: #ac2925; }
.w4wfaq-wrapper .btn-danger:active, .w4wfaq-wrapper .btn-danger.active, .w4wfaq-wrapper .open > .dropdown-toggle.btn-danger { background-image: none; }
.w4wfaq-wrapper .btn-danger.disabled, .w4wfaq-wrapper .btn-danger[disabled], .w4wfaq-wrapper fieldset[disabled] .btn-danger, .w4wfaq-wrapper .btn-danger.disabled:hover, .w4wfaq-wrapper .btn-danger[disabled]:hover, .w4wfaq-wrapper fieldset[disabled] .btn-danger:hover, .w4wfaq-wrapper .btn-danger.disabled:focus, .w4wfaq-wrapper .btn-danger[disabled]:focus, .w4wfaq-wrapper fieldset[disabled] .btn-danger:focus, .w4wfaq-wrapper .btn-danger.disabled:active, .w4wfaq-wrapper .btn-danger[disabled]:active, .w4wfaq-wrapper fieldset[disabled] .btn-danger:active, .w4wfaq-wrapper .btn-danger.disabled.active, .w4wfaq-wrapper .btn-danger[disabled].active, .w4wfaq-wrapper fieldset[disabled] .btn-danger.active { background-color: #d9534f; border-color: #d43f3a; }
.w4wfaq-wrapper .btn-danger .badge { color: #d9534f; background-color: #ffffff; }
.w4wfaq-wrapper .btn-link { color: #428bca; font-weight: normal; cursor: pointer; border-radius: 0; }
.w4wfaq-wrapper .btn-link, .w4wfaq-wrapper .btn-link:active, .w4wfaq-wrapper .btn-link[disabled], .w4wfaq-wrapper fieldset[disabled] .btn-link { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
.w4wfaq-wrapper .btn-link, .w4wfaq-wrapper .btn-link:hover, .w4wfaq-wrapper .btn-link:focus, .w4wfaq-wrapper .btn-link:active { border-color: transparent; }
.w4wfaq-wrapper .btn-link:hover, .w4wfaq-wrapper .btn-link:focus { color: #2a6496; text-decoration: underline; background-color: transparent; }
.w4wfaq-wrapper .btn-link[disabled]:hover, .w4wfaq-wrapper fieldset[disabled] .btn-link:hover, .w4wfaq-wrapper .btn-link[disabled]:focus, .w4wfaq-wrapper fieldset[disabled] .btn-link:focus { color: #777777; text-decoration: none; }
.w4wfaq-wrapper .btn-lg { padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 6px; }
.w4wfaq-wrapper .btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.w4wfaq-wrapper .btn-xs { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.w4wfaq-wrapper .btn-block { display: block; width: 100%; }
.w4wfaq-wrapper .btn-block + .btn-block { margin-top: 5px; }
.w4wfaq-wrapper input[type="submit"].btn-block, .w4wfaq-wrapper input[type="reset"].btn-block, .w4wfaq-wrapper input[type="button"].btn-block { width: 100%; }
.w4wfaq-wrapper .fade { opacity: 0; -webkit-transition: opacity 0.15s linear; -o-transition: opacity 0.15s linear; transition: opacity 0.15s linear; }
.w4wfaq-wrapper .fade.in { opacity: 1; }
.w4wfaq-wrapper .collapse { display: none; }
.w4wfaq-wrapper .collapse.in { display: block; }
.w4wfaq-wrapper tr.collapse.in { display: table-row; }
.w4wfaq-wrapper tbody.collapse.in { display: table-row-group; }
.w4wfaq-wrapper .collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition: height 0.35s ease; -o-transition: height 0.35s ease; transition: height 0.35s ease; }
.w4wfaq-wrapper .nav { margin-bottom: 0; padding-left: 0; list-style: none; }
.w4wfaq-wrapper .nav > li { position: relative; display: block; }
.w4wfaq-wrapper .nav > li > a { position: relative; display: block; padding: 10px 15px; }
.w4wfaq-wrapper .nav > li > a:hover, .w4wfaq-wrapper .nav > li > a:focus { text-decoration: none; background-color: #eeeeee; }
.w4wfaq-wrapper .nav > li.disabled > a { color: #777777; }
.w4wfaq-wrapper .nav > li.disabled > a:hover, .w4wfaq-wrapper .nav > li.disabled > a:focus { color: #777777; text-decoration: none; background-color: transparent; cursor: not-allowed; }
.w4wfaq-wrapper .nav .open > a, .w4wfaq-wrapper .nav .open > a:hover, .w4wfaq-wrapper .nav .open > a:focus { background-color: #eeeeee; border-color: #428bca; }
.w4wfaq-wrapper .nav .nav-divider { height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5; }
.w4wfaq-wrapper .nav > li > a > img { max-width: none; }
.w4wfaq-wrapper .nav-tabs { border-bottom: 1px solid #dddddd; }
.w4wfaq-wrapper .nav-tabs > li { float: left; margin-bottom: -1px; }
.w4wfaq-wrapper .nav-tabs > li > a { margin-right: 2px; line-height: 1.42857143; border: 1px solid transparent; border-radius: 4px 4px 0 0; }
.w4wfaq-wrapper .nav-tabs > li > a:hover { border-color: #eeeeee #eeeeee #dddddd; }
.w4wfaq-wrapper .nav-tabs > li.active > a, .w4wfaq-wrapper .nav-tabs > li.active > a:hover, .w4wfaq-wrapper .nav-tabs > li.active > a:focus { color: #555555; background-color: #ffffff; border: 1px solid #dddddd; border-bottom-color: transparent; cursor: default; }
.w4wfaq-wrapper .nav-tabs.nav-justified { width: 100%; border-bottom: 0; }
.w4wfaq-wrapper .nav-tabs.nav-justified > li { float: none; }
.w4wfaq-wrapper .nav-tabs.nav-justified > li > a { text-align: center; margin-bottom: 5px; }
.w4wfaq-wrapper .nav-tabs.nav-justified > .dropdown .dropdown-menu { top: auto; left: auto; }
@media (min-width: 768px) { .w4wfaq-wrapper .nav-tabs.nav-justified > li { display: table-cell; width: 1%; }
  .w4wfaq-wrapper .nav-tabs.nav-justified > li > a { margin-bottom: 0; } }
.w4wfaq-wrapper .nav-tabs.nav-justified > li > a { margin-right: 0; border-radius: 4px; }
.w4wfaq-wrapper .nav-tabs.nav-justified > .active > a, .w4wfaq-wrapper .nav-tabs.nav-justified > .active > a:hover, .w4wfaq-wrapper .nav-tabs.nav-justified > .active > a:focus { border: 1px solid #dddddd; }
@media (min-width: 768px) { .w4wfaq-wrapper .nav-tabs.nav-justified > li > a { border-bottom: 1px solid #dddddd; border-radius: 4px 4px 0 0; }
  .w4wfaq-wrapper .nav-tabs.nav-justified > .active > a, .w4wfaq-wrapper .nav-tabs.nav-justified > .active > a:hover, .w4wfaq-wrapper .nav-tabs.nav-justified > .active > a:focus { border-bottom-color: #ffffff; } }
.w4wfaq-wrapper .nav-pills > li { float: left; }
.w4wfaq-wrapper .nav-pills > li > a { border-radius: 4px; }
.w4wfaq-wrapper .nav-pills > li + li { margin-left: 2px; }
.w4wfaq-wrapper .nav-pills > li.active > a, .w4wfaq-wrapper .nav-pills > li.active > a:hover, .w4wfaq-wrapper .nav-pills > li.active > a:focus { color: #ffffff; background-color: #428bca; }
.w4wfaq-wrapper .nav-stacked > li { float: none; }
.w4wfaq-wrapper .nav-stacked > li + li { margin-top: 2px; margin-left: 0; }
.w4wfaq-wrapper .nav-justified { width: 100%; }
.w4wfaq-wrapper .nav-justified > li { float: none; }
.w4wfaq-wrapper .nav-justified > li > a { text-align: center; margin-bottom: 5px; }
.w4wfaq-wrapper .nav-justified > .dropdown .dropdown-menu { top: auto; left: auto; }
@media (min-width: 768px) { .w4wfaq-wrapper .nav-justified > li { display: table-cell; width: 1%; }
  .w4wfaq-wrapper .nav-justified > li > a { margin-bottom: 0; } }
.w4wfaq-wrapper .nav-tabs-justified { border-bottom: 0; }
.w4wfaq-wrapper .nav-tabs-justified > li > a { margin-right: 0; border-radius: 4px; }
.w4wfaq-wrapper .nav-tabs-justified > .active > a, .w4wfaq-wrapper .nav-tabs-justified > .active > a:hover, .w4wfaq-wrapper .nav-tabs-justified > .active > a:focus { border: 1px solid #dddddd; }
@media (min-width: 768px) { .w4wfaq-wrapper .nav-tabs-justified > li > a { border-bottom: 1px solid #dddddd; border-radius: 4px 4px 0 0; }
  .w4wfaq-wrapper .nav-tabs-justified > .active > a, .w4wfaq-wrapper .nav-tabs-justified > .active > a:hover, .w4wfaq-wrapper .nav-tabs-justified > .active > a:focus { border-bottom-color: #ffffff; } }
.w4wfaq-wrapper .tab-content > .tab-pane { display: none; }
.w4wfaq-wrapper .tab-content > .active { display: block; }
.w4wfaq-wrapper .nav-tabs .dropdown-menu { margin-top: -1px; border-top-right-radius: 0; border-top-left-radius: 0; }
.w4wfaq-wrapper .panel { margin-bottom: 20px; background-color: #ffffff; border: 1px solid transparent; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
.w4wfaq-wrapper .panel-body { padding: 15px; }
.w4wfaq-wrapper .panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent; border-top-right-radius: 3px; border-top-left-radius: 3px; }
.w4wfaq-wrapper .panel-heading > .dropdown .dropdown-toggle { color: inherit; }
.w4wfaq-wrapper .panel-title { margin-top: 0; margin-bottom: 0; font-size: 16px; color: inherit; }
.w4wfaq-wrapper .panel-title > a { color: inherit; }
.w4wfaq-wrapper .panel-footer { padding: 10px 15px; background-color: #f5f5f5; border-top: 1px solid #dddddd; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.w4wfaq-wrapper .panel > .list-group { margin-bottom: 0; }
.w4wfaq-wrapper .panel > .list-group .list-group-item { border-width: 1px 0; border-radius: 0; }
.w4wfaq-wrapper .panel > .list-group:first-child .list-group-item:first-child { border-top: 0; border-top-right-radius: 3px; border-top-left-radius: 3px; }
.w4wfaq-wrapper .panel > .list-group:last-child .list-group-item:last-child { border-bottom: 0; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.w4wfaq-wrapper .panel-heading + .list-group .list-group-item:first-child { border-top-width: 0; }
.w4wfaq-wrapper .list-group + .panel-footer { border-top-width: 0; }
.w4wfaq-wrapper .panel > .table, .w4wfaq-wrapper .panel > .table-responsive > .table, .w4wfaq-wrapper .panel > .panel-collapse > .table { margin-bottom: 0; }
.w4wfaq-wrapper .panel > .table:first-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child { border-top-right-radius: 3px; border-top-left-radius: 3px; }
.w4wfaq-wrapper .panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .w4wfaq-wrapper .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .w4wfaq-wrapper .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .w4wfaq-wrapper .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child { border-top-left-radius: 3px; }
.w4wfaq-wrapper .panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .w4wfaq-wrapper .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .w4wfaq-wrapper .panel > .table:first-child > thead:first-child > tr:first-child th:last-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .w4wfaq-wrapper .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .w4wfaq-wrapper .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child { border-top-right-radius: 3px; }
.w4wfaq-wrapper .panel > .table:last-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.w4wfaq-wrapper .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .w4wfaq-wrapper .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .w4wfaq-wrapper .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .w4wfaq-wrapper .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child { border-bottom-left-radius: 3px; }
.w4wfaq-wrapper .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .w4wfaq-wrapper .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .w4wfaq-wrapper .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .w4wfaq-wrapper .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .w4wfaq-wrapper .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child { border-bottom-right-radius: 3px; }
.w4wfaq-wrapper .panel > .panel-body + .table, .w4wfaq-wrapper .panel > .panel-body + .table-responsive { border-top: 1px solid #dddddd; }
.w4wfaq-wrapper .panel > .table > tbody:first-child > tr:first-child th, .w4wfaq-wrapper .panel > .table > tbody:first-child > tr:first-child td { border-top: 0; }
.w4wfaq-wrapper .panel > .table-bordered, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered { border: 0; }
.w4wfaq-wrapper .panel > .table-bordered > thead > tr > th:first-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > thead > tr > th:first-child, .w4wfaq-wrapper .panel > .table-bordered > tbody > tr > th:first-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child, .w4wfaq-wrapper .panel > .table-bordered > tfoot > tr > th:first-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child, .w4wfaq-wrapper .panel > .table-bordered > thead > tr > td:first-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > thead > tr > td:first-child, .w4wfaq-wrapper .panel > .table-bordered > tbody > tr > td:first-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child, .w4wfaq-wrapper .panel > .table-bordered > tfoot > tr > td:first-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child { border-left: 0; }
.w4wfaq-wrapper .panel > .table-bordered > thead > tr > th:last-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > thead > tr > th:last-child, .w4wfaq-wrapper .panel > .table-bordered > tbody > tr > th:last-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, .w4wfaq-wrapper .panel > .table-bordered > tfoot > tr > th:last-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, .w4wfaq-wrapper .panel > .table-bordered > thead > tr > td:last-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, .w4wfaq-wrapper .panel > .table-bordered > tbody > tr > td:last-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, .w4wfaq-wrapper .panel > .table-bordered > tfoot > tr > td:last-child, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child { border-right: 0; }
.w4wfaq-wrapper .panel > .table-bordered > thead > tr:first-child > td, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > thead > tr:first-child > td, .w4wfaq-wrapper .panel > .table-bordered > tbody > tr:first-child > td, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td, .w4wfaq-wrapper .panel > .table-bordered > thead > tr:first-child > th, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > thead > tr:first-child > th, .w4wfaq-wrapper .panel > .table-bordered > tbody > tr:first-child > th, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th { border-bottom: 0; }
.w4wfaq-wrapper .panel > .table-bordered > tbody > tr:last-child > td, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td, .w4wfaq-wrapper .panel > .table-bordered > tfoot > tr:last-child > td, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td, .w4wfaq-wrapper .panel > .table-bordered > tbody > tr:last-child > th, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th, .w4wfaq-wrapper .panel > .table-bordered > tfoot > tr:last-child > th, .w4wfaq-wrapper .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th { border-bottom: 0; }
.w4wfaq-wrapper .panel > .table-responsive { border: 0; margin-bottom: 0; }
.w4wfaq-wrapper .panel-group { margin-bottom: 20px; }
.w4wfaq-wrapper .panel-group .panel { margin-bottom: 0; border-radius: 4px; }
.w4wfaq-wrapper .panel-group .panel + .panel { margin-top: 5px; }
.w4wfaq-wrapper .panel-group .panel-heading { border-bottom: 0; }
.w4wfaq-wrapper .panel-group .panel-heading + .panel-collapse > .panel-body { border-top: 1px solid #dddddd; }
.w4wfaq-wrapper .panel-group .panel-footer { border-top: 0; }
.w4wfaq-wrapper .panel-group .panel-footer + .panel-collapse .panel-body { border-bottom: 1px solid #dddddd; }
.w4wfaq-wrapper .panel-default { border-color: #dddddd; }
.w4wfaq-wrapper .panel-default > .panel-heading { color: #333333; background-color: #f5f5f5; border-color: #dddddd; }
.w4wfaq-wrapper .panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color: #dddddd; }
.w4wfaq-wrapper .panel-default > .panel-heading .badge { color: #f5f5f5; background-color: #333333; }
.w4wfaq-wrapper .panel-default > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #dddddd; }
.w4wfaq-wrapper .panel-primary { border-color: #428bca; }
.w4wfaq-wrapper .panel-primary > .panel-heading { color: #ffffff; background-color: #428bca; border-color: #428bca; }
.w4wfaq-wrapper .panel-primary > .panel-heading + .panel-collapse > .panel-body { border-top-color: #428bca; }
.w4wfaq-wrapper .panel-primary > .panel-heading .badge { color: #428bca; background-color: #ffffff; }
.w4wfaq-wrapper .panel-primary > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #428bca; }
.w4wfaq-wrapper .panel-success { border-color: #d6e9c6; }
.w4wfaq-wrapper .panel-success > .panel-heading { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.w4wfaq-wrapper .panel-success > .panel-heading + .panel-collapse > .panel-body { border-top-color: #d6e9c6; }
.w4wfaq-wrapper .panel-success > .panel-heading .badge { color: #dff0d8; background-color: #3c763d; }
.w4wfaq-wrapper .panel-success > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #d6e9c6; }
.w4wfaq-wrapper .panel-info { border-color: #bce8f1; }
.w4wfaq-wrapper .panel-info > .panel-heading { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
.w4wfaq-wrapper .panel-info > .panel-heading + .panel-collapse > .panel-body { border-top-color: #bce8f1; }
.w4wfaq-wrapper .panel-info > .panel-heading .badge { color: #d9edf7; background-color: #31708f; }
.w4wfaq-wrapper .panel-info > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #bce8f1; }
.w4wfaq-wrapper .panel-warning { border-color: #faebcc; }
.w4wfaq-wrapper .panel-warning > .panel-heading { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.w4wfaq-wrapper .panel-warning > .panel-heading + .panel-collapse > .panel-body { border-top-color: #faebcc; }
.w4wfaq-wrapper .panel-warning > .panel-heading .badge { color: #fcf8e3; background-color: #8a6d3b; }
.w4wfaq-wrapper .panel-warning > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #faebcc; }
.w4wfaq-wrapper .panel-danger { border-color: #ebccd1; }
.w4wfaq-wrapper .panel-danger > .panel-heading { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.w4wfaq-wrapper .panel-danger > .panel-heading + .panel-collapse > .panel-body { border-top-color: #ebccd1; }
.w4wfaq-wrapper .panel-danger > .panel-heading .badge { color: #f2dede; background-color: #a94442; }
.w4wfaq-wrapper .panel-danger > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #ebccd1; }
.w4wfaq-wrapper .embed-responsive { position: relative; display: block; height: 0; padding: 0; overflow: hidden; }
.w4wfaq-wrapper .embed-responsive .embed-responsive-item, .w4wfaq-wrapper .embed-responsive iframe, .w4wfaq-wrapper .embed-responsive embed, .w4wfaq-wrapper .embed-responsive object { position: absolute; top: 0; left: 0; bottom: 0; height: 100%; width: 100%; border: 0; }
.w4wfaq-wrapper .embed-responsive.embed-responsive-16by9 { padding-bottom: 56.25%; }
.w4wfaq-wrapper .embed-responsive.embed-responsive-4by3 { padding-bottom: 75%; }
.w4wfaq-wrapper .tooltip { position: absolute; z-index: 1070; display: block; visibility: visible; font-size: 12px; line-height: 1.4; opacity: 0; filter: alpha(opacity=0); }
.w4wfaq-wrapper .tooltip.in { opacity: 0.9; filter: alpha(opacity=90); }
.w4wfaq-wrapper .tooltip.top { margin-top: -3px; padding: 5px 0; }
.w4wfaq-wrapper .tooltip.right { margin-left: 3px; padding: 0 5px; }
.w4wfaq-wrapper .tooltip.bottom { margin-top: 3px; padding: 5px 0; }
.w4wfaq-wrapper .tooltip.left { margin-left: -3px; padding: 0 5px; }
.w4wfaq-wrapper .tooltip-inner { max-width: 200px; padding: 3px 8px; color: #ffffff; text-align: center; text-decoration: none; background-color: #000000; border-radius: 4px; }
.w4wfaq-wrapper .tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }
.w4wfaq-wrapper .tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-width: 5px 5px 0; border-top-color: #000000; }
.w4wfaq-wrapper .tooltip.top-left .tooltip-arrow { bottom: 0; left: 5px; border-width: 5px 5px 0; border-top-color: #000000; }
.w4wfaq-wrapper .tooltip.top-right .tooltip-arrow { bottom: 0; right: 5px; border-width: 5px 5px 0; border-top-color: #000000; }
.w4wfaq-wrapper .tooltip.right .tooltip-arrow { top: 50%; left: 0; margin-top: -5px; border-width: 5px 5px 5px 0; border-right-color: #000000; }
.w4wfaq-wrapper .tooltip.left .tooltip-arrow { top: 50%; right: 0; margin-top: -5px; border-width: 5px 0 5px 5px; border-left-color: #000000; }
.w4wfaq-wrapper .tooltip.bottom .tooltip-arrow { top: 0; left: 50%; margin-left: -5px; border-width: 0 5px 5px; border-bottom-color: #000000; }
.w4wfaq-wrapper .tooltip.bottom-left .tooltip-arrow { top: 0; left: 5px; border-width: 0 5px 5px; border-bottom-color: #000000; }
.w4wfaq-wrapper .tooltip.bottom-right .tooltip-arrow { top: 0; right: 5px; border-width: 0 5px 5px; border-bottom-color: #000000; }
.w4wfaq-wrapper .clearfix:before, .w4wfaq-wrapper .clearfix:after, .w4wfaq-wrapper .container:before, .w4wfaq-wrapper .container:after, .w4wfaq-wrapper .container-fluid:before, .w4wfaq-wrapper .container-fluid:after, .w4wfaq-wrapper .row:before, .w4wfaq-wrapper .row:after, .w4wfaq-wrapper .nav:before, .w4wfaq-wrapper .nav:after, .w4wfaq-wrapper .panel-body:before, .w4wfaq-wrapper .panel-body:after { content: " "; display: table; }
.w4wfaq-wrapper .clearfix:after, .w4wfaq-wrapper .container:after, .w4wfaq-wrapper .container-fluid:after, .w4wfaq-wrapper .row:after, .w4wfaq-wrapper .nav:after, .w4wfaq-wrapper .panel-body:after { clear: both; }
.w4wfaq-wrapper .center-block { display: block; margin-left: auto; margin-right: auto; }
.w4wfaq-wrapper .pull-right { float: right !important; }
.w4wfaq-wrapper .pull-left { float: left !important; }
.w4wfaq-wrapper .hide { display: none !important; }
.w4wfaq-wrapper .show { display: block !important; }
.w4wfaq-wrapper .invisible { visibility: hidden; }
.w4wfaq-wrapper .text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.w4wfaq-wrapper .hidden { display: none !important; visibility: hidden !important; }
.w4wfaq-wrapper .affix { position: fixed; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.w4wfaq-wrapper .visible-xs, .w4wfaq-wrapper .visible-sm, .w4wfaq-wrapper .visible-md, .w4wfaq-wrapper .visible-lg { display: none !important; }
.w4wfaq-wrapper .visible-xs-block, .w4wfaq-wrapper .visible-xs-inline, .w4wfaq-wrapper .visible-xs-inline-block, .w4wfaq-wrapper .visible-sm-block, .w4wfaq-wrapper .visible-sm-inline, .w4wfaq-wrapper .visible-sm-inline-block, .w4wfaq-wrapper .visible-md-block, .w4wfaq-wrapper .visible-md-inline, .w4wfaq-wrapper .visible-md-inline-block, .w4wfaq-wrapper .visible-lg-block, .w4wfaq-wrapper .visible-lg-inline, .w4wfaq-wrapper .visible-lg-inline-block { display: none !important; }
@media (max-width: 767px) { .w4wfaq-wrapper .visible-xs { display: block !important; }
  .w4wfaq-wrapper table.visible-xs { display: table; }
  .w4wfaq-wrapper tr.visible-xs { display: table-row !important; }
  .w4wfaq-wrapper th.visible-xs, .w4wfaq-wrapper td.visible-xs { display: table-cell !important; } }
@media (max-width: 767px) { .w4wfaq-wrapper .visible-xs-block { display: block !important; } }
@media (max-width: 767px) { .w4wfaq-wrapper .visible-xs-inline { display: inline !important; } }
@media (max-width: 767px) { .w4wfaq-wrapper .visible-xs-inline-block { display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) { .w4wfaq-wrapper .visible-sm { display: block !important; }
  .w4wfaq-wrapper table.visible-sm { display: table; }
  .w4wfaq-wrapper tr.visible-sm { display: table-row !important; }
  .w4wfaq-wrapper th.visible-sm, .w4wfaq-wrapper td.visible-sm { display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) { .w4wfaq-wrapper .visible-sm-block { display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) { .w4wfaq-wrapper .visible-sm-inline { display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) { .w4wfaq-wrapper .visible-sm-inline-block { display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .w4wfaq-wrapper .visible-md { display: block !important; }
  .w4wfaq-wrapper table.visible-md { display: table; }
  .w4wfaq-wrapper tr.visible-md { display: table-row !important; }
  .w4wfaq-wrapper th.visible-md, .w4wfaq-wrapper td.visible-md { display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .w4wfaq-wrapper .visible-md-block { display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .w4wfaq-wrapper .visible-md-inline { display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .w4wfaq-wrapper .visible-md-inline-block { display: inline-block !important; } }
@media (min-width: 1200px) { .w4wfaq-wrapper .visible-lg { display: block !important; }
  .w4wfaq-wrapper table.visible-lg { display: table; }
  .w4wfaq-wrapper tr.visible-lg { display: table-row !important; }
  .w4wfaq-wrapper th.visible-lg, .w4wfaq-wrapper td.visible-lg { display: table-cell !important; } }
@media (min-width: 1200px) { .w4wfaq-wrapper .visible-lg-block { display: block !important; } }
@media (min-width: 1200px) { .w4wfaq-wrapper .visible-lg-inline { display: inline !important; } }
@media (min-width: 1200px) { .w4wfaq-wrapper .visible-lg-inline-block { display: inline-block !important; } }
@media (max-width: 767px) { .w4wfaq-wrapper .hidden-xs { display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) { .w4wfaq-wrapper .hidden-sm { display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .w4wfaq-wrapper .hidden-md { display: none !important; } }
@media (min-width: 1200px) { .w4wfaq-wrapper .hidden-lg { display: none !important; } }
.w4wfaq-wrapper .visible-print { display: none !important; }
@media print { .w4wfaq-wrapper .visible-print { display: block !important; }
  .w4wfaq-wrapper table.visible-print { display: table; }
  .w4wfaq-wrapper tr.visible-print { display: table-row !important; }
  .w4wfaq-wrapper th.visible-print, .w4wfaq-wrapper td.visible-print { display: table-cell !important; } }
.w4wfaq-wrapper .visible-print-block { display: none !important; }
@media print { .w4wfaq-wrapper .visible-print-block { display: block !important; } }
.w4wfaq-wrapper .visible-print-inline { display: none !important; }
@media print { .w4wfaq-wrapper .visible-print-inline { display: inline !important; } }
.w4wfaq-wrapper .visible-print-inline-block { display: none !important; }
@media print { .w4wfaq-wrapper .visible-print-inline-block { display: inline-block !important; } }
@media print { .w4wfaq-wrapper .hidden-print { display: none !important; } }
.w4wfaq-wrapper .btn-default, .w4wfaq-wrapper .btn-primary, .w4wfaq-wrapper .btn-success, .w4wfaq-wrapper .btn-info, .w4wfaq-wrapper .btn-warning, .w4wfaq-wrapper .btn-danger { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
.w4wfaq-wrapper .btn-default:active, .w4wfaq-wrapper .btn-primary:active, .w4wfaq-wrapper .btn-success:active, .w4wfaq-wrapper .btn-info:active, .w4wfaq-wrapper .btn-warning:active, .w4wfaq-wrapper .btn-danger:active, .w4wfaq-wrapper .btn-default.active, .w4wfaq-wrapper .btn-primary.active, .w4wfaq-wrapper .btn-success.active, .w4wfaq-wrapper .btn-info.active, .w4wfaq-wrapper .btn-warning.active, .w4wfaq-wrapper .btn-danger.active { -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.w4wfaq-wrapper .btn:active, .w4wfaq-wrapper .btn.active { background-image: none; }
.w4wfaq-wrapper .btn-default { background-image: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%); background-image: -o-linear-gradient(top, white 0%, #e0e0e0 100%); background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #dbdbdb; text-shadow: 0 1px 0 #fff; border-color: #ccc; }
.w4wfaq-wrapper .btn-default:hover, .w4wfaq-wrapper .btn-default:focus { background-color: #e0e0e0; background-position: 0 -15px; }
.w4wfaq-wrapper .btn-default:active, .w4wfaq-wrapper .btn-default.active { background-color: #e0e0e0; border-color: #dbdbdb; }
.w4wfaq-wrapper .btn-default:disabled, .w4wfaq-wrapper .btn-default[disabled] { background-color: #e0e0e0; background-image: none; }
.w4wfaq-wrapper .btn-primary { background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%); background-image: -o-linear-gradient(top, #428bca 0%, #2d6ca2 100%); background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #2b669a; }
.w4wfaq-wrapper .btn-primary:hover, .w4wfaq-wrapper .btn-primary:focus { background-color: #2d6ca2; background-position: 0 -15px; }
.w4wfaq-wrapper .btn-primary:active, .w4wfaq-wrapper .btn-primary.active { background-color: #2d6ca2; border-color: #2b669a; }
.w4wfaq-wrapper .btn-primary:disabled, .w4wfaq-wrapper .btn-primary[disabled] { background-color: #2d6ca2; background-image: none; }
.w4wfaq-wrapper .btn-success { background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%); background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%); background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #3e8f3e; }
.w4wfaq-wrapper .btn-success:hover, .w4wfaq-wrapper .btn-success:focus { background-color: #419641; background-position: 0 -15px; }
.w4wfaq-wrapper .btn-success:active, .w4wfaq-wrapper .btn-success.active { background-color: #419641; border-color: #3e8f3e; }
.w4wfaq-wrapper .btn-success:disabled, .w4wfaq-wrapper .btn-success[disabled] { background-color: #419641; background-image: none; }
.w4wfaq-wrapper .btn-info { background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%); background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%); background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #28a4c9; }
.w4wfaq-wrapper .btn-info:hover, .w4wfaq-wrapper .btn-info:focus { background-color: #2aabd2; background-position: 0 -15px; }
.w4wfaq-wrapper .btn-info:active, .w4wfaq-wrapper .btn-info.active { background-color: #2aabd2; border-color: #28a4c9; }
.w4wfaq-wrapper .btn-info:disabled, .w4wfaq-wrapper .btn-info[disabled] { background-color: #2aabd2; background-image: none; }
.w4wfaq-wrapper .btn-warning { background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%); background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%); background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #e38d13; }
.w4wfaq-wrapper .btn-warning:hover, .w4wfaq-wrapper .btn-warning:focus { background-color: #eb9316; background-position: 0 -15px; }
.w4wfaq-wrapper .btn-warning:active, .w4wfaq-wrapper .btn-warning.active { background-color: #eb9316; border-color: #e38d13; }
.w4wfaq-wrapper .btn-warning:disabled, .w4wfaq-wrapper .btn-warning[disabled] { background-color: #eb9316; background-image: none; }
.w4wfaq-wrapper .btn-danger { background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%); background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%); background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #b92c28; }
.w4wfaq-wrapper .btn-danger:hover, .w4wfaq-wrapper .btn-danger:focus { background-color: #c12e2a; background-position: 0 -15px; }
.w4wfaq-wrapper .btn-danger:active, .w4wfaq-wrapper .btn-danger.active { background-color: #c12e2a; border-color: #b92c28; }
.w4wfaq-wrapper .btn-danger:disabled, .w4wfaq-wrapper .btn-danger[disabled] { background-color: #c12e2a; background-image: none; }
.w4wfaq-wrapper .thumbnail, .w4wfaq-wrapper .img-thumbnail { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }
.w4wfaq-wrapper .dropdown-menu > li > a:hover, .w4wfaq-wrapper .dropdown-menu > li > a:focus { background-image: -webkit-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%); background-image: -o-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%); background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0); background-color: #e8e8e8; }
.w4wfaq-wrapper .dropdown-menu > .active > a, .w4wfaq-wrapper .dropdown-menu > .active > a:hover, .w4wfaq-wrapper .dropdown-menu > .active > a:focus { background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%); background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%); background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0); background-color: #357ebd; }
.w4wfaq-wrapper .navbar-default { background-image: -webkit-linear-gradient(top, white 0%, #f8f8f8 100%); background-image: -o-linear-gradient(top, white 0%, #f8f8f8 100%); background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075); }
.w4wfaq-wrapper .navbar-default .navbar-nav > .active > a { background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%); background-image: -o-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%); background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0); -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075); box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075); }
.w4wfaq-wrapper .navbar-brand, .w4wfaq-wrapper .navbar-nav > li > a { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }
.w4wfaq-wrapper .navbar-inverse { background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%); background-image: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%); background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.w4wfaq-wrapper .navbar-inverse .navbar-nav > .active > a { background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%); background-image: -o-linear-gradient(top, #222222 0%, #282828 100%); background-image: linear-gradient(to bottom, #222222 0%, #282828 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0); -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25); box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25); }
.w4wfaq-wrapper .navbar-inverse .navbar-brand, .w4wfaq-wrapper .navbar-inverse .navbar-nav > li > a { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
.w4wfaq-wrapper .navbar-static-top, .w4wfaq-wrapper .navbar-fixed-top, .w4wfaq-wrapper .navbar-fixed-bottom { border-radius: 0; }
.w4wfaq-wrapper .alert { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); }
.w4wfaq-wrapper .alert-success { background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%); background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%); background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0); border-color: #b2dba1; }
.w4wfaq-wrapper .alert-info { background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%); background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%); background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0); border-color: #9acfea; }
.w4wfaq-wrapper .alert-warning { background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%); background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%); background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0); border-color: #f5e79e; }
.w4wfaq-wrapper .alert-danger { background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%); background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%); background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0); border-color: #dca7a7; }
.w4wfaq-wrapper .progress { background-image: -webkit-linear-gradient(top, #ebebeb 0%, whitesmoke 100%); background-image: -o-linear-gradient(top, #ebebeb 0%, whitesmoke 100%); background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0); }
.w4wfaq-wrapper .progress-bar { background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%); background-image: -o-linear-gradient(top, #428bca 0%, #3071a9 100%); background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0); }
.w4wfaq-wrapper .progress-bar-success { background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%); background-image: -o-linear-gradient(top, #5cb85c 0%, #449d44 100%); background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0); }
.w4wfaq-wrapper .progress-bar-info { background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%); background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%); background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0); }
.w4wfaq-wrapper .progress-bar-warning { background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%); background-image: -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%); background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0); }
.w4wfaq-wrapper .progress-bar-danger { background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%); background-image: -o-linear-gradient(top, #d9534f 0%, #c9302c 100%); background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0); }
.w4wfaq-wrapper .progress-bar-striped { background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
.w4wfaq-wrapper .list-group { border-radius: 4px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }
.w4wfaq-wrapper .list-group-item.active, .w4wfaq-wrapper .list-group-item.active:hover, .w4wfaq-wrapper .list-group-item.active:focus { text-shadow: 0 -1px 0 #3071a9; background-image: -webkit-linear-gradient(top, #428bca 0%, #3278b3 100%); background-image: -o-linear-gradient(top, #428bca 0%, #3278b3 100%); background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0); border-color: #3278b3; }
.w4wfaq-wrapper .panel { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
.w4wfaq-wrapper .panel-default > .panel-heading { background-image: -webkit-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%); background-image: -o-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%); background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0); }
.w4wfaq-wrapper .panel-primary > .panel-heading { background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%); background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%); background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0); }
.w4wfaq-wrapper .panel-success > .panel-heading { background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%); background-image: -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%); background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0); }
.w4wfaq-wrapper .panel-info > .panel-heading { background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%); background-image: -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%); background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0); }
.w4wfaq-wrapper .panel-warning > .panel-heading { background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%); background-image: -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%); background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0); }
.w4wfaq-wrapper .panel-danger > .panel-heading { background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%); background-image: -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%); background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0); }
.w4wfaq-wrapper .well { background-image: -webkit-linear-gradient(top, #e8e8e8 0%, whitesmoke 100%); background-image: -o-linear-gradient(top, #e8e8e8 0%, whitesmoke 100%); background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0); border-color: #dcdcdc; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1); }
