/*Global Styles for w4wfaq module*/

.w4wfaq-wrapper{clear:left;}
.w4wfaq-wrapper .nav-tabs, .w4wfaq-wrapper .nav-tabs>li, .w4wfaq-wrapper .nav-tabs>li>a, .w4wfaq-wrapper .nav-tabs>li.active>a, .w4wfaq-wrapper .nav-tabs>li.active>a:hover, .w4wfaq-wrapper .nav-tabs>li.active>a:focus{margin-bottom:0;margin-left:0!important;list-style:none;border:none;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;}
.w4wfaq-wrapper .nav-tabs li{width:100%;}
.w4wfaq-wrapper ul#w4wfaq-tab{padding-left:0;}
.w4wfaq-wrapper #w4wfaq-tab>li.active>a{background-color:#eee;color:#555;}
.w4wfaq-wrapper #w4wfaq-tab>li>a{color:#2a6496;}
.w4wfaq-wrapper h4.panel-title>a:hover{text-decoration:underline;}
.w4wfaq-wrapper div.popover a.contact_link{text-decoration:underline;}
.w4wfaq-wrapper .popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;text-align:left;background-color:#ffffff;background-clip:padding-box;border:1px solid #cccccc;border:1px solid rgba(0, 0, 0, 0.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);white-space:normal;}
.w4wfaq-wrapper .popover.top{margin-top:-10px;}
.w4wfaq-wrapper .popover.right{margin-left:10px;}
.w4wfaq-wrapper .popover.bottom{margin-top:10px;}
.w4wfaq-wrapper .popover.left{margin-left:-10px;}
.w4wfaq-wrapper .popover-title{margin:0;padding:8px 14px;font-size:14px;font-weight:normal;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0;}
.w4wfaq-wrapper .popover-content{padding:9px 14px;}
.w4wfaq-wrapper .popover > .arrow, .w4wfaq-wrapper .popover > .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid;}
.w4wfaq-wrapper .popover > .arrow{border-width:11px;}
.w4wfaq-wrapper .popover > .arrow:after{border-width:10px;content:"";}
.w4wfaq-wrapper .popover.top > .arrow{left:50%;margin-left:-11px;border-bottom-width:0;border-top-color:#999999;border-top-color:rgba(0, 0, 0, 0.25);bottom:-11px;}
.w4wfaq-wrapper .popover.top > .arrow:after{content:" ";bottom:1px;margin-left:-10px;border-bottom-width:0;border-top-color:#ffffff;}
.w4wfaq-wrapper .popover.right > .arrow{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999999;border-right-color:rgba(0, 0, 0, 0.25);}
.w4wfaq-wrapper .popover.right > .arrow:after{content:" ";left:1px;bottom:-10px;border-left-width:0;border-right-color:#ffffff;}
.w4wfaq-wrapper .popover.bottom > .arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999999;border-bottom-color:rgba(0, 0, 0, 0.25);top:-11px;}
.w4wfaq-wrapper .popover.bottom > .arrow:after{content:" ";top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#ffffff;}
.w4wfaq-wrapper .popover.left > .arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999999;border-left-color:rgba(0, 0, 0, 0.25);}
.w4wfaq-wrapper .popover.left > .arrow:after{content:" ";right:1px;border-right-width:0;border-left-color:#ffffff;bottom:-10px;}
.w4wfaq-wrapper ul#w4wfaq-tab >li > a:before {width: 10px;font-size: 14px;display: inline-block;text-align: right;margin-right: 10px;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.w4wfaq-wrapper ul#w4wfaq-tab >li > a > i, .w4wfaq-wrapper #w4wfaq-tab-content h4 > a > i {font-size: 21px;vertical-align: bottom;min-width: 40px}
.w4wfaq-wrapper #w4wfaq-tab-content h4 > a > i {vertical-align: middle;}
.w4wfaq-wrapper ul#w4wfaq-tab >li > a > i.fa:before, .w4wfaq-wrapper #w4wfaq-tab-content h4 > a > i.fa:before {text-align: center;display: block;}
.w4wfaq-wrapper #w4wfaq-tab-content h4 > a {width: 100%;display: inline-block;}
.w4wfaq-wrapper #w4wfaq-tab-content h4 > a:focus, .w4wfaq-wrapper #w4wfaq-tab-content h4 > a:hover {text-decoration: none;}

.w4wfaq-wrapper #w4wfaq-tab-content h4 > span > i {font-size: 21px;vertical-align: bottom;min-width: 40px}
.w4wfaq-wrapper #w4wfaq-tab-content h4 > span > i {vertical-align: middle;}
.w4wfaq-wrapper #w4wfaq-tab-content h4 > span > i.fa:before {text-align: center;display: block;}
.w4wfaq-wrapper #w4wfaq-tab-content h4 > span {width: 100%;display: inline-block;}
