/* ADMIN CSS */

/*** BO Category ***/

i.picker-target {
  font-size: 26px;
  vertical-align: middle;
  line-height: 15px;
}

@media screen and (min-width: 1199px) {
  .w4wfaq .iconpicker-container {
    width: 30%!important;
    margin-right: 15px;
  }
}

.iconpicker-popover {
  z-index: 2;
}


/*** 1.5 FIX ***/

form#configuration_form.w4wfaq label {
  display: block;
  margin: 10px 0;
  text-align: left;
}

.iconpicker .bg-primary {
  background-color: #00aff0;
}
